Repository shortlink-org/shortlink: changes, and which Codecov flags are due for each by the changed paths.
All: backend, shortlink, frontend

ui: refactoring
  boundaries/ui-monorepo/packages/landing/tailwind.config.js
  boundaries/ui-monorepo/packages/next/package.json
  boundaries/ui-monorepo/packages/next/server/middleware/auth.ts
  boundaries/ui-monorepo/packages/next/server/server.ts
  boundaries/ui-monorepo/packages/next/tailwind.config.js
  boundaries/ui-monorepo/packages/ui-kit/src/theme/theme.ts
  boundaries/ui-monorepo/packages/ui-kit/src/ui/ScrollToTopButton/ScrollToTopButton.tsx
  boundaries/ui-monorepo/packages/ui-kit/src/ui/ToggleDarkMode/ToggleDarkMode.tsx
Due: backend, frontend

ui: refactoring
  boundaries/ui-monorepo/package.json
  boundaries/ui-monorepo/packages/ui-kit/package.json
  boundaries/ui-monorepo/pnpm-lock.yaml
Due: backend, frontend

shop boundary: add ADR's
  boundaries/shop/README.md
  boundaries/shop/docs/ADR/README.md
  boundaries/shop/docs/ADR/decisions/0001-init.md
  boundaries/shop/docs/ADR/decisions/0002-c4-model.md
  boundaries/shop/docs/ADR/decisions/0003-requirements.md
Due: backend

shop boundary: add OMS
  boundaries/shop/README.md
  boundaries/shop/docs/ADR/decisions/0001-init.md
  boundaries/shop/oms/.adr-dir
  boundaries/shop/oms/Makefile
  boundaries/shop/oms/README.md
  boundaries/shop/oms/docs/ADR/decisions/0001-init-project.md
  boundaries/shop/oms/docs/ADR/decisions/0002-c4-system.md
  boundaries/shop/oms/docs/public/logo.svg
  boundaries/shop/oms/docs/public/logo.webp
  boundaries/shop/oms/usecases/flow/README.md
  boundaries/shop/oms/usecases/refund/README.md
Due: backend

argocd: setting
  ops/Helm/addons/argo/argocd/values.yaml
Due: none

argocd: setting
  ops/Helm/addons/argo/argocd/templates/namespace.yaml
  ops/Helm/addons/argo/argocd/values.yaml
Due: none

argocd: setting
  ops/Helm/addons/argo/argocd/Chart.yaml
  ops/Helm/shortlink-auth/Chart.yaml
Due: none

argocd: setting
  ops/Helm/addons/argo/argo-rollouts/charts/argo-rollouts-2.35.1.tgz
  ops/Helm/addons/argo/argo-rollouts/charts/argo-rollouts-2.35.2.tgz
  ops/Helm/addons/argo/argocd/values.yaml
Due: none

argocd: enable dex
  ops/Helm/addons/argo/argocd/values.yaml
Due: none

argocd: setting dex
  ops/Helm/addons/argo/argocd/values.sops.yaml
Due: none

argocd: setting ARGOCD_CONTROLLER_SHARD
  ops/Helm/addons/argo/argocd/values.yaml
Due: none

argocd: setting controller
  ops/Helm/addons/argo/argocd/values.yaml
Due: none

opentelemetry-operator: setting
  ops/Helm/addons/observability/opentelemetry-operator/values.yaml
Due: none

upd deps
  boundaries/platform/backstage/packages/app/package.json
  boundaries/platform/backstage/yarn.lock
  boundaries/ui-monorepo/package.json
  boundaries/ui-monorepo/pnpm-lock.yaml
Due: backend, frontend

upd deps
  go.work.sum
Due: none

upd deps
  boundaries/ui-monorepo/pnpm-lock.yaml
Due: backend, frontend

gitlab: setting
  ops/gitlab/pipelines/flutter.yml
  ops/gitlab/pipelines/helm_deploy.yml
  ops/gitlab/templates/build.yml
Due: none

argocd: setting
  ops/Helm/addons/argo/argocd/templates/namespace.yaml
  ops/gitlab/pipelines/addons/argocd/stages/namespace.yml
Due: none

shop: improve docs
  boundaries/shop/README.md
  boundaries/shop/docs/ADR/decisions/0001-init.md
Due: backend

argocd: setting
  ops/Helm/addons/argo/argocd/redis.values.yaml
  ops/Helm/addons/argo/argocd/values.yaml
Due: none

Revert "argocd: setting"
  ops/Helm/addons/argo/argocd/redis.values.yaml
  ops/Helm/addons/argo/argocd/values.yaml
Due: none

nginx-ingress: setting
  ops/Helm/addons/gateway/nginx-ingress/values.yaml
Due: none

gitlab: setting prometheus-operator
  ops/gitlab/pipelines/addons/argocd/stages/dependencies.yml
Due: none

argo-workflow: enabled
  ops/argocd/argo-stack/argocd-workflow/application.yaml
Due: none

rabbitmq: setting
  ops/Helm/addons/mq/rabbitmq/Chart.yaml
  ops/Helm/addons/mq/rabbitmq/templates/NOTES.txt
  ops/Helm/addons/mq/rabbitmq/templates/rabbitmq-cluster.yaml
  ops/Helm/addons/mq/rabbitmq/values.yaml
Due: none

go: upd deps
  boundaries/api/api-gateway/go.mod
  boundaries/api/api-gateway/go.sum
  boundaries/billing/wallet/go.mod
  boundaries/billing/wallet/go.sum
  boundaries/link/bff/go.mod
  boundaries/link/bff/go.sum
  boundaries/link/link/go.mod
  boundaries/link/link/go.sum
  boundaries/link/supplies/knative/kafka-to-elasticsearch/go.mod
  boundaries/link/supplies/knative/kafka-to-elasticsearch/go.sum
  boundaries/marketing/report/go.mod
  boundaries/marketing/report/go.sum
  boundaries/notification/notify/go.mod
  boundaries/notification/notify/go.sum
  boundaries/platform/csi/go.mod
  boundaries/platform/csi/go.sum
  boundaries/platform/shortctl/go.mod
  boundaries/platform/shortctl/go.sum
  boundaries/shortdb/shortdb-operator/go.mod
  boundaries/shortdb/shortdb-operator/go.sum
  docs/ADR/decisions/proof/ADR-0007/go.mod
  docs/ADR/decisions/proof/ADR-0007/go.sum
  go.mod
  go.sum
  go.work
  go.work.sum
Due: backend, shortlink

ui: upd deps
  boundaries/link/proxy/pnpm-lock.yaml
  boundaries/ui-monorepo/pnpm-lock.yaml
  ops/Helm/addons/argo/argocd/charts/argo-cd-6.9.2.tgz
  ops/Helm/addons/argo/argocd/charts/argocd-image-updater-0.10.0.tgz
  ops/Helm/addons/argo/argocd/charts/redis-19.3.2.tgz
  ops/Helm/addons/argo/kargo/charts/kargo-0.6.0.tgz
  ops/Helm/addons/auth/keycloak/charts/keycloak-21.2.1.tgz
  ops/Helm/addons/auth/kratos/charts/kratos-0.42.1.tgz
  ops/Helm/addons/cert-manager/charts/cert-manager-approver-policy-v0.14.1.tgz
  ops/Helm/addons/cert-manager/charts/cert-manager-csi-driver-spiffe-v0.6.0.tgz
  ops/Helm/addons/cni/cilium/charts/cilium-1.15.5.tgz
  ops/Helm/addons/gateway/istio-gateway/charts/gateway-1.22.0.tgz
  ops/Helm/addons/gateway/istio/charts/base-1.22.0.tgz
  ops/Helm/addons/gateway/istio/charts/istiod-1.22.0.tgz
  ops/Helm/addons/gateway/kiali-operator/charts/kiali-operator-1.84.0.tgz
  ops/Helm/addons/mq/kafka/charts/strimzi-kafka-operator-helm-3-chart-0.41.0.tgz
  ops/Helm/addons/mq/rabbitmq/charts/rabbitmq-cluster-operator-4.2.9.tgz
  ops/Helm/addons/mq/temporal/charts/temporal-0.38.1.tgz
  ops/Helm/addons/observability/grafana-alloy/charts/alloy-0.3.0.tgz
  ops/Helm/addons/observability/grafana-loki/charts/loki-6.5.2.tgz
  ops/Helm/addons/observability/grafana-oncall/charts/oncall-1.5.0.tgz
  ops/Helm/addons/observability/grafana-oncall/charts/redis-19.3.2.tgz
  ops/Helm/addons/observability/grafana-tempo/charts/tempo-1.7.3.tgz
  ops/Helm/addons/observability/grafana/charts/grafana-7.3.11.tgz
  ops/Helm/addons/observability/oneuptime/charts/oneuptime-7.0.2317.tgz
  ops/Helm/addons/observability/opentelemetry-operator/charts/opentelemetry-operator-0.58.0.tgz
  ops/Helm/addons/observability/prometheus-operator/charts/kube-prometheus-stack-58.5.3.tgz
  ops/Helm/addons/observability/pyrra/charts/pyrra-0.13.1.tgz
  ops/Helm/addons/observability/testkube/charts/testkube-1.17.47.tgz
  ops/Helm/addons/observability/vector/charts/vector-0.33.0.tgz
  ops/Helm/addons/open-feature-operator/charts/open-feature-operator-v0.5.5.tgz
  ops/Helm/addons/security/kubescape/charts/kubescape-operator-1.18.13.tgz
  ops/Helm/addons/security/kyverno/charts/kyverno-3.2.2.tgz
  ops/Helm/addons/security/kyverno/charts/policy-reporter-2.23.1.tgz
  ops/Helm/addons/store/minio/charts/operator-5.0.15.tgz
  ops/Helm/addons/store/redis/charts/redis-19.3.2.tgz
  ops/Helm/addons/store/trino/charts/trino-0.20.0.tgz
  ops/Helm/addons/store/velero/charts/velero-6.3.0.tgz
  ops/Helm/shortlink-shop/common/charts/redis-19.3.2.tgz
Due: backend, shortlink, frontend

upd deps
  ops/Helm/addons/observability/prometheus-operator/Chart.lock
  ops/Helm/addons/observability/prometheus-operator/Chart.yaml
  ops/Helm/addons/observability/prometheus-operator/charts/kube-prometheus-stack-58.5.3.tgz
  ops/Helm/addons/observability/prometheus-operator/charts/kube-prometheus-stack-58.6.0.tgz
Due: none

golint: upgrade and fix
  .golangci.yml
  ops/Makefile/go.mk
  ops/gitlab/pipelines/test/golang.yml
  pkg/db/dgraph/dgraph.go
  pkg/rpc/client.go
Due: backend

ui: refactoring
  boundaries/ui-monorepo/package.json
  boundaries/ui-monorepo/packages/ui-kit/.storybook/preview.tsx
  boundaries/ui-monorepo/packages/ui-kit/rollup.config.js
  boundaries/ui-monorepo/pnpm-lock.yaml
Due: backend, frontend

ui: refactoring
  boundaries/ui-monorepo/package.json
  boundaries/ui-monorepo/packages/landing/app/providers.tsx
  boundaries/ui-monorepo/packages/landing/components/TabContent/index.tsx
  boundaries/ui-monorepo/packages/landing/tailwind.config.js
  boundaries/ui-monorepo/packages/next/app/providers.tsx
  boundaries/ui-monorepo/packages/next/sentry.client.config.ts
  boundaries/ui-monorepo/packages/next/sentry.server.config.ts
  boundaries/ui-monorepo/packages/next/tailwind.config.js
  boundaries/ui-monorepo/packages/ui-kit/.storybook/preview.tsx
  boundaries/ui-monorepo/packages/ui-kit/src/page/Header/Header.tsx
  boundaries/ui-monorepo/packages/ui-kit/src/ui/ToggleDarkMode/ToggleDarkMode.stories.tsx
  boundaries/ui-monorepo/packages/ui-kit/src/ui/ToggleDarkMode/ToggleDarkMode.tsx
  boundaries/ui-monorepo/packages/ui-kit/tailwind.config.js
  boundaries/ui-monorepo/pnpm-lock.yaml
Due: backend, frontend

ui: refactoring
  boundaries/ui-monorepo/package.json
  boundaries/ui-monorepo/packages/next/next.config.js
  boundaries/ui-monorepo/packages/next/package.json
  boundaries/ui-monorepo/packages/ui-kit/package.json
  boundaries/ui-monorepo/pnpm-lock.yaml
Due: backend, frontend

billing: refactoring domains
  boundaries/billing/billing/internal/domain/account/v1/account.go
  boundaries/billing/billing/internal/domain/account/v1/account.proto
  boundaries/billing/billing/internal/domain/account/v1/accounts.go
  boundaries/billing/billing/internal/domain/account/v1/rules/tariff_id.go
  boundaries/billing/billing/internal/domain/account/v1/rules/user_id.go
  boundaries/billing/billing/internal/domain/account/v1/sort.go
  boundaries/billing/billing/internal/domain/billing/account/v1/account.pb.go
  boundaries/billing/billing/internal/domain/billing/account/v1/account.proto
  boundaries/billing/billing/internal/domain/billing/order/v1/order.pb.go
  boundaries/billing/billing/internal/domain/billing/tariff/v1/tariff.pb.go
  boundaries/billing/billing/internal/domain/order/v1/order.go
  boundaries/billing/billing/internal/domain/order/v1/order.proto
  boundaries/billing/billing/internal/domain/order/v1/orders.go
  boundaries/billing/billing/internal/domain/order/v1/sort.go
  boundaries/billing/billing/internal/domain/payment/v1/README.md
  boundaries/billing/billing/internal/domain/payment/v1/command.pb.go
  boundaries/billing/billing/internal/domain/payment/v1/command.proto
  boundaries/billing/billing/internal/domain/payment/v1/event.pb.go
  boundaries/billing/billing/internal/domain/payment/v1/event.proto
  boundaries/billing/billing/internal/domain/payment/v1/payment.go
  boundaries/billing/billing/internal/domain/payment/v1/payment.pb.go
  boundaries/billing/billing/internal/domain/payment/v1/payment.proto
  boundaries/billing/billing/internal/domain/payment/v1/payments.go
  boundaries/billing/billing/internal/domain/payment/v1/sort.go
  boundaries/billing/billing/internal/domain/tariff/v1/sort.go
  boundaries/billing/billing/internal/domain/tariff/v1/tariff.go
  boundaries/billing/billing/internal/domain/tariff/v1/tariff.proto
  boundaries/billing/billing/internal/domain/tariff/v1/tariffs.go
  boundaries/billing/billing/internal/infrastructure/api/http/http-chi/controllers/account/account.go
  boundaries/billing/billing/internal/infrastructure/api/http/http-chi/controllers/tariff/tariff.go
  boundaries/billing/billing/internal/infrastructure/api/rpc/tariff/v1/tariff_rpc.pb.go
  boundaries/billing/billing/internal/infrastructure/repository/account/account.go
  boundaries/billing/billing/internal/infrastructure/repository/account/type.go
  boundaries/billing/billing/internal/infrastructure/repository/tariff/tariff.go
  boundaries/billing/billing/internal/infrastructure/repository/tariff/type.go
  boundaries/billing/billing/internal/usecases/account/account.go
  boundaries/billing/billing/internal/usecases/account/account_test.go
  boundaries/billing/billing/internal/usecases/account/mocks/Repository.go
  boundaries/billing/billing/internal/usecases/tariff/tariff.go
  ops/proto-lock.json
Due: backend

Path conditions:
  backend: any of: internal/, pkg/, boundaries/
  shortlink: any of: boundaries/link
  frontend: any of: boundaries/ui
