Repository shortlink-org/shortlink: changes, and which Codecov flags are due for each by the changed paths.
All: backend, shortlink, frontend

refactoring
  boundaries/platform/istio-extension/README.md
  ops/Helm/addons/observability/grafana-loki/charts/loki-6.1.0.tgz
  ops/Helm/addons/observability/grafana-loki/charts/loki-6.2.0.tgz
Due: backend

istio-extension: refactoring
  boundaries/platform/istio-extension/README.md
  boundaries/platform/istio-extension/shortlink_go/README.md
  boundaries/platform/istio-extension/shortlink_go/internal/internal.go
  boundaries/platform/istio-extension/shortlink_go/internal/metrics.go
  boundaries/platform/istio-extension/shortlink_go/main.go
  boundaries/platform/istio-extension/shortlink_rust/README.md
  ops/dockerfile/boundary_platform/go_wasm.Dockerfile
Due: backend

upd deps
  boundaries/link/supplies/knative/kafka-to-elasticsearch/go.sum
  boundaries/platform/csi/go.mod
  boundaries/platform/csi/go.sum
  boundaries/shortdb/shortdb-operator/go.mod
  boundaries/shortdb/shortdb-operator/go.sum
  boundaries/ui-monorepo/pnpm-lock.yaml
  go.sum
  go.work.sum
Due: backend, shortlink, frontend

docs: new adr 'Background Job Processing'
  docs/ADR/README.md
  docs/ADR/decisions/0033-background-job.md
Due: none

argocd: enable temporal
  go.work
  ops/Helm/addons/mq/temporal/Chart.lock
  ops/Helm/addons/mq/temporal/Chart.yaml
  ops/Helm/addons/mq/temporal/charts/temporal-0.36.0.tgz
  ops/Helm/addons/mq/temporal/templates/NOTES.txt
  ops/Helm/addons/mq/temporal/templates/grafana/temporal-dashboard.yaml
  ops/Helm/addons/mq/temporal/templates/limit_range.yaml
  ops/Helm/addons/mq/temporal/values.yaml
  ops/argocd/_draft/temporal/application.yaml
  ops/argocd/infrastructure/temporal/application.yaml
Due: none

argocd: refactoring
  ops/Helm/addons/argo/argocd-shortlink/templates/argo-stack.yaml
  ops/Helm/addons/argo/argocd-shortlink/templates/auth.yaml
  ops/argocd/argo-stack/argocd-events/application.yaml
  ops/argocd/argo-stack/argocd-rollouts/application.yaml
  ops/argocd/argo-stack/argocd-workflow/application.yaml
  ops/argocd/auth/kratos.yaml
  ops/argocd/auth/spicedb-operator.yaml
Due: none

prometheus-operator: update
  ops/Helm/addons/observability/prometheus-operator/Chart.yaml
  ops/Helm/addons/observability/prometheus-operator/charts/kube-prometheus-stack-58.1.0.tgz
Due: none

email-subscription: init
  boundaries/shop/email-subscription/README.md
  boundaries/shop/email-subscription/go.mod
  ops/Helm/addons/observability/prometheus-operator/charts/kube-prometheus-stack-58.1.1.tgz
Due: backend

argocd: rename auth -> kratos
  ops/argocd/auth/kratos.yaml
Due: none

temporal: setting cassandra
  ops/Helm/addons/mq/temporal/values.yaml
Due: none

temporal: add ScyllaCluster
  ops/Helm/addons/mq/temporal/templates/scylla_cluster.yaml
  ops/Helm/addons/mq/temporal/values.yaml
Due: none

argocd: setting scylla-operator
  ops/Helm/addons/_draft/scylla/scylla-manager/Chart.lock
  ops/Helm/addons/_draft/scylla/scylla-manager/Chart.yaml
  ops/Helm/addons/_draft/scylla/scylla-manager/README.md
  ops/Helm/addons/_draft/scylla/scylla-manager/charts/scylla-manager-v1.12.1.tgz
  ops/Helm/addons/_draft/scylla/scylla-manager/templates/NOTES.txt
  ops/Helm/addons/_draft/scylla/scylla-manager/templates/limit_range.yaml
  ops/Helm/addons/_draft/scylla/scylla-manager/values.yaml
  ops/Helm/addons/_draft/scylla/scylla/Chart.lock
  ops/Helm/addons/_draft/scylla/scylla/Chart.yaml
  ops/Helm/addons/_draft/scylla/scylla/README.md
  ops/Helm/addons/_draft/scylla/scylla/charts/scylla-v1.12.1.tgz
  ops/Helm/addons/_draft/scylla/scylla/templates/NOTES.txt
  ops/Helm/addons/_draft/scylla/scylla/templates/limit_range.yaml
  ops/Helm/addons/_draft/scylla/scylla/values.yaml
  ops/Helm/addons/store/scylla-operator/Chart.lock
  ops/Helm/addons/store/scylla-operator/Chart.yaml
  ops/Helm/addons/store/scylla-operator/README.md
  ops/Helm/addons/store/scylla-operator/charts/scylla-operator-v1.12.1.tgz
  ops/Helm/addons/store/scylla-operator/templates/NOTES.txt
  ops/Helm/addons/store/scylla-operator/templates/limit_range.yaml
  ops/Helm/addons/store/scylla-operator/values.yaml
  ops/argocd/_draft/scylla/scylla-manager/application.yaml
  ops/argocd/_draft/scylla/scylla/application.yaml
  ops/argocd/infrastructure/store/scylla-operator/application.yaml
Due: none

temporal: setting scylla
  ops/Helm/addons/mq/temporal/templates/scylla_cluster.yaml
Due: none

temporal: setting scylla
  ops/Helm/addons/mq/temporal/templates/scylla_cluster.yaml
  ops/Helm/addons/mq/temporal/values.yaml
Due: none

temporal: setting scylla
  ops/Helm/addons/mq/temporal/values.yaml
Due: none

temporal: setting
  ops/argocd/infrastructure/temporal/application.yaml
Due: none

argocd: disable temporal
  ops/argocd/_draft/temporal/application.yaml
Due: none

email-subscription: improve docs
  boundaries/shop/email-subscription/README.md
Due: backend

link: refactoring
  boundaries/link/link/domain/link/v1/link.go
  boundaries/link/link/domain/link/v1/link_test.go
Due: backend, shortlink

go: upd deps
  docs/ADR/decisions/proof/ADR-0007/go.mod
  docs/ADR/decisions/proof/ADR-0007/go.sum
  go.sum
  go.work
  go.work.sum
Due: none

protoc: add plugin protoc-gen-rich-model
  pkg/protoc/protoc-gen-rich-model/README.md
  pkg/protoc/protoc-gen-rich-model/fixtures/link.proto
  pkg/protoc/protoc-gen-rich-model/rich_model.go
  pkg/protoc/protoc-gen-rich-model/rich_model_test.go
Due: backend

protoc-gen-rich-model: refactoring
  pkg/protoc/protoc-gen-rich-model/rich_model.go
  pkg/protoc/protoc-gen-rich-model/rich_model_test.go
Due: backend

protoc-gen-rich-model: refactoring
  pkg/protoc/protoc-gen-rich-model/rich_model.go
Due: backend

protoc-gen-rich-model: refactoring
  pkg/protoc/protoc-gen-rich-model/importManager.go
  pkg/protoc/protoc-gen-rich-model/rich_model.go
Due: backend

protoc-gen-rich-model: refactoring
  pkg/protoc/protoc-gen-rich-model/README.md
  pkg/protoc/protoc-gen-rich-model/rich_model.go
Due: backend

protoc-gen-rich-model: work version
  pkg/protoc/protoc-gen-rich-model/fixtures/Link.ddd.go
  pkg/protoc/protoc-gen-rich-model/fixtures/Links.ddd.go
  pkg/protoc/protoc-gen-rich-model/rich_model.go
  pkg/protoc/protoc-gen-rich-model/rich_model_test.go
Due: backend

golint: refactoring
  .golangci.yml
  boundaries/notification/notify/application/notify.go
  boundaries/shortdb/shortdb/engine/db_test.go
  pkg/concurrency/channel/merge_test.go
  pkg/concurrency/rate_limiter/rate_limiter.go
  pkg/concurrency/rate_limiter/rate_limiter_test.go
  pkg/concurrency/sync_map/sync_map_test.go
  pkg/concurrency/worker_pool/worker_pool.go
  pkg/concurrency/worker_pool/worker_pool_test.go
  pkg/protoc/protoc-gen-rich-model/rich_model.go
  pkg/types/partmap/partmap_test.go
Due: backend

ddd: improve ADR
  docs/ADR/decisions/0016-use-domain-driven-developer.md
Due: none

upd deps
  boundaries/link/proxy/pnpm-lock.yaml
  boundaries/platform/backstage/package.json
  boundaries/platform/backstage/yarn.lock
  boundaries/ui-monorepo/package.json
  boundaries/ui-monorepo/pnpm-lock.yaml
Due: backend, shortlink, frontend

refactoring
  boundaries/billing/billing/di/wire_gen.go
  boundaries/billing/billing/usecases/account/mocks/Repository.go
  boundaries/link/link/di/wire_gen.go
  ops/Makefile/go.mk
  ops/gitlab/pipelines/test/golang.yml
  pkg/uow/mocks/UnitOfWork.go
Due: backend, shortlink

refactoring
  .github/linters/.golangci.yml
Due: none

protoc-gen-go-orm: support orm flag (mongo,postgres as default)
  pkg/protoc/protoc-gen-go-orm/common_file.go
  pkg/protoc/protoc-gen-go-orm/fixtures/link.mongo.orm.go
  pkg/protoc/protoc-gen-go-orm/fixtures/link.postgres.orm.go
  pkg/protoc/protoc-gen-go-orm/fixtures/link.proto
  pkg/protoc/protoc-gen-go-orm/go_orm.go
  pkg/protoc/protoc-gen-go-orm/mongo_orm.go
  pkg/protoc/protoc-gen-go-orm/mongo_orm_test.go
  pkg/protoc/protoc-gen-go-orm/postgres_orm.go
  pkg/protoc/protoc-gen-go-orm/postgres_orm_test.go
Due: backend

protoc-gen-go-orm: refactoring
  pkg/protoc/protoc-gen-go-orm/common_file.go
  pkg/protoc/protoc-gen-go-orm/fixtures/common_types.orm.go
  pkg/protoc/protoc-gen-go-orm/fixtures/link.mongo.orm.go
  pkg/protoc/protoc-gen-go-orm/fixtures/link.postgres.orm.go
  pkg/protoc/protoc-gen-go-orm/mongo_orm.go
  pkg/protoc/protoc-gen-go-orm/postgres_orm.go
Due: backend

protoc-gen-go-orm: update docs
  pkg/protoc/protoc-gen-go-orm/README.md
Due: backend

protoc-gen-go-orm: refactoring
  pkg/protoc/protoc-gen-go-orm/common_file.go
  pkg/protoc/protoc-gen-go-orm/go_orm.go
  pkg/protoc/protoc-gen-go-orm/mongo_orm.go
  pkg/protoc/protoc-gen-go-orm/mongo_orm_test.go
  pkg/protoc/protoc-gen-go-orm/output/common_types.orm.go
  pkg/protoc/protoc-gen-go-orm/output/link.mongo.orm.go
  pkg/protoc/protoc-gen-go-orm/output/link.postgres.orm.go
  pkg/protoc/protoc-gen-go-orm/postgres_orm.go
  pkg/protoc/protoc-gen-go-orm/postgres_orm_test.go
Due: backend

protoc-gen-go-orm: golint
  pkg/protoc/protoc-gen-go-orm/README.md
  pkg/protoc/protoc-gen-go-orm/common_file.go
  pkg/protoc/protoc-gen-go-orm/error.go
  pkg/protoc/protoc-gen-go-orm/go_orm.go
  pkg/protoc/protoc-gen-go-orm/mongo_orm.go
  pkg/protoc/protoc-gen-go-orm/mongo_orm_test.go
  pkg/protoc/protoc-gen-go-orm/output/common_types.orm.go
  pkg/protoc/protoc-gen-go-orm/output/link.mongo.orm.go
  pkg/protoc/protoc-gen-go-orm/output/link.postgres.orm.go
  pkg/protoc/protoc-gen-go-orm/postgres_orm.go
  pkg/protoc/protoc-gen-go-orm/postgres_orm_test.go
Due: backend

upd
  .run/pkg_protoc-gen-go-orm.run.xml
Due: none

Path conditions:
  backend: any of: internal/, pkg/, boundaries/
  shortlink: any of: boundaries/link
  frontend: any of: boundaries/ui
