Repository shortlink-org/shortlink: changes, and which Codecov flags are due for each by the changed paths.
All: backend, shortlink, frontend

protoc-get-go-orm: add filter by white list
  pkg/protoc/protoc-gen-go-orm/README.md
  pkg/protoc/protoc-gen-go-orm/common_file.go
  pkg/protoc/protoc-gen-go-orm/go_orm.go
  pkg/protoc/protoc-gen-go-orm/mongo_orm.go
  pkg/protoc/protoc-gen-go-orm/mongo_orm_test.go
  pkg/protoc/protoc-gen-go-orm/output/common_types.orm.go
  pkg/protoc/protoc-gen-go-orm/output/link.mongo.orm.go
  pkg/protoc/protoc-gen-go-orm/output/link.postgres.orm.go
  pkg/protoc/protoc-gen-go-orm/postgres_orm.go
  pkg/protoc/protoc-gen-go-orm/postgres_orm_test.go
Due: backend

protoc-gen-go-orm: refactoring
  pkg/protoc/protoc-gen-go-orm/common_file.go
  pkg/protoc/protoc-gen-go-orm/go_orm.go
  pkg/protoc/protoc-gen-go-orm/mongo_orm.go
  pkg/protoc/protoc-gen-go-orm/output/common_types.orm.go
  pkg/protoc/protoc-gen-go-orm/output/link.mongo.orm.go
  pkg/protoc/protoc-gen-go-orm/output/link.postgres.orm.go
  pkg/protoc/protoc-gen-go-orm/postgres_orm.go
Due: backend

link: drop orm files from domain
  boundaries/link/link/infrastructure/repository/crud/mongo/filter/Link.mongo.orm.go
  boundaries/link/link/infrastructure/repository/crud/mongo/filter/common_types.orm.go
  boundaries/link/link/infrastructure/repository/crud/mongo/mongo.go
  boundaries/link/link/infrastructure/repository/crud/postgres/filter/Link.postgres.orm.go
  boundaries/link/link/infrastructure/repository/crud/postgres/filter/common_types.orm.go
  boundaries/link/link/infrastructure/repository/crud/postgres/postgres.go
  ops/proto/link/buf.gen.yaml
  pkg/protoc/protoc-gen-go-orm/mongo_orm.go
  pkg/protoc/protoc-gen-go-orm/output/link.postgres.orm.go
  pkg/protoc/protoc-gen-go-orm/postgres_orm.go
Due: backend, shortlink

link: use orm for RAM
  boundaries/link/link/domain/link/v1/link.go
  boundaries/link/link/infrastructure/repository/crud/mongo/filter/Link.mongo.orm.go
  boundaries/link/link/infrastructure/repository/crud/postgres/filter/Link.postgres.orm.go
  boundaries/link/link/infrastructure/repository/crud/postgres/filter/common_types.orm.go
  boundaries/link/link/infrastructure/repository/crud/ram/filter.go
  boundaries/link/link/infrastructure/repository/crud/ram/filter/Link.ram.orm.go
  boundaries/link/link/infrastructure/repository/crud/ram/filter/common_types.orm.go
  boundaries/link/link/infrastructure/repository/crud/ram/ram.go
  boundaries/link/link/infrastructure/repository/crud/ram/ram_test.go
  go.mod
  go.sum
  ops/proto/link/buf.gen.yaml
  pkg/protoc/protoc-gen-go-orm/README.md
  pkg/protoc/protoc-gen-go-orm/go_orm.go
  pkg/protoc/protoc-gen-go-orm/output/Link.ram.orm.go
  pkg/protoc/protoc-gen-go-orm/output/common_types.orm.go
  pkg/protoc/protoc-gen-go-orm/ram_orm.go
  pkg/protoc/protoc-gen-go-orm/ram_orm_test.go
Due: backend, shortlink

link: refactoring
  .run/billing_ get secret config.run.xml
  .run/link.run.xml
  .run/link_ get secret config.run.xml
  .run/proxy_ get secret config.run.xml
  boundaries/link/link/domain/link_cqrs/v1/common_types.orm.go
  boundaries/link/link/domain/link_cqrs/v1/link.orm.go
  boundaries/link/link/domain/sitemap/v1/common_types.orm.go
  boundaries/link/link/domain/sitemap/v1/sitemap.orm.go
  boundaries/link/link/domain/sitemap/v1/sitemap.pb.go
  boundaries/link/link/domain/v1/common_types.orm.go
  boundaries/link/link/infrastructure/rpc/cqrs/link/v1/common_types.orm.go
  boundaries/link/link/infrastructure/rpc/cqrs/link/v1/link_command.orm.go
  boundaries/link/link/infrastructure/rpc/cqrs/link/v1/link_query.orm.go
  boundaries/link/link/infrastructure/rpc/link/v1/common_types.orm.go
  boundaries/link/link/infrastructure/rpc/link/v1/link.orm.go
  boundaries/link/link/infrastructure/rpc/sitemap/v1/common_types.orm.go
  boundaries/link/link/infrastructure/rpc/sitemap/v1/sitemap.orm.go
  ops/proto/link/buf.gen.yaml
  pkg/protoc/protoc-gen-go-orm/README.md
  pkg/protoc/protoc-gen-go-orm/go_orm.go
Due: backend, shortlink

link: refactoring
  boundaries/link/link/domain/link/v1/common_types.orm.go
  boundaries/link/link/infrastructure/repository/crud/mongo/mongo.go
  boundaries/link/link/infrastructure/repository/crud/postgres/postgres.go
  boundaries/link/link/infrastructure/repository/crud/ram/ram.go
  ops/proto/link/buf.gen.yaml
Due: backend, shortlink

protoc-gen-go-orm: improve work with domain
  boundaries/link/link/domain/v1/common_types.orm.go
  boundaries/link/link/infrastructure/repository/crud/mongo/filter/common_types.orm.go
  boundaries/link/link/infrastructure/repository/crud/mongo/mongo.go
  pkg/protoc/protoc-gen-go-orm/common_file.go
  pkg/protoc/protoc-gen-go-orm/go_orm.go
  pkg/protoc/protoc-gen-go-orm/mongo_orm_test.go
  pkg/protoc/protoc-gen-go-orm/output/Link.ram.orm.go
  pkg/protoc/protoc-gen-go-orm/output/common_types.orm.go
  pkg/protoc/protoc-gen-go-orm/output/link.mongo.orm.go
  pkg/protoc/protoc-gen-go-orm/output/link.postgres.orm.go
  pkg/protoc/protoc-gen-go-orm/postgres_orm_test.go
  pkg/protoc/protoc-gen-go-orm/ram_orm.go
  pkg/protoc/protoc-gen-go-orm/ram_orm_test.go
Due: backend, shortlink

link: refactoring
  boundaries/link/link/domain/link/v1/common_types.orm.go
  boundaries/link/link/infrastructure/repository/crud/mongo/filter/Link.mongo.orm.go
  boundaries/link/link/infrastructure/repository/crud/mongo/filter/common_types.orm.go
  boundaries/link/link/infrastructure/repository/crud/mongo/mongo.go
  boundaries/link/link/infrastructure/repository/crud/postgres/filter/Link.postgres.orm.go
  boundaries/link/link/infrastructure/repository/crud/postgres/filter/common_types.orm.go
  boundaries/link/link/infrastructure/repository/crud/postgres/postgres.go
  boundaries/link/link/infrastructure/repository/crud/ram/filter/Link.ram.orm.go
  boundaries/link/link/infrastructure/repository/crud/ram/filter/common_types.orm.go
  boundaries/link/link/infrastructure/repository/crud/ram/ram.go
  ops/proto/link/buf.gen.yaml
  pkg/protoc/protoc-gen-go-orm/common_file.go
  pkg/protoc/protoc-gen-go-orm/output/common_types.orm.go
Due: backend, shortlink

protoc-gen-go-orm: update docs
  pkg/protoc/protoc-gen-go-orm/README.md
Due: backend

protoc-gen-rich-model: add filter
  boundaries/billing/wallet/go.mod
  boundaries/billing/wallet/go.sum
  go.sum
  ops/proto/link/buf.gen.yaml
  pkg/protoc/protoc-gen-rich-model/rich_model.go
  pkg/protoc/protoc-gen-rich-model/rich_model_test.go
Due: backend

link: refactoring
  boundaries/link/link/domain/link/v1/Link.ddd.go
  ops/proto/link/buf.gen.yaml
  pkg/protoc/protoc-gen-rich-model/README.md
  pkg/protoc/protoc-gen-rich-model/fixtures/Links.ddd.go
  pkg/protoc/protoc-gen-rich-model/rich_model.go
  pkg/protoc/protoc-gen-rich-model/rich_model_test.go
Due: backend, shortlink

protoc-gen-rich-model: add custom options
  ops/Makefile/proto.mk
  ops/proto/protoc_plugin/buf.gen.yaml
  ops/proto/protoc_plugin/buf.yaml
  pkg/protoc/protoc-gen-rich-model/README.md
  pkg/protoc/protoc-gen-rich-model/fixtures/Link.ddd.go
  pkg/protoc/protoc-gen-rich-model/fixtures/link.proto
  pkg/protoc/protoc-gen-rich-model/options/v1/custom_options.pb.go
  pkg/protoc/protoc-gen-rich-model/options/v1/custom_options.proto
  pkg/protoc/protoc-gen-rich-model/rich_model.go
  pkg/protoc/protoc-gen-rich-model/rich_model_test.go
Due: backend

protoc-gen-rich-model: refactoring
  boundaries/link/link/domain/link/v1/Link.ddd.go
  boundaries/link/link/domain/link/v1/event.go
  boundaries/link/link/domain/link/v1/link.go
  boundaries/link/link/domain/link/v1/link.pb.go
  boundaries/link/link/domain/link/v1/link.proto
  pkg/protoc/protoc-gen-rich-model/fixtures/Link.ddd.go
  pkg/protoc/protoc-gen-rich-model/rich_model.go
  pkg/protoc/protoc-gen-rich-model/rich_model_test.go
Due: backend, shortlink

protoc-gen-rich-model: add comments
  pkg/protoc/protoc-gen-rich-model/fixtures/Link.ddd.go
  pkg/protoc/protoc-gen-rich-model/fixtures/Links.ddd.go
  pkg/protoc/protoc-gen-rich-model/fixtures/link.proto
  pkg/protoc/protoc-gen-rich-model/rich_model.go
  pkg/protoc/protoc-gen-rich-model/rich_model_test.go
Due: backend

protoc-gen-rich-model: add getter
  pkg/protoc/protoc-gen-rich-model/fixtures/Link.ddd.go
  pkg/protoc/protoc-gen-rich-model/fixtures/Links.ddd.go
  pkg/protoc/protoc-gen-rich-model/rich_model.go
Due: backend

protoc-gen-rich-model: use export name for structure
  boundaries/link/link/domain/link/v1/Link.ddd.go
  boundaries/link/link/domain/link/v1/link.go
  boundaries/link/link/domain/link/v1/link_fuzz.go
  pkg/protoc/protoc-gen-rich-model/fixtures/Link.ddd.go
  pkg/protoc/protoc-gen-rich-model/fixtures/Links.ddd.go
  pkg/protoc/protoc-gen-rich-model/rich_model.go
Due: backend, shortlink

link: refactoring
  boundaries/link/link/domain/link/v1/Link.ddd.go
  boundaries/link/link/domain/link/v1/Links.ddd.go
  boundaries/link/link/domain/link/v1/common_types.orm.go
  boundaries/link/link/domain/link/v1/link.go
  boundaries/link/link/domain/link/v1/link.pb.go
  boundaries/link/link/domain/link/v1/links.go
  boundaries/link/link/domain/link/v1/sort.go
  boundaries/link/link/infrastructure/repository/cqrs/cqs/postgres/cqs_link.go
  boundaries/link/link/infrastructure/repository/cqrs/query/postgres/query.go
  boundaries/link/link/infrastructure/repository/crud/badger/badger.go
  boundaries/link/link/infrastructure/repository/crud/dgraph/dgraph.go
  boundaries/link/link/infrastructure/repository/crud/leveldb/leveldb.go
  boundaries/link/link/infrastructure/repository/crud/mongo/filter/common_types.orm.go
  boundaries/link/link/infrastructure/repository/crud/mongo/mongo.go
  boundaries/link/link/infrastructure/repository/crud/postgres/filter/common_types.orm.go
  boundaries/link/link/infrastructure/repository/crud/postgres/postgres.go
  boundaries/link/link/infrastructure/repository/crud/ram/filter/Link.ram.orm.go
  boundaries/link/link/infrastructure/repository/crud/ram/filter/common_types.orm.go
  boundaries/link/link/infrastructure/repository/crud/ram/ram.go
  boundaries/link/link/infrastructure/repository/crud/redis/redis.go
  boundaries/link/link/infrastructure/repository/crud/sqlite/sqlite.go
  boundaries/link/link/infrastructure/repository/crud/types/common_types.orm.go
  boundaries/link/link/infrastructure/repository/crud/types/errors.go
  boundaries/link/metadata/infrastructure/repository/store/ram/ram.go
  ops/Makefile/proto.mk
  ops/proto/link/domain.buf.gen.yaml
  ops/proto/link/infrastructure.buf.gen.yaml
  ops/proto/link/repository.buf.gen.yaml
  pkg/protoc/protoc-gen-go-orm/output/common_types.orm.go
Due: backend, shortlink

link: refactoring
  boundaries/link/link/domain/link/v1/errors.go
  boundaries/link/link/domain/link/v1/link_builder.go
  boundaries/link/link/domain/link/v1/link_ddd.go
  boundaries/link/link/domain/link/v1/link_fuzz.go
  boundaries/link/link/domain/link/v1/link_helpers.go
  boundaries/link/link/domain/link/v1/link_helpers_test.go
  boundaries/link/link/domain/link/v1/links.go
  boundaries/link/link/domain/link/v1/links_ddd.go
  boundaries/link/link/domain/link/v1/links_sort.go
  boundaries/link/link/domain/link/v1/seed_corpus/testcase.1
  boundaries/link/link/infrastructure/mq/subscribe.go
  boundaries/link/link/infrastructure/repository/cqrs/cqs/postgres/cqs_link.go
  boundaries/link/link/infrastructure/repository/cqrs/query/postgres/query.go
  boundaries/link/link/infrastructure/repository/cqrs/query/store.go
  boundaries/link/link/infrastructure/repository/cqrs/query/type.go
  boundaries/link/link/infrastructure/repository/crud/dgraph/dgraph.go
  boundaries/link/link/infrastructure/repository/crud/init.go
  boundaries/link/link/infrastructure/repository/crud/leveldb/leveldb.go
  boundaries/link/link/infrastructure/repository/crud/mongo/filter/common_types.orm.go
  boundaries/link/link/infrastructure/repository/crud/mongo/mongo.go
  boundaries/link/link/infrastructure/repository/crud/mysql/mysql.go
  boundaries/link/link/infrastructure/repository/crud/postgres/filter/common_types.orm.go
  boundaries/link/link/infrastructure/repository/crud/postgres/postgres.go
  boundaries/link/link/infrastructure/repository/crud/ram/filter/common_types.orm.go
  boundaries/link/link/infrastructure/repository/crud/redis/redis.go
  boundaries/link/link/infrastructure/repository/crud/sqlite/sqlite.go
  boundaries/link/link/infrastructure/repository/crud/type.go
  boundaries/link/link/infrastructure/repository/crud/types/errors.go
  boundaries/link/link/infrastructure/rpc/cqrs/link/v1/link_query.go
  boundaries/link/link/infrastructure/rpc/link/v1/link.go
  boundaries/link/link/usecases/link/error.go
  boundaries/link/link/usecases/link/link.go
  boundaries/link/link/usecases/link_cqrs/api.go
  boundaries/link/link/usecases/link_cqrs/error.go
  boundaries/link/link/usecases/sitemap/parser.go
  pkg/protoc/protoc-gen-rich-model/fixtures/link_ddd.go
  pkg/protoc/protoc-gen-rich-model/fixtures/links_ddd.go
  pkg/protoc/protoc-gen-rich-model/rich_model.go
  pkg/protoc/protoc-gen-rich-model/rich_model_test.go
Due: backend, shortlink

go: upd deps
  boundaries/platform/csi/go.mod
  boundaries/platform/csi/go.sum
  boundaries/shortdb/shortdb-operator/go.mod
  boundaries/shortdb/shortdb-operator/go.sum
  docs/ADR/decisions/proof/ADR-0007/go.sum
  go.sum
  go.work.sum
Due: backend

refactoring
  boundaries/link/bff-link/docs/env.md
  boundaries/link/bff-link/infrastructure/http/api/api.gen.go
  boundaries/link/bff-link/infrastructure/http/api/link.yaml
  boundaries/link/bff-link/infrastructure/http/api/render/openapi/openapi.yaml
  boundaries/link/bff-link/infrastructure/http/controllers/link/dto/add.go
  boundaries/link/bff-link/infrastructure/http/controllers/link/link.go
  boundaries/ui-monorepo/pnpm-lock.yaml
  ops/Makefile/docker.mk
Due: backend, shortlink, frontend

refactoring
  .env.example
  ops/Makefile/cert.mk
  ops/Makefile/docker.mk
Due: none

refactoring
  boundaries/link/link/domain/link/v1/link.proto
  buf.yaml
Due: backend, shortlink

refactoring
  buf.yaml
  pkg/protoc/protoc-gen-rich-model/fixtures/example_ddd.go
  pkg/protoc/protoc-gen-rich-model/fixtures/examplelist_ddd.go
  pkg/protoc/protoc-gen-rich-model/fixtures/link.proto
  pkg/protoc/protoc-gen-rich-model/rich_model_test.go
Due: backend

refactoring
  pkg/protoc/protoc-gen-rich-model/fixtures/link.proto
  pkg/protoc/protoc-gen-rich-model/fixtures/link_ddd.go
  pkg/protoc/protoc-gen-rich-model/fixtures/links_ddd.go
  pkg/protoc/protoc-gen-rich-model/rich_model_test.go
Due: backend

protoc-gen-rich-model: publish to buf
  pkg/protoc/protoc-gen-rich-model/buf.yaml
Due: backend

link: refactoring
  boundaries/link/link/Makefile
  boundaries/link/link/buf.lock
  boundaries/link/link/buf.yaml
  boundaries/link/link/domain/link/v1/link.proto
  boundaries/link/link/ops/proto/buf.gen.tag.yaml
  boundaries/link/link/ops/proto/domain.buf.gen.yaml
  boundaries/link/link/ops/proto/infrastructure.buf.gen.yaml
  boundaries/link/link/ops/proto/proto-lock.json
  boundaries/link/link/ops/proto/repository.buf.gen.yaml
  buf.yaml
  ops/Makefile/proto.mk
Due: backend, shortlink

link: refactoring
  boundaries/link/link/domain/link/v1/link_ddd.go
  boundaries/link/link/ops/proto/domain.buf.gen.yaml
  pkg/protoc/protoc-gen-rich-model/rich_model.go
Due: backend, shortlink

link: refactoring
  boundaries/link/link/ops/proto/repository.buf.gen.yaml
Due: backend, shortlink

link: refactoring
  boundaries/link/link/domain/link/v1/errors.go
  boundaries/link/link/domain/link/v1/link_helpers_test.go
Due: backend, shortlink

link: refactoring
  boundaries/link/link/domain/link/v1/link_ddd.go
  boundaries/link/link/domain/link_cqrs/v1/link.pb.go
  boundaries/link/link/domain/link_cqrs/v1/link.proto
  boundaries/link/link/domain/link_cqrs/v1/linksview_ddd.go
  boundaries/link/link/domain/link_cqrs/v1/linkview_ddd.go
  boundaries/link/link/domain/link_cqrs/v1/type.go
  boundaries/link/link/domain/sitemap/v1/sitemap.pb.go
  boundaries/link/link/domain/sitemap/v1/sitemap_ddd.go
  boundaries/link/link/domain/sitemap/v1/sitemap_sort.go
  boundaries/link/link/domain/sitemap/v1/url_builder.go
  boundaries/link/link/domain/sitemap/v1/url_ddd.go
  boundaries/link/link/ops/proto/domain.buf.gen.yaml
  pkg/protoc/protoc-gen-rich-model/rich_model.go
Due: backend, shortlink

global refactoring: update
  boundaries/link/link/docs/env.md
  boundaries/link/link/internal/infrastructure/repository/cqrs/query/postgres/query.go
  boundaries/link/metadata/infrastructure/repository/store/ram/ram.go
  boundaries/link/metadata/infrastructure/repository/store/store.go
Due: backend, shortlink

global refactoring: update
  boundaries/link/README.md
Due: backend, shortlink

[StepSecurity] Apply security best practices
  .github/dependabot.yml
Due: none

[StepSecurity] Apply security best practices (#14976)
  .github/dependabot.yml
Due: none

kyverno: disabled
  ops/argocd/_draft/kyverno/application.yaml
Due: none

Path conditions:
  backend: any of: internal/, pkg/, boundaries/
  shortlink: any of: boundaries/link
  frontend: any of: boundaries/ui
