Repository shortlink-org/shortlink: changes, and which Codecov flags are due for each by the changed paths.
All: backend, shortlink, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "40...100"

  status:
    project: yes
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: no

flags:
  # filter the folder(s) you wish to measure by that flag
  backend:
    paths:
      - internal/
      - pkg/
      - boundaries/

  shortlink:
    paths:
      - boundaries/link

  frontend:
    paths:
      - boundaries/ui

refactoring
  boundaries/api/api-gateway/gateways/cloudevents/di/wire_gen.go
  boundaries/billing/billing/internal/di/wire_gen.go
  boundaries/link/bff/internal/di/wire_gen.go
  boundaries/link/link/internal/di/wire_gen.go
  boundaries/notification/notify/go.mod
  boundaries/notification/notify/go.sum
  boundaries/notification/notify/internal/di/wire_gen.go
  boundaries/ui-monorepo/package.json
  boundaries/ui-monorepo/pnpm-lock.yaml
  go.work.sum
Due: backend, shortlink, frontend

argocd: set v2.11.0-rc2
  ops/Helm/addons/argo/argocd/values.yaml
Due: none

go: upd deps
  boundaries/link/link/go.mod
  boundaries/link/link/go.sum
  go.mod
  go.sum
  go.work.sum
Due: backend, shortlink

link: refactoring
  .run/link (local).run.xml
  boundaries/link/link/Makefile
  boundaries/link/link/internal/infrastructure/repository/crud/postgres/migrations/000011_add_partiotion_links.up.sql
  boundaries/link/link/ops/Makefile/docs.mk
  boundaries/link/link/ops/Makefile/proto.mk
  boundaries/link/link/ops/proto/proto-lock.json
  ops/Makefile/docker.mk
Due: backend, shortlink

link: refactoring
  boundaries/link/link/ops/proto/buf.gen.tag.yaml
Due: backend, shortlink

link: refactoring
  boundaries/link/link/internal/domain/link/v1/link.pb.go
  boundaries/link/link/ops/Makefile/proto.mk
  boundaries/link/link/ops/proto/domain.buf.gen.yaml
Due: backend, shortlink

link: refactoring rpc
  boundaries/link/link/internal/di/wire.go
  boundaries/link/link/internal/infrastructure/rpc/cqrs/link/v1/link.pb.go
  boundaries/link/link/internal/infrastructure/rpc/cqrs/link/v1/link_command.pb.go
  boundaries/link/link/internal/infrastructure/rpc/cqrs/link/v1/link_query.pb.go
  boundaries/link/link/internal/infrastructure/rpc/link/v1/link.pb.go
  boundaries/link/link/internal/infrastructure/rpc/link/v1/link_rpc.pb.go
  boundaries/link/link/internal/infrastructure/rpc/link/v1/link_rpc_grpc.pb.go
  boundaries/link/link/internal/infrastructure/rpc/sitemap/v1/sitemap.pb.go
  boundaries/link/link/ops/Makefile/proto.mk
  boundaries/link/link/ops/proto/infrastructure.buf.gen.yaml
Due: backend, shortlink

link: refactoring
  boundaries/api/api-gateway/go.sum
  boundaries/link/link/buf.yaml
  boundaries/link/link/internal/domain/link/v1/link.go
  boundaries/link/link/internal/domain/link/v1/link.proto
  boundaries/link/link/internal/domain/link/v1/link_builder.go
  boundaries/link/link/internal/domain/link/v1/link_ddd.go
  boundaries/link/link/internal/domain/link_cqrs/v1/linksview.go
  boundaries/link/link/internal/domain/link_cqrs/v1/linkview.go
  boundaries/link/link/internal/domain/link_cqrs/v1/linkview_ddd.go
  boundaries/link/link/internal/domain/sitemap/v1/sitemap.go
  boundaries/link/link/internal/domain/sitemap/v1/sitemap.proto
  boundaries/link/link/internal/domain/sitemap/v1/url.go
  boundaries/link/link/internal/infrastructure/rpc/cqrs/link/v1/link.proto
  boundaries/link/link/internal/infrastructure/rpc/cqrs/link/v1/link_command.proto
  boundaries/link/link/internal/infrastructure/rpc/cqrs/link/v1/link_query.proto
  boundaries/link/link/internal/infrastructure/rpc/link/v1/link.proto
  boundaries/link/link/internal/infrastructure/rpc/link/v1/link_rpc.proto
  boundaries/link/link/ops/proto/domain.buf.gen.yaml
  boundaries/link/link/ops/proto/proto-lock.json
  buf.yaml
  ops/Makefile/proto.mk
Due: backend, shortlink

link: refactoring repository
  boundaries/link/link/internal/infrastructure/repository/crud/mongo/filter/Link.mongo.orm.go
  boundaries/link/link/internal/infrastructure/repository/crud/mongo/filter/common_types.orm.go
  boundaries/link/link/internal/infrastructure/repository/crud/postgres/filter/Link.postgres.orm.go
  boundaries/link/link/internal/infrastructure/repository/crud/postgres/filter/common_types.orm.go
  boundaries/link/link/internal/infrastructure/repository/crud/ram/filter/Link.ram.orm.go
  boundaries/link/link/internal/infrastructure/repository/crud/ram/filter/common_types.orm.go
  boundaries/link/link/internal/infrastructure/repository/crud/types/v1/common_types.orm.go
  boundaries/link/link/internal/infrastructure/repository/crud/types/v1/errors.go
  boundaries/link/link/internal/infrastructure/repository/crud/types/v1/link.proto
  boundaries/link/link/ops/Makefile/proto.mk
  boundaries/link/link/ops/proto/repository.buf.gen.yaml
Due: backend, shortlink

link: refactoring repository
  boundaries/billing/billing/internal/infrastructure/repository/tariff/tariff.go
  boundaries/link/metadata/internal/infrastructure/repository/store/error/error.go
  boundaries/link/metadata/internal/infrastructure/repository/store/ram/ram.go
  boundaries/link/metadata/internal/usecases/screenshot/screenshot.go
  go.work.sum
  pkg/protoc/protoc-gen-go-orm/output/Link.ram.orm.go
  pkg/protoc/protoc-gen-go-orm/output/common_types.orm.go
  pkg/protoc/protoc-gen-go-orm/output/link.mongo.orm.go
  pkg/protoc/protoc-gen-go-orm/output/link.postgres.orm.go
  pkg/protoc/protoc-gen-rich-model/rich_model.go
Due: backend, shortlink

link: refactoring
  boundaries/link/link/internal/di/wire.go
  boundaries/link/link/internal/di/wire_gen.go
  boundaries/link/link/internal/domain/link/v1/links_sort.go
  boundaries/link/link/internal/domain/link_cqrs/v1/linkview.go
  boundaries/link/link/internal/domain/link_cqrs/v1/types.go
  boundaries/link/link/internal/infrastructure/repository/cqrs/cqs/postgres/cqs_link.go
  boundaries/link/link/internal/infrastructure/repository/cqrs/query/postgres/query.go
  boundaries/link/link/internal/infrastructure/repository/cqrs/query/store.go
  boundaries/link/link/internal/infrastructure/repository/cqrs/query/type.go
  boundaries/link/link/internal/infrastructure/repository/crud/badger/badger.go
  boundaries/link/link/internal/infrastructure/repository/crud/dgraph/dgraph.go
  boundaries/link/link/internal/infrastructure/repository/crud/init.go
  boundaries/link/link/internal/infrastructure/repository/crud/leveldb/leveldb.go
  boundaries/link/link/internal/infrastructure/repository/crud/mongo/mongo.go
  boundaries/link/link/internal/infrastructure/repository/crud/mysql/mysql.go
  boundaries/link/link/internal/infrastructure/repository/crud/postgres/postgres.go
  boundaries/link/link/internal/infrastructure/repository/crud/ram/ram.go
  boundaries/link/link/internal/infrastructure/repository/crud/redis/redis.go
  boundaries/link/link/internal/infrastructure/repository/crud/sqlite/sqlite.go
  boundaries/link/link/internal/infrastructure/repository/crud/type.go
  boundaries/link/link/internal/infrastructure/repository/crud/types/v1/link.pb.go
  boundaries/link/link/internal/infrastructure/rpc/cqrs/link/v1/link_query.go
  boundaries/link/link/internal/infrastructure/rpc/cqrs/link/v1/rpc.go
  boundaries/link/link/internal/infrastructure/rpc/link/v1/link.go
  boundaries/link/link/internal/infrastructure/rpc/link/v1/link.pb.go
  boundaries/link/link/internal/infrastructure/rpc/link/v1/link.proto
  boundaries/link/link/internal/infrastructure/rpc/link/v1/link_grpc.pb.go
  boundaries/link/link/internal/infrastructure/rpc/link/v1/link_rpc.pb.go
  boundaries/link/link/internal/infrastructure/rpc/link/v1/link_rpc.proto
  boundaries/link/link/internal/infrastructure/rpc/link/v1/rpc.go
  boundaries/link/link/internal/usecases/link/link.go
  boundaries/link/link/internal/usecases/link_cqrs/api.go
  boundaries/link/link/ops/Makefile/proto.mk
  boundaries/link/link/ops/proto/rpc.buf.gen.yaml
  pkg/protoc/protoc-gen-go-orm/mongo_orm_test.go
  pkg/protoc/protoc-gen-go-orm/postgres_orm_test.go
Due: backend, shortlink

ui: upd deps
  boundaries/ui-monorepo/package.json
  boundaries/ui-monorepo/pnpm-lock.yaml
Due: backend, frontend

link-bff: refactoring
  boundaries/link/bff/internal/infrastructure/http/controllers/link/addLink.go
  boundaries/link/bff/internal/infrastructure/http/controllers/link/deleteLink.go
  boundaries/link/bff/internal/infrastructure/http/controllers/link/error.go
  boundaries/link/bff/internal/infrastructure/http/controllers/link/getLink.go
  boundaries/link/bff/internal/infrastructure/http/controllers/link/getLinks.go
  boundaries/link/bff/internal/infrastructure/http/controllers/link/link.go
  boundaries/link/bff/internal/infrastructure/http/controllers/link/updateLinks.go
  boundaries/link/link/internal/domain/link/v1/link.go
  boundaries/link/link/internal/domain/link/v1/link_builder.go
  boundaries/link/link/internal/domain/link/v1/links_sort.go
  boundaries/link/link/internal/domain/link/v1/time.go
  boundaries/link/link/internal/domain/link/v1/types.go
  boundaries/link/link/internal/domain/link/v1/url.go
  boundaries/link/link/internal/infrastructure/repository/crud/postgres/add.go
  boundaries/link/link/internal/infrastructure/repository/crud/postgres/delete.go
  boundaries/link/link/internal/infrastructure/repository/crud/postgres/get.go
  boundaries/link/link/internal/infrastructure/repository/crud/postgres/list.go
  boundaries/link/link/internal/infrastructure/repository/crud/postgres/postgres.go
  boundaries/link/link/internal/infrastructure/repository/crud/postgres/update.go
  boundaries/link/link/internal/infrastructure/rpc/link/v1/add.go
  boundaries/link/link/internal/infrastructure/rpc/link/v1/delete.go
  boundaries/link/link/internal/infrastructure/rpc/link/v1/get.go
  boundaries/link/link/internal/infrastructure/rpc/link/v1/link.go
  boundaries/link/link/internal/infrastructure/rpc/link/v1/list.go
  boundaries/link/link/internal/infrastructure/rpc/link/v1/update.go
  boundaries/link/link/internal/usecases/link/add.go
  boundaries/link/link/internal/usecases/link/delete.go
  boundaries/link/link/internal/usecases/link/get.go
  boundaries/link/link/internal/usecases/link/link.go
  boundaries/link/link/internal/usecases/link/list.go
  boundaries/link/link/internal/usecases/link/update.go
  ops/Makefile/docker.mk
  ops/docker-compose/application/auth/spicedb/spicedb.yaml
Due: backend, shortlink

link: refactoring
  boundaries/link/link/internal/domain/link/v1/link_builder.go
  boundaries/link/link/internal/domain/link/v1/url.go
Due: backend, shortlink

link: refactoring
  boundaries/link/link/internal/domain/link/v1/vo_time.go
  boundaries/link/link/internal/domain/link/v1/vo_url.go
Due: backend, shortlink

docs: refactoring
  docs/ADR/README.md
  docs/ADR/decisions/0016-use-domain-driven-developer.md
Due: none

golangci: refactoring
  .golangci.yml
  boundaries/api/api-gateway/gateways/cloudevents/infrastructure/server/server.go
  boundaries/api/api-gateway/gateways/graphql/infrastructure/server/server.go
  boundaries/api/api-gateway/gateways/grpc-web/infrastructure/server/server.go
  boundaries/billing/billing/internal/infrastructure/api/http/http-chi/server.go
  boundaries/billing/billing/internal/infrastructure/api/http/server.go
  boundaries/billing/wallet/go.mod
  boundaries/billing/wallet/go.sum
  boundaries/link/bff/go.mod
  boundaries/link/bff/internal/infrastructure/http/server.go
  boundaries/link/link/go.mod
  boundaries/link/link/go.sum
  boundaries/link/link/internal/infrastructure/repository/crud/init.go
  boundaries/link/link/internal/infrastructure/repository/crud/mongo/mongo.go
  boundaries/platform/csi/go.mod
  boundaries/platform/csi/go.sum
  boundaries/platform/csi/internal/controller.go
  boundaries/platform/csi/internal/driver.go
  boundaries/platform/csi/internal/hostpath.go
  boundaries/platform/csi/internal/node.go
  boundaries/platform/shortctl/internal/tool/tool.go
  boundaries/shortdb/shortdb-operator/go.mod
  boundaries/shortdb/shortdb-operator/go.sum
  boundaries/shortdb/shortdb/engine/file/file.go
  boundaries/shortdb/shortdb/parser/v1/parser.go
  boundaries/shortdb/shortdb/repl/cmd.go
  go.mod
  go.sum
  go.work
  go.work.sum
  pkg/logger/tracer/tracer.go
  pkg/mq/kafka/kafka.go
  pkg/observability/monitoring/monitoring.go
Due: backend, shortlink

golangci-lint/value-object: init
  pkg/golangci-lint/value-object/Makefile
  pkg/golangci-lint/value-object/README.md
  pkg/golangci-lint/value-object/go.mod
  pkg/golangci-lint/value-object/go.sum
  pkg/golangci-lint/value-object/main.go
Due: backend

golangci-lint/value-object: drop
  go.sum
  go.work
  pkg/golangci-lint/value-object/Makefile
  pkg/golangci-lint/value-object/README.md
  pkg/golangci-lint/value-object/go.mod
  pkg/golangci-lint/value-object/go.sum
  pkg/golangci-lint/value-object/main.go
Due: backend

Revert "golangci-lint/value-object: drop"
  go.sum
  go.work
  pkg/golangci-lint/value-object/Makefile
  pkg/golangci-lint/value-object/README.md
  pkg/golangci-lint/value-object/go.mod
  pkg/golangci-lint/value-object/go.sum
  pkg/golangci-lint/value-object/main.go
Due: backend

golangci-lint/value-object: recovery
  .golangci.yml
  pkg/golangci-lint/value-object/Makefile
  pkg/golangci-lint/value-object/README.md
  pkg/golangci-lint/value-object/main.go
Due: backend

golangci: fix
  .golangci.yml
  boundaries/shop/merch/usecases/order-processor/pkg/main.go
  go.sum
  internal/di/pkg/profiling/profiling.go
  pkg/mq/nats/nats.go
  pkg/pattern/saga/saga.go
  pkg/pattern/specification/example/example.go
  pkg/s3/file.go
Due: backend

use github.com/segmentio/encoding/json
  boundaries/link/bff/internal/infrastructure/http/controllers/link/addLink.go
  boundaries/link/bff/internal/infrastructure/http/controllers/link/updateLinks.go
  boundaries/link/link/internal/domain/link/v1/vo_url.go
  boundaries/link/link/internal/infrastructure/mq/subscribe.go
  boundaries/link/link/internal/infrastructure/repository/crud/badger/badger.go
  boundaries/link/link/internal/infrastructure/repository/crud/leveldb/leveldb.go
  boundaries/link/link/internal/infrastructure/repository/crud/mysql/schema/crud/models.go
  boundaries/link/link/internal/infrastructure/repository/crud/mysql/schema/crud/query.sql.go
  boundaries/link/link/internal/infrastructure/repository/crud/redis/redis.go
  boundaries/link/link/internal/usecases/link/add.go
  boundaries/link/link/internal/usecases/sitemap/parser.go
  docs/ADR/decisions/proof/ADR-0007/serialization_test.go
  pkg/golangci-lint/json/README.md
Due: backend, shortlink

upd deps
  boundaries/api/api-gateway/go.mod
  boundaries/api/api-gateway/go.sum
  boundaries/link/bff/go.mod
  boundaries/link/bff/go.sum
  pkg/protoc/protoc-gen-rich-model/fixtures/link_ddd.go
Due: backend, shortlink

upd deps
  boundaries/ui-monorepo/pnpm-lock.yaml
Due: backend, frontend

Revert "kyverno: disabled"
  ops/argocd/infrastructure/security/kyverno/application.yaml
Due: none

kyverno: setting
  ops/Helm/addons/security/kyverno/values.yaml
Due: none

kratos: setting
  ops/Helm/addons/auth/kratos/templates/kratos-user.yaml
Due: none

argocd: setting
  ops/Helm/addons/argo/argocd/charts/argo-cd-6.7.13.tgz
  ops/Helm/addons/argo/argocd/charts/argo-cd-6.7.14.tgz
  ops/Helm/addons/argo/argocd/values.yaml
Due: none

argocd: setting ARGOCD_CONTROLLER_SHARD
  ops/Helm/addons/argo/argocd/values.yaml
Due: none

argocd: setting
  ops/Helm/addons/argo/argocd/values.yaml
Due: none

kratos: setting
  ops/Helm/addons/auth/kratos/dsn.sops.yaml
  ops/Helm/addons/auth/kratos/templates/grafana-user.yaml
Due: none

go: upd deps
  boundaries/link/bff/go.mod
  boundaries/link/bff/go.sum
  go.sum
Due: backend, shortlink

helm: upd deps
  ops/Helm/addons/gateway/istio-gateway/charts/gateway-1.21.1.tgz
  ops/Helm/addons/gateway/istio-gateway/charts/gateway-1.21.2.tgz
  ops/Helm/addons/gateway/istio/Chart.lock
  ops/Helm/addons/gateway/istio/charts/base-1.21.1.tgz
  ops/Helm/addons/gateway/istio/charts/base-1.21.2.tgz
  ops/Helm/addons/gateway/istio/charts/istiod-1.21.1.tgz
  ops/Helm/addons/gateway/istio/charts/istiod-1.21.2.tgz
  ops/Helm/addons/observability/grafana-loki/charts/loki-6.3.3.tgz
  ops/Helm/addons/observability/grafana-loki/charts/loki-6.3.4.tgz
Due: none

ui: upd deps
  boundaries/ui-monorepo/pnpm-lock.yaml
Due: backend, frontend
