Repository shortlink-org/shortlink: changes, and which Codecov flags are due for each by the changed paths.
All: backend, shortlink, frontend

extension: reorganization this boundary
  .github/dependabot.yml
  boundaries/extension/ GLOSSARY.md
  boundaries/extension/.adr-dir
  boundaries/extension/README.md
  boundaries/extension/ai-plugin/README.md
  boundaries/link/README.md
  boundaries/link/chrome-extension/.gitignore
  boundaries/link/chrome-extension/README.md
  boundaries/link/chrome-extension/assets/main.css
  boundaries/link/chrome-extension/entrypoints/background.ts
  boundaries/link/chrome-extension/entrypoints/popup/App.css
  boundaries/link/chrome-extension/entrypoints/popup/App.tsx
  boundaries/link/chrome-extension/entrypoints/popup/index.html
  boundaries/link/chrome-extension/entrypoints/popup/main.tsx
  boundaries/link/chrome-extension/entrypoints/popup/style.css
  boundaries/link/chrome-extension/package.json
  boundaries/link/chrome-extension/pnpm-lock.yaml
  boundaries/link/chrome-extension/postcss.config.js
  boundaries/link/chrome-extension/public/_locales/en/messages.json
  boundaries/link/chrome-extension/public/icon/128.png
  boundaries/link/chrome-extension/public/icon/16.png
  boundaries/link/chrome-extension/public/icon/32.png
  boundaries/link/chrome-extension/public/icon/48.png
  boundaries/link/chrome-extension/tailwind.config.js
  boundaries/link/chrome-extension/tsconfig.json
  boundaries/link/chrome-extension/wxt.config.ts
  boundaries/platform/README.md
  boundaries/platform/argocd-extension-docs/README.md
  boundaries/platform/argocd-extension-docs/ui/.gitignore
  boundaries/platform/argocd-extension-docs/ui/package-lock.json
  boundaries/platform/argocd-extension-docs/ui/package.json
  boundaries/platform/argocd-extension-docs/ui/src/index.tsx
  boundaries/platform/argocd-extension-docs/ui/src/tsconfig.json
  boundaries/platform/argocd-extension-docs/ui/webpack.config.js
  boundaries/platform/backstage/shortlink-org/components/ai-plugin.yaml
  boundaries/platform/backstage/shortlink-org/components/chrome-extension.yaml
  boundaries/platform/landscape/data.yml
  boundaries/ui/nx-monorepo/packages/landing/README.md
  ops/Helm/addons/argo/argocd/values.yaml
Due: backend, shortlink, frontend

[StepSecurity] Apply security best practices
  .github/dependabot.yml
Due: none

[StepSecurity] Apply security best practices (#14698)
  .github/dependabot.yml
Due: none

upd deps
  boundaries/ui/nx-monorepo/package.json
  boundaries/ui/nx-monorepo/packages/landing/package.json
  boundaries/ui/nx-monorepo/packages/next/components/Header/Header.tsx
  boundaries/ui/nx-monorepo/packages/next/package.json
  boundaries/ui/nx-monorepo/pnpm-lock.yaml
  ops/dockerfile/boundary_shop/admin.Dockerfile
  ops/dockerfile/referral.Dockerfile
Due: backend, frontend

argocd: v2.11.0-rc1
  ops/Helm/addons/argo/argocd/values.yaml
Due: none

refactoring
  ops/Helm/shortlink-shop/admin/Chart.yaml
Due: none

kargo: setting
  ops/Helm/addons/argo/kargo/values.yaml
Due: none

upd deps
  ops/Helm/shortlink-api/shortlink-api-grpc-web/README.md
  ops/Helm/shortlink-api/shortlink-api-grpc-web/values.yaml
  ops/Helm/shortlink-api/shortlink-api-ws/README.md
  ops/Helm/shortlink-api/shortlink-api-ws/values.yaml
  ops/Helm/shortlink-auth/README.md
  ops/Helm/shortlink-auth/values.yaml
  ops/Helm/shortlink-bff-link/README.md
  ops/Helm/shortlink-bff-link/values.yaml
  ops/Helm/shortlink-billing/README.md
  ops/Helm/shortlink-billing/values.yaml
  ops/Helm/shortlink-bot/README.md
  ops/Helm/shortlink-bot/values.yaml
  ops/Helm/shortlink-landing/README.md
  ops/Helm/shortlink-landing/values.yaml
  ops/Helm/shortlink-link/README.md
  ops/Helm/shortlink-link/draft/kargo/stage.yaml
  ops/Helm/shortlink-link/values.yaml
  ops/Helm/shortlink-metadata/README.md
  ops/Helm/shortlink-metadata/values.yaml
  ops/Helm/shortlink-next/README.md
  ops/Helm/shortlink-next/values.yaml
  ops/Helm/shortlink-notify/README.md
  ops/Helm/shortlink-notify/values.yaml
  ops/Helm/shortlink-platform/backstage/README.md
  ops/Helm/shortlink-platform/backstage/values.yaml
  ops/Helm/shortlink-platform/landscape/README.md
  ops/Helm/shortlink-platform/landscape/values.yaml
  ops/Helm/shortlink-platform/shortlink-logger/README.md
  ops/Helm/shortlink-platform/shortlink-logger/values.yaml
  ops/Helm/shortlink-proxy/README.md
  ops/Helm/shortlink-proxy/values.yaml
  ops/Helm/shortlink-referral/README.md
  ops/Helm/shortlink-referral/values.yaml
  ops/Helm/shortlink-shop/admin/README.md
  ops/Helm/shortlink-shop/admin/values.yaml
  ops/Helm/shortlink-support/README.md
  ops/Helm/shortlink-support/values.yaml
  ops/Helm/ui-kit/README.md
  ops/Helm/ui-kit/values.yaml
Due: none

argocd-shortlink: refactoring
  ops/Helm/addons/argo/argocd-shortlink/Chart.yaml
  ops/Helm/addons/argo/argocd-shortlink/templates/shortlink-billing.yaml
  ops/Helm/addons/argo/argocd-shortlink/templates/shortlink-link.yaml
Due: none

upd deps
  ops/Helm/shortlink-api/shortlink-api-cloudevents/README.md
  ops/Helm/shortlink-api/shortlink-api-graphql/README.md
  ops/Helm/shortlink-api/shortlink-api-grpc-web/README.md
  ops/Helm/shortlink-api/shortlink-api-ws/README.md
  ops/Helm/shortlink-api/shortlink-api-ws/values.yaml
  ops/Helm/shortlink-auth/README.md
  ops/Helm/shortlink-billing/shortlink-billing/README.md
  ops/Helm/shortlink-billing/shortlink-billing/values.yaml
  ops/Helm/shortlink-bot/README.md
  ops/Helm/shortlink-bot/values.yaml
  ops/Helm/shortlink-landing/README.md
  ops/Helm/shortlink-landing/values.yaml
  ops/Helm/shortlink-link/shortlink-bff-link/README.md
  ops/Helm/shortlink-link/shortlink-bff-link/values.yaml
  ops/Helm/shortlink-link/shortlink-link/README.md
  ops/Helm/shortlink-link/shortlink-link/draft/kargo/stage.yaml
  ops/Helm/shortlink-link/shortlink-link/values.yaml
  ops/Helm/shortlink-link/shortlink-metadata/README.md
  ops/Helm/shortlink-link/shortlink-metadata/values.yaml
  ops/Helm/shortlink-link/shortlink-proxy/README.md
  ops/Helm/shortlink-link/shortlink-proxy/values.yaml
  ops/Helm/shortlink-next/README.md
  ops/Helm/shortlink-next/values.yaml
  ops/Helm/shortlink-notify/README.md
  ops/Helm/shortlink-notify/values.yaml
  ops/Helm/shortlink-platform/backstage/README.md
  ops/Helm/shortlink-platform/backstage/values.yaml
  ops/Helm/shortlink-platform/landscape/README.md
  ops/Helm/shortlink-platform/shortlink-logger/README.md
  ops/Helm/shortlink-platform/shortlink-logger/values.yaml
  ops/Helm/shortlink-referral/README.md
  ops/Helm/shortlink-referral/values.yaml
  ops/Helm/shortlink-shop/admin/Chart.yaml
  ops/Helm/shortlink-shop/admin/README.md
  ops/Helm/shortlink-shop/admin/values.yaml
  ops/Helm/shortlink-support/README.md
  ops/Helm/shortlink-support/values.yaml
  ops/Helm/ui-kit/README.md
  ops/Helm/ui-kit/values.yaml
Due: none

[ImgBot] Optimize images
  boundaries/delivery/geolocation/docs/logo.png
  boundaries/ui/mobile/expo/apps/shortlink/assets/favicon.png
  docs/ADR/decisions/images/ADR-0013/kubescape.png
  docs/ADR/decisions/images/ADR-0014/kiali.png
  docs/ADR/decisions/images/ADR-0015/authentication.png
  docs/ADR/decisions/images/ADR-0017/profile-guided-optimization.png
  docs/shortlink-architecture.png
  ops/docs/ADR/decisions/proof/ADR-0003/argocd-install.png
  ops/docs/ADR/decisions/proof/ADR-0003/talos.png
  ops/docs/ADR/decisions/proof/ADR-0016/lifecycle-deploy.png
  ops/docs/ADR/decisions/proof/ADR-0028/kargo-cd.png
  ops/docs/ADR/decisions/proof/ADR-0028/kargo-example.png
  ops/docs/ADR/decisions/proof/ADR-0028/kargo-how-it-work.png
  pkg/rpc/middleware/pprof/pprof.png
Due: backend, frontend

upd deps
  ops/argocd/infrastructure/auth/spicedb-operator.yaml
Due: none

kargo: disable. wait v0.6.0
  ops/Helm/addons/argo/kargo/values.yaml
  ops/argocd/_draft/kargo/application.yaml
Due: none

refactoring
  ops/Helm/shortlink-landing/templates/base.yaml
Due: none

argocd: refactoring
  ops/Helm/shortlink-shop/common/.helmignore
  ops/Helm/shortlink-shop/common/Chart.yaml
  ops/Helm/shortlink-shop/common/README.md
  ops/Helm/shortlink-shop/common/charts/shortlink-template-0.8.17.tgz
  ops/Helm/shortlink-shop/common/templates/NOTES.txt
  ops/Helm/shortlink-shop/common/templates/limit_range.yaml
  ops/Helm/shortlink-shop/common/templates/network/sidecar.yaml
  ops/Helm/shortlink-shop/common/templates/observability/telemetry.yaml
  ops/Helm/shortlink-shop/common/templates/store/grafana-user.yaml
  ops/Helm/shortlink-shop/common/templates/store/grafana/postgres-dashboard.yaml
  ops/Helm/shortlink-shop/common/templates/store/grafana/postgres-datasources.yaml
  ops/Helm/shortlink-shop/common/templates/store/postgres.yaml
  ops/Helm/shortlink-shop/common/values.yaml
  ops/argocd/shortlink-link/common/application.yaml
  ops/argocd/shortlink-shop/common/application.yaml
Due: none

docs: improve
  ops/argocd/README.md
Due: none

landscape: setting
  ops/Helm/shortlink-platform/landscape/values.yaml
  ops/dockerfile/boundary_platform/landscape.Dockerfile
Due: none

landscape: setting
  ops/Helm/shortlink-platform/landscape/values.yaml
Due: none

docs: add logo for services
  boundaries/api/api-gateway/README.md
  boundaries/api/api-gateway/docs/public/logo.webp
  boundaries/auth/auth/README.md
  boundaries/auth/auth/docs/public/logo.webp
  boundaries/billing/billing/README.md
  boundaries/billing/billing/docs/public/logo.webp
  boundaries/billing/wallet/README.md
  boundaries/billing/wallet/docs/public/logo.webp
  boundaries/chat/chat/README.md
  boundaries/chat/chat/docs/public/logo.webp
  boundaries/chat/speech-to-text/README.md
  boundaries/chat/speech-to-text/docs/public/logo.webp
  boundaries/delivery/geolocation/README.md
  boundaries/delivery/geolocation/docs/logo.png
  boundaries/delivery/geolocation/docs/public/logo.webp
  boundaries/delivery/support/README.md
  boundaries/delivery/support/docs/public/logo.webp
  boundaries/link/bff-link/README.md
  boundaries/link/bff-link/docs/public/logo.webp
  boundaries/link/chrome-extension/README.md
  boundaries/link/chrome-extension/docs/public/logo.webp
  boundaries/link/link/README.md
  boundaries/link/link/docs/public/logo.webp
  boundaries/link/metadata/README.md
  boundaries/link/metadata/docs/public/logo.webp
  boundaries/link/proxy/README.md
  boundaries/link/proxy/docs/public/logo.webp
  boundaries/marketing/gamification/README.md
  boundaries/marketing/gamification/docs/public/logo.webp
  boundaries/marketing/referral/README.md
  boundaries/marketing/referral/docs/public/logo.webp
  boundaries/marketing/report/README.md
  boundaries/marketing/report/docs/public/logo.webp
  boundaries/marketing/stats/README.md
  boundaries/marketing/stats/docs/public/logo.webp
  boundaries/notification/bot/README.md
  boundaries/notification/bot/docs/public/logo.webp
Due: backend, shortlink

docs: add logo for services (svg format)
  boundaries/api/api-gateway/README.md
  boundaries/api/api-gateway/docs/public/logo.svg
  boundaries/auth/auth/README.md
  boundaries/auth/auth/docs/public/logo.svg
  boundaries/billing/billing/README.md
  boundaries/billing/billing/docs/public/logo.svg
  boundaries/billing/wallet/README.md
  boundaries/billing/wallet/docs/public/logo.svg
  boundaries/chat/chat/README.md
  boundaries/chat/chat/docs/public/logo.svg
  boundaries/chat/speech-to-text/README.md
  boundaries/chat/speech-to-text/docs/public/logo.svg
  boundaries/delivery/geolocation/README.md
  boundaries/delivery/geolocation/docs/public/logo.svg
  boundaries/delivery/support/README.md
  boundaries/delivery/support/docs/public/logo.svg
  boundaries/link/bff-link/README.md
  boundaries/link/bff-link/docs/public/logo.svg
  boundaries/link/chrome-extension/README.md
  boundaries/link/chrome-extension/docs/public/logo.svg
  boundaries/link/link/README.md
  boundaries/link/link/docs/public/logo.svg
  boundaries/link/metadata/README.md
  boundaries/link/metadata/docs/public/logo.svg
  boundaries/link/proxy/README.md
  boundaries/link/proxy/docs/public/logo.svg
  boundaries/marketing/gamification/README.md
  boundaries/marketing/gamification/docs/public/logo.svg
  boundaries/marketing/referral/README.md
  boundaries/marketing/referral/docs/public/logo.svg
  boundaries/marketing/report/README.md
  boundaries/marketing/report/docs/public/logo.svg
  boundaries/marketing/stats/README.md
  boundaries/marketing/stats/docs/public/logo.svg
  boundaries/notification/bot/README.md
  boundaries/notification/bot/docs/public/logo.svg
Due: backend, shortlink

landscape: update
  boundaries/platform/landscape/Makefile
  boundaries/platform/landscape/data.yml
  boundaries/platform/landscape/logos/api-gateway.svg
  boundaries/platform/landscape/logos/auth.svg
  boundaries/platform/landscape/logos/bff-link.svg
  boundaries/platform/landscape/logos/billing.svg
  boundaries/platform/landscape/logos/bot.svg
  boundaries/platform/landscape/logos/chat.svg
  boundaries/platform/landscape/logos/chrome-extension.svg
  boundaries/platform/landscape/logos/gamification.svg
  boundaries/platform/landscape/logos/geolocation.svg
  boundaries/platform/landscape/logos/link.svg
  boundaries/platform/landscape/logos/metadata.svg
  boundaries/platform/landscape/logos/proxy.svg
  boundaries/platform/landscape/logos/referral.svg
  boundaries/platform/landscape/logos/report.svg
  boundaries/platform/landscape/logos/speech-to-text.svg
  boundaries/platform/landscape/logos/stats.svg
  boundaries/platform/landscape/logos/support.svg
  boundaries/platform/landscape/logos/wallet.svg
  boundaries/platform/landscape/scripts/build-logo.sh
Due: backend

shortlink-shop-admin: setting
  ops/Helm/shortlink-shop/admin/values.yaml
Due: none

shortlink-shop-common: setting
  ops/argocd/shortlink-shop/common/application.yaml
Due: none

shortlink-shop-admin: setting
  ops/Helm/shortlink-shop/admin/Chart.yaml
  ops/Helm/shortlink-shop/admin/cache.values.yaml
  ops/argocd/shortlink-shop/admin/application.yaml
Due: none

docs: add logo
  boundaries/notification/newsletter/docs/public/logo.svg
  boundaries/notification/newsletter/docs/public/logo.webp
  boundaries/platform/argocd-extension-docs/docs/public/logo.svg
  boundaries/platform/argocd-extension-docs/docs/public/logo.webp
  boundaries/platform/backstage/docs/public/logo.svg
  boundaries/platform/backstage/docs/public/logo.webp
  boundaries/platform/csi/docs/public/logo.svg
  boundaries/platform/csi/docs/public/logo.webp
  boundaries/platform/landscape/docs/public/logo.svg
  boundaries/platform/landscape/docs/public/logo.webp
  boundaries/platform/logger/docs/public/logo.svg
  boundaries/platform/logger/docs/public/logo.webp
  boundaries/platform/shortctl/docs/public/logo.svg
  boundaries/platform/shortctl/docs/public/logo.webp
  boundaries/search/docs/public/logo.webp
  boundaries/shop/admin/docs/public/logo.webp
  boundaries/shop/cart/docs/public/logo.webp
  boundaries/shop/merch/docs/public/logo.webp
  boundaries/shortdb/shortdb-operator/docs/public/logo.webp
  boundaries/shortdb/shortdb/docs/public/logo.webp
Due: backend

docs: add icons
  boundaries/ds/colab/docs/public/logo.webp
  boundaries/notification/notify/docs/public/logo.webp
  boundaries/platform/landscape/Makefile
  boundaries/platform/landscape/data.yml
  boundaries/ui-monorepo/packages/landing/docs/public/logo.webp
  boundaries/ui-monorepo/packages/next/docs/public/logo.webp
  boundaries/ui-monorepo/packages/ui-kit/docs/public/logo.webp
Due: backend, frontend

docs: add icons
  boundaries/billing/flutter/docs/public/logo.svg
  boundaries/ds/colab/docs/public/logo.svg
  boundaries/link/expo/docs/public/logo.svg
  boundaries/notification/notify/docs/public/logo.svg
  boundaries/search/docs/public/logo.svg
  boundaries/shop/admin/docs/public/logo.svg
  boundaries/shop/cart/docs/public/logo.svg
  boundaries/shop/merch/docs/public/logo.svg
  boundaries/shortdb/shortdb-operator/docs/public/logo.svg
  boundaries/shortdb/shortdb/docs/public/logo.svg
  boundaries/ui-monorepo/packages/landing/docs/public/logo.svg
  boundaries/ui-monorepo/packages/landing/docs/public/logo.webp
  boundaries/ui-monorepo/packages/next/docs/public/logo.svg
  boundaries/ui-monorepo/packages/ui-kit/docs/public/logo.svg
Due: backend, shortlink, frontend

docs: improve docs
  boundaries/platform/landscape/guide.yml
Due: backend

upd deps
  boundaries/api/api-gateway/go.mod
  boundaries/api/api-gateway/go.sum
  boundaries/marketing/report/go.mod
  boundaries/marketing/report/go.sum
  boundaries/ui-monorepo/pnpm-lock.yaml
  go.mod
  go.sum
Due: backend, frontend

[StepSecurity] Apply security best practices (#14711)
  .github/dependabot.yml
Due: none

Path conditions:
  backend: any of: internal/, pkg/, boundaries/
  shortlink: any of: boundaries/link
  frontend: any of: boundaries/ui
