Repository shortlink-org/shortlink: changes, and which Codecov flags are due for each by the changed paths.
All: backend, shortlink, frontend

argocd: setting
  ops/Helm/addons/argo/argocd/Chart.yaml
Due: none

helm: upd deps
  ops/Helm/addons/cert-manager/charts/cert-manager-approver-policy-v0.13.1.tgz
  ops/Helm/addons/cert-manager/charts/cert-manager-approver-policy-v0.14.0.tgz
  ops/Helm/addons/mq/rabbitmq/charts/rabbitmq-cluster-operator-4.2.4.tgz
  ops/Helm/addons/mq/rabbitmq/charts/rabbitmq-cluster-operator-4.2.5.tgz
  ops/Helm/addons/mq/rabbitmq/charts/shortlink-template-0.8.17.tgz
Due: none

upd deps
  boundaries/api/api-gateway/go.mod
  boundaries/api/api-gateway/go.sum
  boundaries/billing/wallet/go.mod
  boundaries/billing/wallet/go.sum
  boundaries/link/bff/go.mod
  boundaries/link/bff/go.sum
  boundaries/link/link/go.mod
  boundaries/link/link/go.sum
  boundaries/link/supplies/knative/kafka-to-elasticsearch/go.mod
  boundaries/link/supplies/knative/kafka-to-elasticsearch/go.sum
  boundaries/marketing/report/go.mod
  boundaries/marketing/report/go.sum
  boundaries/notification/notify/go.mod
  boundaries/notification/notify/go.sum
  boundaries/platform/csi/go.mod
  boundaries/platform/csi/go.sum
  boundaries/shortdb/shortdb-operator/go.mod
  boundaries/shortdb/shortdb-operator/go.sum
  boundaries/ui-monorepo/pnpm-lock.yaml
  docs/ADR/decisions/proof/ADR-0007/go.sum
  go.mod
  go.sum
  go.work.sum
  ops/docker-compose/application/auth/kratos/conf/kratos.yml
Due: backend, shortlink, frontend

link: recovery GetLinks method
  boundaries/link/bff/internal/infrastructure/http/controllers/link/getLinks.go
  boundaries/link/bff/internal/infrastructure/http/server.go
  boundaries/link/link/internal/domain/link/v1/links.go
  boundaries/link/link/internal/infrastructure/rpc/link/v1/list.go
  boundaries/link/link/internal/usecases/link/add.go
Due: backend, shortlink

ui-kit: add Sidebar
  boundaries/ui-monorepo/packages/ui-kit/src/index.ts
  boundaries/ui-monorepo/packages/ui-kit/src/page/Sidebar/Sidebar.stories.tsx
  boundaries/ui-monorepo/packages/ui-kit/src/page/Sidebar/Sidebar.tsx
Due: backend, frontend

ui-kit: improve Sidebar component
  boundaries/ui-monorepo/packages/ui-kit/src/page/Sidebar/CollapsibleMenu/CollapsibleMenu.jsx
  boundaries/ui-monorepo/packages/ui-kit/src/page/Sidebar/Sidebar.tsx
Due: backend, frontend

[StepSecurity] Apply security best practices
  .github/dependabot.yml
Due: none

[StepSecurity] Apply security best practices (#15165)
  .github/dependabot.yml
Due: none

ui-kit: improve Sidebar component
  boundaries/ui-monorepo/package.json
  boundaries/ui-monorepo/packages/next/components/Header/Header.tsx
  boundaries/ui-monorepo/packages/ui-kit/src/page/PriceTable/PriceTable.tsx
  boundaries/ui-monorepo/packages/ui-kit/src/page/Sidebar/ActiveLink.tsx
  boundaries/ui-monorepo/packages/ui-kit/src/page/Sidebar/CollapsibleMenu.tsx
  boundaries/ui-monorepo/packages/ui-kit/src/page/Sidebar/Footer.tsx
  boundaries/ui-monorepo/packages/ui-kit/src/page/Sidebar/Sidebar.stories.tsx
  boundaries/ui-monorepo/packages/ui-kit/src/page/Sidebar/Sidebar.tsx
Due: backend, frontend

ui-kit: improve Sidebar component
  boundaries/ui-monorepo/packages/ui-kit/src/page/Sidebar/CollapsibleMenu.tsx
  boundaries/ui-monorepo/packages/ui-kit/src/page/Sidebar/Footer.tsx
  boundaries/ui-monorepo/packages/ui-kit/src/page/Sidebar/Item.tsx
  boundaries/ui-monorepo/packages/ui-kit/src/page/Sidebar/Sidebar.stories.tsx
  boundaries/ui-monorepo/packages/ui-kit/src/page/Sidebar/Sidebar.tsx
Due: backend, frontend

ui-next: use new Sidebar component
  boundaries/ui-monorepo/packages/next/components/Header/Header.tsx
  boundaries/ui-monorepo/packages/next/components/Header/listItems.tsx
  boundaries/ui-monorepo/packages/ui-kit/src/page/Sidebar/CollapsibleMenu.tsx
  boundaries/ui-monorepo/packages/ui-kit/src/page/Sidebar/Footer.tsx
  boundaries/ui-monorepo/packages/ui-kit/src/page/Sidebar/Item.tsx
  boundaries/ui-monorepo/packages/ui-kit/src/page/Sidebar/Sidebar.tsx
  boundaries/ui-monorepo/pnpm-lock.yaml
  ops/Makefile/docker.mk
Due: backend, frontend

ui-next: improve Header component
  boundaries/ui-monorepo/packages/next/components/Footer/Footer.tsx
  boundaries/ui-monorepo/packages/next/components/Header/Header.tsx
  boundaries/ui-monorepo/packages/next/components/Layout.tsx
  boundaries/ui-monorepo/packages/ui-kit/rollup.config.js
  boundaries/ui-monorepo/pnpm-lock.yaml
Due: backend, frontend

upd docs
  boundaries/ui-monorepo/pnpm-lock.yaml
  ops/Helm/addons/observability/prometheus-operator/charts/kube-prometheus-stack-58.3.2.tgz
Due: backend, frontend

upd docs
  ops/Helm/addons/observability/prometheus-operator/Chart.lock
  ops/Helm/addons/observability/prometheus-operator/Chart.yaml
  ops/Helm/addons/observability/prometheus-operator/charts/kube-prometheus-stack-58.3.2.tgz
  ops/Helm/addons/observability/prometheus-operator/charts/kube-prometheus-stack-58.3.3.tgz
Due: none

ui: improve
  boundaries/ui-monorepo/.npmrc
  boundaries/ui-monorepo/package.json
  boundaries/ui-monorepo/packages/landing/tailwind.config.js
  boundaries/ui-monorepo/packages/next/app/layout.tsx
  boundaries/ui-monorepo/packages/next/app/providers.tsx
  boundaries/ui-monorepo/packages/next/components/Header/Header.tsx
  boundaries/ui-monorepo/packages/next/components/Layout.tsx
  boundaries/ui-monorepo/packages/next/tailwind.config.js
  boundaries/ui-monorepo/packages/ui-kit/src/page/Sidebar/CollapsibleMenu.tsx
  boundaries/ui-monorepo/packages/ui-kit/src/page/Sidebar/Footer.tsx
  boundaries/ui-monorepo/packages/ui-kit/src/page/Sidebar/Item.tsx
  boundaries/ui-monorepo/packages/ui-kit/src/page/Sidebar/Sidebar.stories.tsx
  boundaries/ui-monorepo/packages/ui-kit/src/page/Sidebar/Sidebar.tsx
  boundaries/ui-monorepo/packages/ui-kit/src/theme/theme.ts
  boundaries/ui-monorepo/packages/ui-kit/src/ui/SearchForm/SearchForm.tsx
  boundaries/ui-monorepo/packages/ui-kit/tailwind.config.js
  boundaries/ui-monorepo/pnpm-lock.yaml
Due: backend, frontend

argocd: dex disable. use oauth
  ops/Helm/addons/argo/argocd/values.yaml
Due: none

argocd: setting
  ops/Helm/addons/argo/argocd/values.yaml
Due: none

argocd-workflow: disable (don't use it right now)
  ops/argocd/_draft/argo-stack/argocd-image-updater/application.yaml
  ops/argocd/_draft/argo-stack/argocd-workflow/application.yaml
Due: none

grafana-operator: try use
  ops/Helm/addons/observability/grafana-operator/Chart.yaml
  ops/Helm/addons/observability/grafana-operator/README.md
  ops/Helm/addons/observability/grafana-operator/charts/grafana-operator-v5.9.0.tgz
  ops/Helm/addons/observability/grafana-operator/templates/NOTES.txt
  ops/Helm/addons/observability/grafana-operator/templates/grafana.yaml
  ops/Helm/addons/observability/grafana-operator/templates/limit_range.yaml
  ops/Helm/addons/observability/grafana-operator/templates/sidecar.yaml
  ops/Helm/addons/observability/grafana-operator/values.yaml
  ops/Helm/addons/observability/grafana/Chart.lock
  ops/argocd/observability/grafana/operator.yaml
Due: none

grafana-operator: add to draft
  ops/argocd/_draft/grafana-operator/operator.yaml
Due: none

gitlab: refactoring. use components
  boundaries/platform/backstage/shortlink-org/apis/shortlink-api.yaml
  ops/gitlab/pipelines/build/docker_base.yml
  ops/gitlab/pipelines/test/sast.yml
  ops/gitlab/stages/release.yml
  ops/gitlab/stages/test.yml
  ops/gitlab/templates/rules.yml
Due: backend

upd deps
  boundaries/api/api-gateway/go.mod
  boundaries/api/api-gateway/go.sum
  boundaries/billing/wallet/go.mod
  boundaries/billing/wallet/go.sum
  boundaries/link/bff/go.mod
  boundaries/link/bff/go.sum
  boundaries/link/link/go.mod
  boundaries/link/link/go.sum
  boundaries/link/supplies/knative/kafka-to-elasticsearch/go.mod
  boundaries/link/supplies/knative/kafka-to-elasticsearch/go.sum
  boundaries/marketing/report/go.mod
  boundaries/marketing/report/go.sum
  boundaries/notification/notify/go.mod
  boundaries/notification/notify/go.sum
  boundaries/platform/csi/go.mod
  boundaries/platform/csi/go.sum
  boundaries/platform/shortctl/go.mod
  boundaries/platform/shortctl/go.sum
  boundaries/shortdb/shortdb-operator/go.mod
  boundaries/shortdb/shortdb-operator/go.sum
  boundaries/ui-monorepo/pnpm-lock.yaml
  go.mod
  go.sum
Due: backend, shortlink, frontend

refactoring
  boundaries/api/api-gateway/gateways/graphql/di/wire_gen.go
  boundaries/api/api-gateway/gateways/grpc-web/di/wire_gen.go
  boundaries/platform/istio-extension/Makefile
  boundaries/platform/istio-extension/shortlink_go/README.md
  ops/dockerfile/boundary_platform/go_wasm.Dockerfile
  ops/dockerfile/boundary_platform/go_wasm.Dockerfile.dockerignore
Due: backend

golangci-lint:v1.58.0
  boundaries/billing/billing/internal/infrastructure/api/http/http-chi/controllers/account/account.go
  boundaries/billing/billing/internal/infrastructure/api/http/http-chi/controllers/balance/balance.go
  boundaries/billing/billing/internal/infrastructure/api/http/http-chi/controllers/order/order.go
  boundaries/billing/billing/internal/infrastructure/api/http/http-chi/controllers/payment/payment.go
  boundaries/billing/billing/internal/infrastructure/api/http/http-chi/controllers/tariff/tariff.go
  boundaries/shop/merch/usecases/delivery_order_to_customer/pkg/main.go
  ops/Makefile/go.mk
  pkg/http/middleware/span/span.go
  pkg/http/middleware/span/span_test.go
Due: backend

ui: upd deps
  boundaries/ui-monorepo/pnpm-lock.yaml
Due: backend, frontend

gitlab: fix
  ops/gitlab/stages/build.yml
Due: none

gitlab: fix ci
  ops/gitlab/pipelines/test/golang.yml
  ops/gitlab/pipelines/test/security.yml
Due: none

gitlab: fix ci
  ops/gitlab/pipelines/test/golang.yml
  ops/gitlab/pipelines/test/security.yml
  ops/gitlab/stages/build.yml
  ops/gitlab/stages/test.yml
Due: none

gitlab: fix ci
  boundaries/shortdb/shortdb/io_uring/type.go
Due: backend

gitlab: fix ci
  ops/gitlab/stages/test.yml
Due: none

gitlab: fix ci
  ops/gitlab/pipelines/test/sast.yml
  ops/gitlab/pipelines/test/security.yml
  ops/gitlab/stages/test.yml
Due: none

gitlab: fix ci
  ops/gitlab/pipelines/test/security.yml
  ops/gitlab/stages/test.yml
Due: none

gitlab: fix ci
  ops/gitlab/pipelines/test/security.yml
Due: none

ui: refactoring
  boundaries/ui-monorepo/package.json
  boundaries/ui-monorepo/packages/landing/app/providers.tsx
  boundaries/ui-monorepo/packages/landing/tailwind.config.js
  boundaries/ui-monorepo/packages/next/app/page.tsx
  boundaries/ui-monorepo/packages/next/app/providers.tsx
  boundaries/ui-monorepo/packages/next/components/Copyright.tsx
  boundaries/ui-monorepo/packages/next/components/Header/Header.tsx
  boundaries/ui-monorepo/packages/next/components/Layout.tsx
  boundaries/ui-monorepo/packages/next/package.json
  boundaries/ui-monorepo/packages/next/tailwind.config.js
  boundaries/ui-monorepo/packages/ui-kit/tailwind.config.js
  boundaries/ui-monorepo/pnpm-lock.yaml
  ops/Makefile/docker.mk
Due: backend, frontend

rabbitmq: setting
  ops/Helm/addons/mq/kafka/Chart.yaml
  ops/Helm/addons/mq/rabbitmq/templates/rabbitmq-cluster.yaml
  ops/Helm/addons/mq/rabbitmq/values.yaml
Due: none

link: recovery e2e tests for crud
  boundaries/link/link/Makefile
  boundaries/link/link/internal/infrastructure/repository/crud/error/error.go
  boundaries/link/link/internal/infrastructure/repository/crud/postgres/add.go
  boundaries/link/link/internal/infrastructure/repository/crud/postgres/postgres.go
  boundaries/link/link/internal/infrastructure/repository/crud/postgres/schema/crud/copyfrom.go
  boundaries/link/link/internal/infrastructure/repository/crud/postgres/schema/crud/db.go
  boundaries/link/link/internal/infrastructure/repository/crud/postgres/schema/crud/models.go
  boundaries/link/link/internal/infrastructure/repository/crud/postgres/schema/crud/querier.go
  boundaries/link/link/internal/infrastructure/repository/crud/postgres/schema/crud/query.sql.go
  boundaries/link/link/internal/infrastructure/repository/crud/postgres/schema/query.sql
  boundaries/link/link/internal/infrastructure/repository/crud/postgres/schema/sqlc.yaml
  boundaries/link/link/internal/infrastructure/repository/crud/postgres/update.go
  boundaries/link/link/internal/infrastructure/rpc/link/v1/add_dto.go
  boundaries/link/link/internal/infrastructure/rpc/link/v1/get.go
  boundaries/link/link/internal/infrastructure/rpc/link/v1/list.go
  boundaries/link/link/internal/infrastructure/rpc/link/v1/update.go
  boundaries/link/link/internal/infrastructure/rpc/link/v1/update_dto.go
  boundaries/link/link/internal/usecases/link/update.go
  boundaries/link/link/ops/Makefile/deps.mk
  boundaries/link/link/ops/Makefile/tests.mk
  boundaries/link/link/tests/e2e/k6_rpc_cqrs_link_v1.js
  boundaries/link/link/tests/e2e/k6_rpc_link_v1.js
Due: backend, shortlink

ui: refactoring
  boundaries/ui-monorepo/package.json
  boundaries/ui-monorepo/packages/landing/app/providers.tsx
  boundaries/ui-monorepo/packages/next/app/providers.tsx
  boundaries/ui-monorepo/packages/next/app/user/dashboard/page.tsx
  boundaries/ui-monorepo/packages/next/components/Header/Header.tsx
  boundaries/ui-monorepo/packages/next/components/Page/Header.tsx
  boundaries/ui-monorepo/packages/ui-kit/rollup.config.js
  boundaries/ui-monorepo/packages/ui-kit/src/page/PriceTable/PriceTable.tsx
  boundaries/ui-monorepo/packages/ui-kit/src/page/Sidebar/Sidebar.tsx
  boundaries/ui-monorepo/pnpm-lock.yaml
Due: backend, frontend

Path conditions:
  backend: any of: internal/, pkg/, boundaries/
  shortlink: any of: boundaries/link
  frontend: any of: boundaries/ui
