Repository shortlink-org/shortlink: changes, and which Codecov flags are due for each by the changed paths.
All: backend, shortlink, frontend

istio-plugin-shortlink: setting
  ops/argocd/kustomize/istio-plugins/shortlink.yaml
Due: none

prometheus-operator: setting
  ops/argocd/infrastructure/prometheus-operator/application.yaml
Due: none

loki: setting
  ops/Helm/addons/observability/grafana-loki/charts/loki-6.0.0.tgz
  ops/Helm/addons/observability/grafana-loki/charts/loki-6.1.0.tgz
Due: none

argocd: setting managedNamespaceMetadata
  ops/argocd/shortlink-billing/common/application.yaml
  ops/argocd/shortlink-link/common/application.yaml
  ops/argocd/shortlink-shop/common/application.yaml
Due: none

istio-extension: improve docs
  boundaries/platform/README.md
Due: backend

istio-extension: setting
  ops/argocd/kustomize/istio-plugins/shortlink-link.yaml
Due: none

istio-extension: setting
  ops/argocd/kustomize/istio-plugins/kustomization.yaml
Due: none

helm: setting istio-injection
  ops/Helm/addons/argo/argocd/templates/namespace.yaml
  ops/argocd/infrastructure/auth/kratos.yaml
  ops/argocd/infrastructure/cert-manager/application.yaml
  ops/argocd/infrastructure/mq/kafka/application.yaml
  ops/argocd/infrastructure/mq/rabbitmq/application.yaml
  ops/argocd/observability/grafana-oncall/application.yaml
  ops/argocd/observability/grafana/application.yaml
  ops/argocd/observability/testkube/application.yaml
  ops/argocd/observability/tracetest/application.yaml
Due: none

argocd: setting
  ops/Helm/addons/argo/argocd/templates/namespace.yaml
Due: none

istio-plugin-shortlink: setting
  ops/Helm/shortlink-billing/common/templates/network/istio-plugin-shortlink.yaml
  ops/Helm/shortlink-link/common/templates/network/istio-plugin-shortlink.yaml
  ops/Helm/shortlink-shop/common/templates/network/istio-plugin-shortlink.yaml
  ops/argocd/infrastructure/network/istio/istio-plugins.yaml
  ops/argocd/kustomize/istio-plugins/kustomization.yaml
Due: none

nginx-ingress: setting
  ops/argocd/infrastructure/network/nginx-ingress/application.yaml
Due: none

istio-plugin: setting
  boundaries/platform/istio-extension/README.md
  boundaries/platform/istio-extension/shortlink/internal/internal.go
  boundaries/platform/istio-extension/shortlink/main.go
  ops/Helm/addons/argo/argocd/templates/namespace.yaml
Due: backend

istio-plugin: improve docs
  boundaries/platform/istio-extension/README.md
Due: backend

istio-plugin: improve
  ops/Helm/shortlink-billing/common/templates/network/istio-plugin-shortlink.yaml
  ops/Helm/shortlink-link/common/templates/network/istio-plugin-shortlink.yaml
  ops/Helm/shortlink-shop/common/templates/network/istio-plugin-shortlink.yaml
Due: none

upd deps
  boundaries/platform/istio-extension/go.mod
  boundaries/platform/istio-extension/go.sum
  boundaries/ui-monorepo/pnpm-lock.yaml
  go.work
Due: backend, frontend

kratos: v0.41.0
  ops/Helm/addons/auth/kratos/charts/kratos-0.40.1.tgz
  ops/Helm/addons/auth/kratos/charts/kratos-0.41.0.tgz
Due: none

grafana: setting for try a new logs
  ops/Helm/addons/observability/grafana-loki/values.yaml
  ops/Helm/addons/observability/grafana/values.yaml
  ops/docker-compose/tooling/observability/grafana/grafana-loki.yaml
  ops/docker-compose/tooling/observability/grafana/grafana.yaml
Due: none

[StepSecurity] Apply security best practices
  .github/dependabot.yml
Due: none

[StepSecurity] Apply security best practices (#14805)
  .github/dependabot.yml
Due: none

loki: setting for try a new logs
  ops/Helm/addons/observability/grafana-loki/values.yaml
Due: none

grafana: setting for try a new logs
  ops/Helm/addons/observability/grafana/values.yaml
Due: none

argocd: add grafana-alloy
  ops/Helm/addons/observability/grafana-alloy/Chart.lock
  ops/Helm/addons/observability/grafana-alloy/Chart.yaml
  ops/Helm/addons/observability/grafana-alloy/charts/alloy-0.1.0.tgz
  ops/Helm/addons/observability/grafana-alloy/templates/NOTES.txt
  ops/Helm/addons/observability/grafana-alloy/values.yaml
  ops/argocd/observability/grafana-alloy/application.yaml
Due: none

argocd: setting
  ops/argocd/infrastructure/prometheus-operator/application.yaml
  ops/argocd/observability/grafana-loki/application.yaml
  ops/argocd/observability/grafana-oncall/application.yaml
Due: none

pyroscope: setting
  ops/Helm/addons/observability/grafana/values.yaml
  ops/Helm/addons/observability/pyroscope/templates/grafana/pyroscope-datasources.yaml
Due: none

grafana: setting
  ops/Helm/addons/observability/grafana/values.yaml
Due: none

grafana-alloy: setting
  ops/argocd/observability/grafana-alloy/application.yaml
Due: none

istio: setting
  ops/Helm/addons/gateway/istio-gateway/templates/grafana/istio-extension-dashboard.yaml
  ops/Helm/addons/gateway/istio-gateway/templates/grafana/istio-mesh-dashboard.yaml
  ops/Helm/addons/gateway/istio-gateway/templates/grafana/istio-performance-dashboard.yaml
  ops/Helm/addons/gateway/istio-gateway/templates/grafana/istio-service-dashboard.yaml
  ops/Helm/addons/gateway/istio-gateway/templates/grafana/istio-workload-dashboard.yaml
  ops/Helm/addons/gateway/istio-gateway/templates/grafana/pilot-dashboard.yaml
Due: none

grafana-agent: deprecated && drop
  ops/Helm/addons/observability/grafana-agent/Chart.lock
  ops/Helm/addons/observability/grafana-agent/Chart.yaml
  ops/Helm/addons/observability/grafana-agent/README.md
  ops/Helm/addons/observability/grafana-agent/charts/k8s-monitoring-0.13.1.tgz
  ops/Helm/addons/observability/grafana-agent/secret.sops.yaml
  ops/Helm/addons/observability/grafana-agent/templates/NOTES.txt
  ops/Helm/addons/observability/grafana-agent/values.yaml
  ops/argocd/_draft/grafana-agent/application.yaml
Due: none

argocd: refactoring
  ops/argocd/_draft/knative-stack/knative-eventing/application.yaml
  ops/argocd/_draft/knative-stack/knative-serving/application.yaml
Due: none

grafana-loki: enable limits_config.volume_enabled
  ops/Helm/addons/observability/grafana-loki/values.yaml
Due: none

istio-plugin: refactoring
  boundaries/marketing/report/go.mod
  boundaries/marketing/report/go.sum
  boundaries/platform/istio-extension/.adr-dir
  boundaries/platform/istio-extension/README.md
  boundaries/platform/istio-extension/docs/ADR/decisions/0001-contract.md
  boundaries/platform/istio-extension/shortlink/internal/internal.go
  ops/Helm/shortlink-billing/common/templates/network/istio-plugin-shortlink.yaml
  ops/Helm/shortlink-link/common/templates/network/istio-plugin-shortlink.yaml
  ops/Helm/shortlink-shop/common/templates/network/istio-plugin-shortlink.yaml
  ops/Helm/shortlink-template/templates/service/_service.yaml
Due: backend

istio-plugin: refactoring
  ops/Helm/shortlink-billing/common/templates/network/istio-plugin-shortlink.yaml
  ops/Helm/shortlink-link/common/templates/network/istio-plugin-shortlink.yaml
  ops/Helm/shortlink-shop/common/templates/network/istio-plugin-shortlink.yaml
Due: none

istio-plugin: setting
  boundaries/platform/istio-extension/docs/ADR/decisions/0001-contract.md
  boundaries/platform/istio-extension/shortlink/internal/internal.go
  ops/Helm/shortlink-billing/shortlink-billing/templates/network/istio-plugin-shortlink.yaml
  ops/Helm/shortlink-link/shortlink-bff-link/templates/network/istio-plugin-shortlink.yaml
  ops/Helm/shortlink-shop/admin/templates/network/istio-plugin-shortlink.yaml
Due: backend

istio-plugin: setting
  boundaries/platform/istio-extension/shortlink/internal/internal.go
Due: backend

istio-plugin: add metrics
  boundaries/platform/istio-extension/README.md
  boundaries/platform/istio-extension/shortlink/internal/internal.go
  boundaries/platform/istio-extension/shortlink/internal/metrics.go
  boundaries/platform/istio-extension/shortlink/main.go
Due: backend

Path conditions:
  backend: any of: internal/, pkg/, boundaries/
  shortlink: any of: boundaries/link
  frontend: any of: boundaries/ui
