Repository shortlink-org/shortlink: changes, and which Codecov flags are due for each by the changed paths.
All: backend, shortlink, frontend

shop: add health_check
  boundaries/shop/admin/src/admin/settings.py
  boundaries/shop/admin/src/admin/urls.py
Due: backend

shop: improve pyproject and deps
  boundaries/shop/admin/Makefile
  boundaries/shop/admin/pyproject.toml
  boundaries/shop/admin/requirements.txt
Due: backend

shop: add dockerfile
  ops/dockerfile/boundary_shop/admin.Dockerfile
  ops/dockerfile/boundary_shop/admin.Dockerfile.dockerignore
Due: none

shop: add build to gitlab
  ops/gitlab/workflows/matrix_build_base.yml
Due: none

shortlink-template: add jobs and improve docs
  ops/Helm/shortlink-template/Chart.lock
  ops/Helm/shortlink-template/Chart.yaml
  ops/Helm/shortlink-template/README.md
  ops/Helm/shortlink-template/templates/_job.yaml
  ops/Helm/shortlink-template/templates/_labels.yaml
  ops/Helm/shortlink-template/templates/_service.yaml
Due: none

helm: add shortlink-shop/admin
  ops/Helm/shortlink-shop/admin/.helmignore
  ops/Helm/shortlink-shop/admin/Chart.lock
  ops/Helm/shortlink-shop/admin/Chart.yaml
  ops/Helm/shortlink-shop/admin/README.md
  ops/Helm/shortlink-shop/admin/charts/shortlink-template-0.8.13.tgz
  ops/Helm/shortlink-shop/admin/templates/NOTES.txt
  ops/Helm/shortlink-shop/admin/templates/base.yaml
  ops/Helm/shortlink-shop/admin/values.yaml
Due: none

shop: add admin to argocd
  ops/Helm/addons/argo/argocd-shortlink/templates/shortlink-shop.yaml
  ops/argocd/shortlink-shop/admin/application.yaml
Due: none

ui: upd deps
  boundaries/ui/nx-monorepo/pnpm-lock.yaml
Due: backend, frontend

argo-workflows: 0.41.0
  ops/Helm/addons/argo/argo-workflows/Chart.lock
  ops/Helm/addons/argo/argo-workflows/Chart.yaml
  ops/Helm/addons/argo/argo-workflows/charts/argo-workflows-0.40.14.tgz
  ops/Helm/addons/argo/argo-workflows/charts/argo-workflows-0.41.0.tgz
Due: none

helm: upd deps
  ops/Helm/shortlink-api/shortlink-api-cloudevents/README.md
  ops/Helm/shortlink-api/shortlink-api-cloudevents/values.yaml
  ops/Helm/shortlink-api/shortlink-api-graphql/README.md
  ops/Helm/shortlink-api/shortlink-api-graphql/values.yaml
  ops/Helm/shortlink-api/shortlink-api-grpc-web/README.md
  ops/Helm/shortlink-api/shortlink-api-grpc-web/values.yaml
  ops/Helm/shortlink-api/shortlink-api-ws/README.md
  ops/Helm/shortlink-api/shortlink-api-ws/values.yaml
  ops/Helm/shortlink-auth/README.md
  ops/Helm/shortlink-auth/values.yaml
  ops/Helm/shortlink-bff-web/README.md
  ops/Helm/shortlink-bff-web/values.yaml
  ops/Helm/shortlink-billing/README.md
  ops/Helm/shortlink-billing/values.yaml
  ops/Helm/shortlink-bot/README.md
  ops/Helm/shortlink-bot/values.yaml
  ops/Helm/shortlink-link/README.md
  ops/Helm/shortlink-link/values.yaml
  ops/Helm/shortlink-logger/README.md
  ops/Helm/shortlink-logger/values.yaml
  ops/Helm/shortlink-metadata/README.md
  ops/Helm/shortlink-metadata/values.yaml
  ops/Helm/shortlink-next/README.md
  ops/Helm/shortlink-next/values.yaml
  ops/Helm/shortlink-notify/README.md
  ops/Helm/shortlink-notify/values.yaml
  ops/Helm/shortlink-proxy/README.md
  ops/Helm/shortlink-proxy/values.yaml
  ops/Helm/shortlink-referral/README.md
  ops/Helm/shortlink-referral/values.yaml
  ops/Helm/shortlink-shop/admin/README.md
  ops/Helm/shortlink-shop/admin/values.yaml
  ops/Helm/shortlink-support/README.md
  ops/Helm/shortlink-support/values.yaml
  ops/Helm/ui-kit/README.md
  ops/Helm/ui-kit/values.yaml
Due: none

landing: add link to shop
  boundaries/ui/nx-monorepo/packages/landing/components/Home/Home.tsx
Due: backend, frontend

argocd: setting shortlink-shop apps
  ops/Helm/addons/argo/argocd-shortlink/templates/shortlink-shop.yaml
Due: none

shortlink-shop: setting
  ops/argocd/shortlink-shop/admin/application.yaml
Due: none

golint: fix
  .github/linters/.golangci.yml
  .golangci.yml
  go.work.sum
  ops/Makefile/go.mk
  ops/gitlab/pipelines/test/golang.yml
  pkg/db/mysql/mysql.go
  pkg/pattern/specification/not.go
Due: backend

go: upd deps
  boundaries/platform/csi/go.mod
  boundaries/platform/csi/go.sum
  boundaries/shortdb/shortdb-operator/go.sum
  go.mod
  go.sum
  go.work.sum
Due: backend

ui: faro disable
  boundaries/ui/nx-monorepo/package.json
  boundaries/ui/nx-monorepo/packages/landing/app/providers.tsx
  boundaries/ui/nx-monorepo/packages/landing/instrumentation.ts
  boundaries/ui/nx-monorepo/packages/landing/next.config.js
  boundaries/ui/nx-monorepo/packages/next/app/providers.tsx
  boundaries/ui/nx-monorepo/packages/next/instrumentation.ts
  boundaries/ui/nx-monorepo/packages/next/next.config.js
  boundaries/ui/nx-monorepo/pnpm-lock.yaml
Due: backend, frontend

idea: refactoring run apps
  .run/bff-link.run.xml
  .run/billing.run.xml
  .run/delivery_order_to_customer.run.xml
  .run/link.run.xml
  .run/metadata.run.xml
  .run/order-processor.run.xml
  .run/wallet.run.xml
Due: none

upd deps
  go.work
Due: none

bff-link: refactoring
  boundaries/link/bff-link/infrastructure/http/server.go
  ops/Helm/shortlink-bff-link/.helmignore
  ops/Helm/shortlink-bff-link/Chart.lock
  ops/Helm/shortlink-bff-link/Chart.yaml
  ops/Helm/shortlink-bff-link/README.md
  ops/Helm/shortlink-bff-link/charts/shortlink-template-0.8.13.tgz
  ops/Helm/shortlink-bff-link/templates/NOTES.txt
  ops/Helm/shortlink-bff-link/templates/base.yaml
  ops/Helm/shortlink-bff-link/values.yaml
  ops/Helm/shortlink-bff-web/charts/shortlink-template-0.8.13.tgz
Due: backend, shortlink

refactoring
  boundaries/link/bff-link/cmd/bff_link.go
  ops/dockerfile/boundary_shop/admin.Dockerfile
  ops/dockerfile/referral.Dockerfile
  ops/gitlab/workflows/matrix_build_base.yml
Due: backend, shortlink

helm: upd deps
  ops/Helm/shortlink-api/shortlink-api-cloudevents/README.md
  ops/Helm/shortlink-api/shortlink-api-graphql/README.md
  ops/Helm/shortlink-api/shortlink-api-grpc-web/README.md
  ops/Helm/shortlink-api/shortlink-api-grpc-web/values.yaml
  ops/Helm/shortlink-api/shortlink-api-ws/README.md
  ops/Helm/shortlink-api/shortlink-api-ws/values.yaml
  ops/Helm/shortlink-auth/README.md
  ops/Helm/shortlink-auth/values.yaml
  ops/Helm/shortlink-bff-link/README.md
  ops/Helm/shortlink-bff-link/values.yaml
  ops/Helm/shortlink-billing/README.md
  ops/Helm/shortlink-billing/values.yaml
  ops/Helm/shortlink-bot/README.md
  ops/Helm/shortlink-bot/values.yaml
  ops/Helm/shortlink-link/README.md
  ops/Helm/shortlink-link/values.yaml
  ops/Helm/shortlink-logger/README.md
  ops/Helm/shortlink-logger/values.yaml
  ops/Helm/shortlink-metadata/README.md
  ops/Helm/shortlink-metadata/values.yaml
  ops/Helm/shortlink-next/README.md
  ops/Helm/shortlink-next/values.yaml
  ops/Helm/shortlink-notify/README.md
  ops/Helm/shortlink-notify/values.yaml
  ops/Helm/shortlink-proxy/README.md
  ops/Helm/shortlink-proxy/values.yaml
  ops/Helm/shortlink-referral/README.md
  ops/Helm/shortlink-referral/values.yaml
  ops/Helm/shortlink-shop/admin/README.md
  ops/Helm/shortlink-shop/admin/values.yaml
  ops/Helm/shortlink-support/README.md
  ops/Helm/shortlink-support/values.yaml
  ops/Helm/ui-kit/README.md
  ops/Helm/ui-kit/values.yaml
Due: none

argocd: setting shortlink-shop
  ops/Helm/addons/argo/argocd-shortlink/Chart.yaml
  ops/Helm/addons/argo/argocd-shortlink/templates/shortlink-shop.yaml
Due: none

upd deps
  go.work.sum
Due: none

upd deps
  boundaries/link/bff-link/go.sum
  go.sum
Due: backend, shortlink

argocd: upd deps
  ops/Helm/addons/argo/argocd/values.yaml
Due: none

Update README.md
  README.md
Due: none

referral: refactoring
  boundaries/marketing/referral/Makefile
  boundaries/marketing/referral/README.md
  boundaries/marketing/referral/pyproject.toml
  boundaries/marketing/referral/requirements.txt
  docs/ADR/README.md
  docs/ADR/decisions/0032-python-code-style-selection.md
Due: backend

argocd: try use dragonfly as store
  ops/Helm/addons/argo/argocd/Chart.lock
  ops/Helm/addons/argo/argocd/Chart.yaml
  ops/Helm/addons/argo/argocd/charts/dragonfly-v1.15.1.tgz
  ops/Helm/addons/argo/argocd/charts/redis-19.0.1.tgz
  ops/Helm/addons/argo/argocd/redis.values.yaml
Due: none

argocd: setting dragonfly
  ops/Helm/addons/argo/argocd/Chart.yaml
  ops/Helm/addons/argo/argocd/values.yaml
Due: none

upd deps
  ops/Helm/addons/cni/cilium/charts/cilium-1.15.2.tgz
  ops/Helm/addons/cni/cilium/charts/cilium-1.15.3.tgz
Due: none

shortlink-shop-admin: setting
  ops/argocd/shortlink-shop/admin/application.yaml
Due: none

shortlink-shop-admin: setting
  ops/Helm/shortlink-shop/admin/values.yaml
Due: none

upd deps
  boundaries/ui/nx-monorepo/pnpm-lock.yaml
  ops/Makefile/docker.mk
Due: backend, frontend

Path conditions:
  backend: any of: internal/, pkg/, boundaries/
  shortlink: any of: boundaries/link
  frontend: any of: boundaries/ui
