Repository shortlink-org/shortlink: changes, and which Codecov flags are due for each by the changed paths.
All: backend, shortlink, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "40...100"

  status:
    project: yes
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: no

flags:
  # filter the folder(s) you wish to measure by that flag
  backend:
    paths:
      - internal/
      - pkg/
      - boundaries/

  shortlink:
    paths:
      - boundaries/link

  frontend:
    paths:
      - boundaries/ui

vector: setting
  ops/Helm/addons/observability/vector/values.yaml
Due: none

argocd: vector -> promtail
  ops/Helm/addons/observability/grafana-loki/promtail.values.yaml
  ops/Helm/addons/observability/vector/values.yaml
  ops/argocd/_draft/vector/application.yaml
Due: none

argocd: set argocd.argoproj.io/sync-wave: "1"
  ops/Helm/addons/argo/argocd-shortlink/templates/knative.yaml
  ops/Helm/addons/argo/argocd-shortlink/templates/observability.yaml
  ops/Helm/addons/argo/argocd-shortlink/templates/shortlink.yaml
  ops/Helm/addons/auth/kratos/templates/grafana-user.yaml
  ops/Helm/addons/auth/kratos/templates/postgres-operator.yaml
  ops/Helm/addons/observability/opentelemetry-operator/templates/tooling/go-instrumentation.yaml
  ops/Helm/shortlink-common/templates/store/postgres.yaml
  ops/Helm/shortlink-shop/admin/templates/postgres.yaml
  ops/argocd/kustomize/auth/spicedb-operator/spicedb/spiceDBCluster.yaml
  ops/argocd/observability/vector/application.yaml
Due: none

grafana-loki: setting
  ops/argocd/observability/grafana-loki/application.yaml
Due: none

vector: disable
  ops/argocd/_draft/vector/application.yaml
Due: none

opentelemetry-operator: setting
  ops/Helm/addons/observability/opentelemetry-operator/values.yaml
Due: none

argocd-shortlink: setting
  ops/Helm/addons/argo/argocd-shortlink/templates/shortlink.yaml
Due: none

istio-cni: enable
  ops/argocd/infrastructure/network/istio/istio-cni/istio-cni.yaml
Due: none

istio-cni: disable
  ops/argocd/_draft/istio-stack/istio-cni/istio-cni.yaml
Due: none

shortlink-common: setting
  ops/Helm/addons/argo/argocd-shortlink/templates/shortlink-shop.yaml
  ops/Helm/addons/argo/argocd-shortlink/templates/shortlink.yaml
  ops/Helm/shortlink-common/templates/namespace/shortlink.yaml
Due: none

shortlink-link: disable kargo
  ops/Helm/shortlink-link/draft/kargo/stage.yaml
Due: none

shop-admin: setting
  ops/Helm/shortlink-shop/admin/values.yaml
Due: none

shortlink-link: fix problem with migration
  boundaries/link/link/infrastructure/repository/crud/postgres/migrations/000005_link_add_domain_link.up.sql
  boundaries/link/link/infrastructure/repository/crud/postgres/migrations/000008_shortlink_optimization.up.sql
  boundaries/link/link/infrastructure/repository/crud/postgres/migrations/000011_add_partiotion_links.up.sql
Due: backend, shortlink

shop-admin: setting ENV
  ops/Helm/shortlink-shop/admin/values.yaml
Due: none

shop-admin: setting
  boundaries/shop/admin/Makefile
  boundaries/shop/admin/src/migration.py
  ops/Helm/shortlink-shop/admin/values.yaml
Due: backend

ui: upd deps
  boundaries/ui/nx-monorepo/package.json
  boundaries/ui/nx-monorepo/pnpm-lock.yaml
Due: backend, frontend

merbridge: delete
  ops/argocd/_draft/istio-stack/merbridge/application.yaml
  ops/argocd/kustomize/_deprecated/merbridge/kustomization.yaml
Due: none

argocd: setting extentions
  ops/Helm/addons/argo/argocd/values.yaml
  ops/argocd/infrastructure/argo-stack/argocd-extensions/application.yaml
  ops/argocd/kustomize/argocd-extensions/argocd-extension-docs/extension.yaml
  ops/argocd/kustomize/argocd-extensions/argocd-extension-metrics/configmap.yaml
  ops/argocd/kustomize/argocd-extensions/argocd-extension-metrics/extension.yaml
  ops/argocd/kustomize/argocd-extensions/argocd-extension-metrics/ingress.yaml
  ops/argocd/kustomize/argocd-extensions/kustomization.yaml
  ops/argocd/kustomize/argocd-extensions/rollout-extension/extension.yaml
Due: none

upd deps
  boundaries/link/bff-link/go.mod
  boundaries/link/bff-link/go.sum
  go.mod
  go.sum
  go.work.sum
Due: backend, shortlink

shortlink-link: use standart middleware for chi
  boundaries/link/bff-link/infrastructure/http/server.go
Due: backend, shortlink

shop-admin: setting ALLOWED_HOSTS
  boundaries/shop/admin/src/admin/settings.py
Due: backend

shop-admin: setting DEBUG
  boundaries/shop/admin/src/admin/settings.py
  ops/Helm/shortlink-shop/admin/values.yaml
Due: backend

gitlab: disable cache for UI
  ops/gitlab/pipelines/ui/templates/nx.yml
Due: none

Revert "fix(deps): update dependency org.telegram:telegrambots-abilities to v7 (#14509)"
  boundaries/notification/bot/pom.xml
Due: backend

Revert "gitlab: disable cache for UI"
  ops/gitlab/pipelines/ui/templates/nx.yml
Due: none

upd deps
  boundaries/link/proxy/pnpm-lock.yaml
  boundaries/ui/nx-monorepo/pnpm-lock.yaml
Due: backend, shortlink, frontend

gitlab: build image with lazy pulling stargz/eStargz base images
  ops/docs/ADR/decisions/0010-docker-tips.md
  ops/gitlab/templates/build.yml
Due: none

shop-admin: improve work with debug mode
  boundaries/shop/admin/CONTRIBUTING.md
  boundaries/shop/admin/src/admin/settings.py
Due: backend

docker: improve work with cache for go
  boundaries/shortdb/shortdb-operator/Dockerfile
  ops/dockerfile/boundary_platform/csi.Dockerfile
  ops/dockerfile/go.Dockerfile
  ops/dockerfile/shortdb.Dockerfile
Due: backend

gitlab-ci: try use buildkit
  ops/gitlab/pipelines/build/docker_base.yml
  ops/gitlab/templates/build.yml
Due: none

go: upd deps
  boundaries/platform/csi/go.mod
  boundaries/platform/csi/go.sum
  boundaries/shortdb/shortdb-operator/go.mod
  boundaries/shortdb/shortdb-operator/go.sum
  go.sum
  go.work.sum
Due: backend

gitlab-ci: 1 retry enough
  ops/gitlab/pipelines/addons/argocd/stages/dependencies.yml
  ops/gitlab/pipelines/test/helm.yml
  ops/gitlab/templates/build.yml
  ops/gitlab/templates/helm.yml
Due: none

helm: upd deps
  ops/Helm/shortlink-api/shortlink-api-cloudevents/README.md
  ops/Helm/shortlink-api/shortlink-api-cloudevents/values.yaml
  ops/Helm/shortlink-api/shortlink-api-graphql/README.md
  ops/Helm/shortlink-api/shortlink-api-graphql/values.yaml
  ops/Helm/shortlink-api/shortlink-api-grpc-web/README.md
  ops/Helm/shortlink-api/shortlink-api-grpc-web/values.yaml
  ops/Helm/shortlink-api/shortlink-api-ws/README.md
  ops/Helm/shortlink-api/shortlink-api-ws/values.yaml
  ops/Helm/shortlink-auth/README.md
  ops/Helm/shortlink-auth/values.yaml
  ops/Helm/shortlink-bff-link/README.md
  ops/Helm/shortlink-bff-link/values.yaml
  ops/Helm/shortlink-billing/README.md
  ops/Helm/shortlink-billing/values.yaml
  ops/Helm/shortlink-bot/README.md
  ops/Helm/shortlink-bot/values.yaml
  ops/Helm/shortlink-link/README.md
  ops/Helm/shortlink-link/draft/kargo/stage.yaml
  ops/Helm/shortlink-link/values.yaml
  ops/Helm/shortlink-logger/README.md
  ops/Helm/shortlink-logger/values.yaml
  ops/Helm/shortlink-metadata/README.md
  ops/Helm/shortlink-metadata/values.yaml
  ops/Helm/shortlink-next/README.md
  ops/Helm/shortlink-next/values.yaml
  ops/Helm/shortlink-notify/README.md
  ops/Helm/shortlink-notify/values.yaml
  ops/Helm/shortlink-proxy/README.md
  ops/Helm/shortlink-proxy/values.yaml
  ops/Helm/shortlink-referral/README.md
  ops/Helm/shortlink-referral/values.yaml
  ops/Helm/shortlink-shop/admin/README.md
  ops/Helm/shortlink-shop/admin/values.yaml
  ops/Helm/shortlink-support/README.md
  ops/Helm/shortlink-support/values.yaml
  ops/Helm/ui-kit/README.md
  ops/Helm/ui-kit/values.yaml
Due: none

[StepSecurity] Apply security best practices
  boundaries/shortdb/shortdb-operator/Dockerfile
Due: backend

[StepSecurity] Apply security best practices (#14573)
  boundaries/shortdb/shortdb-operator/Dockerfile
Due: backend

gitlab-ci: setting buildctl
  ops/gitlab/templates/build.yml
Due: none
