Repository shortlink-org/shortlink: changes, and which Codecov flags are due for each by the changed paths.
All: backend, shortlink, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "40...100"

  status:
    project: yes
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: no

flags:
  # filter the folder(s) you wish to measure by that flag
  backend:
    paths:
      - internal/
      - pkg/
      - boundaries/

  shortlink:
    paths:
      - boundaries/link

  frontend:
    paths:
      - boundaries/ui

go: upd deps
  boundaries/platform/csi/go.mod
  boundaries/platform/csi/go.sum
  go.work.sum
Due: backend

gitlab-ci: setting build
  go.work.sum
  ops/gitlab/templates/build.yml
Due: none

gitlab-ci: use buildx
  ops/gitlab/pipelines/build/docker_base.yml
  ops/gitlab/templates/build.yml
Due: none

backstage: refactoring
  boundaries/platform/backstage/packages/app/package.json
  boundaries/platform/backstage/packages/app/src/components/catalog/EntityPage.tsx
  boundaries/platform/backstage/packages/backend/package.json
  boundaries/platform/backstage/packages/backend/src/index.ts
  boundaries/platform/backstage/packages/backend/src/plugins/kubernetes.ts
  boundaries/platform/backstage/yarn.lock
Due: backend

backstage: success builds docker image
  boundaries/platform/backstage/package.json
  boundaries/platform/backstage/yarn.lock
  ops/dockerfile/boundary_platform/backstage.Dockerfile
Due: backend

upd deps
  boundaries/api/api-gateway/go.mod
  boundaries/api/api-gateway/go.sum
  boundaries/billing/wallet/go.mod
  boundaries/billing/wallet/go.sum
  boundaries/link/bff-link/go.mod
  boundaries/link/bff-link/go.sum
  boundaries/link/proxy/pnpm-lock.yaml
  boundaries/link/supplies/knative/kafka-to-elasticsearch/go.mod
  boundaries/link/supplies/knative/kafka-to-elasticsearch/go.sum
  boundaries/marketing/report/go.mod
  boundaries/marketing/report/go.sum
  boundaries/platform/csi/go.mod
  boundaries/platform/csi/go.sum
  boundaries/shortdb/shortdb-operator/go.mod
  boundaries/shortdb/shortdb-operator/go.sum
  boundaries/ui/nx-monorepo/package.json
  boundaries/ui/nx-monorepo/pnpm-lock.yaml
  go.mod
  go.sum
  go.work
  go.work.sum
Due: backend, shortlink, frontend

shortlink-template: add CiliumNetworkPolicy
  ops/Helm/shortlink-template/templates/network_policy/_cilium_network_policy.yaml
  ops/Helm/shortlink-template/templates/network_policy/_network_policy.yaml
  ops/Helm/shortlink-template/templates/service/_service.yaml
  ops/Helm/shortlink-template/values.yaml
Due: none

shop-admin: fix
  boundaries/shop/admin/src/admin/settings.py
Due: backend

shop-admin: setting startupProbe
  ops/Helm/shortlink-shop/admin/values.yaml
Due: none

helm: upd deps
  ops/Helm/shortlink-api/shortlink-api-cloudevents/README.md
  ops/Helm/shortlink-api/shortlink-api-cloudevents/values.yaml
  ops/Helm/shortlink-api/shortlink-api-graphql/README.md
  ops/Helm/shortlink-api/shortlink-api-graphql/values.yaml
  ops/Helm/shortlink-api/shortlink-api-grpc-web/README.md
  ops/Helm/shortlink-api/shortlink-api-grpc-web/values.yaml
  ops/Helm/shortlink-api/shortlink-api-ws/README.md
  ops/Helm/shortlink-api/shortlink-api-ws/values.yaml
  ops/Helm/shortlink-auth/README.md
  ops/Helm/shortlink-auth/values.yaml
  ops/Helm/shortlink-bff-link/README.md
  ops/Helm/shortlink-bff-link/values.yaml
  ops/Helm/shortlink-billing/README.md
  ops/Helm/shortlink-billing/values.yaml
  ops/Helm/shortlink-bot/README.md
  ops/Helm/shortlink-bot/values.yaml
  ops/Helm/shortlink-landing/values.yaml
  ops/Helm/shortlink-link/README.md
  ops/Helm/shortlink-link/draft/kargo/stage.yaml
  ops/Helm/shortlink-link/values.yaml
  ops/Helm/shortlink-logger/README.md
  ops/Helm/shortlink-logger/values.yaml
  ops/Helm/shortlink-metadata/README.md
  ops/Helm/shortlink-metadata/values.yaml
  ops/Helm/shortlink-next/README.md
  ops/Helm/shortlink-next/values.yaml
  ops/Helm/shortlink-notify/README.md
  ops/Helm/shortlink-notify/values.yaml
  ops/Helm/shortlink-proxy/README.md
  ops/Helm/shortlink-proxy/values.yaml
  ops/Helm/shortlink-referral/README.md
  ops/Helm/shortlink-referral/values.yaml
  ops/Helm/shortlink-shop/admin/README.md
  ops/Helm/shortlink-shop/admin/values.yaml
  ops/Helm/shortlink-support/README.md
  ops/Helm/shortlink-support/values.yaml
  ops/Helm/ui-kit/README.md
  ops/Helm/ui-kit/values.yaml
Due: none

upd deps
  go.work.sum
Due: none

upd deps
  boundaries/api/api-gateway/go.mod
  boundaries/api/api-gateway/go.sum
  boundaries/link/bff-link/go.mod
  boundaries/link/bff-link/go.sum
  boundaries/marketing/report/go.mod
  boundaries/marketing/report/go.sum
  boundaries/platform/csi/go.mod
  boundaries/platform/csi/go.sum
  go.sum
  go.work.sum
Due: backend, shortlink

shop-admin: setting
  ops/Helm/shortlink-shop/admin/values.yaml
Due: none

shortlnk-shop: setting redis
  ops/Helm/shortlink-shop/admin/redis.values.yaml
Due: none

upd deps
  ops/Helm/backstage/README.md
  ops/Helm/backstage/values.yaml
  ops/Helm/shortlink-api/shortlink-api-cloudevents/README.md
  ops/Helm/shortlink-api/shortlink-api-cloudevents/values.yaml
  ops/Helm/shortlink-api/shortlink-api-graphql/README.md
  ops/Helm/shortlink-api/shortlink-api-graphql/values.yaml
  ops/Helm/shortlink-api/shortlink-api-grpc-web/README.md
  ops/Helm/shortlink-api/shortlink-api-grpc-web/values.yaml
  ops/Helm/shortlink-api/shortlink-api-ws/README.md
  ops/Helm/shortlink-api/shortlink-api-ws/values.yaml
  ops/Helm/shortlink-auth/README.md
  ops/Helm/shortlink-auth/values.yaml
  ops/Helm/shortlink-bff-link/README.md
  ops/Helm/shortlink-bff-link/values.yaml
  ops/Helm/shortlink-billing/README.md
  ops/Helm/shortlink-billing/values.yaml
  ops/Helm/shortlink-bot/README.md
  ops/Helm/shortlink-bot/values.yaml
  ops/Helm/shortlink-landing/README.md
  ops/Helm/shortlink-landing/values.yaml
  ops/Helm/shortlink-link/README.md
  ops/Helm/shortlink-link/draft/kargo/stage.yaml
  ops/Helm/shortlink-link/values.yaml
  ops/Helm/shortlink-logger/README.md
  ops/Helm/shortlink-logger/values.yaml
  ops/Helm/shortlink-metadata/README.md
  ops/Helm/shortlink-metadata/values.yaml
  ops/Helm/shortlink-next/README.md
  ops/Helm/shortlink-next/values.yaml
  ops/Helm/shortlink-notify/README.md
  ops/Helm/shortlink-notify/values.yaml
  ops/Helm/shortlink-proxy/README.md
  ops/Helm/shortlink-proxy/values.yaml
  ops/Helm/shortlink-referral/README.md
  ops/Helm/shortlink-referral/values.yaml
  ops/Helm/shortlink-support/README.md
  ops/Helm/shortlink-support/values.yaml
  ops/Helm/ui-kit/README.md
  ops/Helm/ui-kit/values.yaml
Due: none

shortlink-shop: setting redis
  ops/Helm/shortlink-shop/admin/values.yaml
Due: none

shop-admin: fix health_check
  boundaries/shop/admin/src/admin/settings.py
Due: backend

landscape: init
  boundaries/platform/landscape/Makefile
  boundaries/platform/landscape/data.yml
  boundaries/platform/landscape/guide.yml
  boundaries/platform/landscape/logos/cncf.svg
  boundaries/platform/landscape/settings.yml
Due: backend

landscape: add info
  boundaries/platform/landscape/.gitignore
  boundaries/platform/landscape/Makefile
  boundaries/platform/landscape/data.yml
  boundaries/platform/landscape/logos/cncf.svg
  boundaries/platform/landscape/logos/logo.svg
  boundaries/platform/landscape/settings.yml
Due: backend

ui: upd deps
  boundaries/ui/nx-monorepo/package.json
  boundaries/ui/nx-monorepo/pnpm-lock.yaml
Due: backend, frontend

uv: refactoring all python projects
  boundaries/marketing/referral/requirements.txt
  boundaries/shop/admin/Makefile
  ops/dockerfile/boundary_shop/admin.Dockerfile
  ops/dockerfile/referral.Dockerfile
  ops/gitlab/pipelines/release_ml.yml
  poc/ml-diff/ml/Makefile
  poc/ml-diff/ml/README.md
  poc/ml-diff/ml/pyproject.toml
  poc/ml-diff/ml/requirements.txt
  poc/ml-diff/ml/train.py
Due: backend

uv: refactoring all python projects
  boundaries/marketing/referral/requirements.txt
  poc/ml-diff/ml/requirements.txt
Due: backend

docs: refactoring
  pkg/http/README.md
Due: backend

landscape: write about each services
  boundaries/platform/landscape/Makefile
  boundaries/platform/landscape/data.yml
  boundaries/platform/landscape/settings.yml
Due: backend

landscape: add dockerfile
  ops/dockerfile/boundary_platform/landscape.Dockerfile
  ops/dockerfile/boundary_platform/landscape.Dockerfile.dockerignore
  ops/dockerfile/boundary_platform/landscape/landscape.local
Due: none

landscape: add to CI
  ops/dockerfile/boundary_platform/landscape.Dockerfile
  ops/gitlab/templates/build.yml
  ops/gitlab/workflows/matrix_build_base.yml
Due: none

docs: update readme for platform boundary
  boundaries/platform/README.md
Due: backend

upd deps
  boundaries/ui/nx-monorepo/pnpm-lock.yaml
Due: backend, frontend

landscape: add to ArgoCD and add helm chart
  ops/Helm/shortlink-platform/landscape/.helmignore
  ops/Helm/shortlink-platform/landscape/Chart.lock
  ops/Helm/shortlink-platform/landscape/Chart.yaml
  ops/Helm/shortlink-platform/landscape/README.md
  ops/Helm/shortlink-platform/landscape/charts/shortlink-template-0.8.16.tgz
  ops/Helm/shortlink-platform/landscape/templates/NOTES.txt
  ops/Helm/shortlink-platform/landscape/templates/base.yaml
  ops/Helm/shortlink-platform/landscape/values.yaml
  ops/argocd/shortlink-platfrom/landscape/application.yaml
Due: none

argocd-shortlink: refactoring
  ops/Helm/addons/argo/argocd-shortlink/templates/shortlink-platform.yaml
Due: none

upd deps
  boundaries/api/api-gateway/go.mod
  boundaries/api/api-gateway/go.sum
  boundaries/billing/wallet/go.mod
  boundaries/billing/wallet/go.sum
  boundaries/link/bff-link/go.mod
  boundaries/link/bff-link/go.sum
  boundaries/link/supplies/knative/kafka-to-elasticsearch/go.mod
  boundaries/link/supplies/knative/kafka-to-elasticsearch/go.sum
  boundaries/marketing/report/go.mod
  boundaries/marketing/report/go.sum
  boundaries/platform/csi/go.mod
  boundaries/platform/csi/go.sum
  boundaries/platform/shortctl/go.mod
  boundaries/platform/shortctl/go.sum
  boundaries/shortdb/shortdb-operator/go.mod
  boundaries/shortdb/shortdb-operator/go.sum
  docs/ADR/decisions/proof/ADR-0007/go.mod
  docs/ADR/decisions/proof/ADR-0007/go.sum
  go.mod
  go.sum
  go.work.sum
Due: backend, shortlink

landing: add lint to landscape
  boundaries/ui/nx-monorepo/packages/landing/components/Home/Home.tsx
Due: backend, frontend

ui: upd deps
  boundaries/ui/nx-monorepo/package.json
Due: backend, frontend

ui: upd deps
  boundaries/ui/nx-monorepo/pnpm-lock.yaml
Due: backend, frontend

eslint: migration to v9
  boundaries/ui/nx-monorepo/.gitignore
  boundaries/ui/nx-monorepo/package.json
  boundaries/ui/nx-monorepo/packages/eslint/eslint-config-shortlink/.prettierrc
  boundaries/ui/nx-monorepo/packages/eslint/eslint-config-shortlink/.swcrc
  boundaries/ui/nx-monorepo/packages/eslint/eslint-config-shortlink/eslint.config.js
  boundaries/ui/nx-monorepo/packages/eslint/eslint-config-shortlink/index.ts
  boundaries/ui/nx-monorepo/packages/eslint/eslint-config-shortlink/index.yaml
  boundaries/ui/nx-monorepo/packages/eslint/eslint-config-shortlink/package.json
  boundaries/ui/nx-monorepo/packages/landing/.eslintignore
  boundaries/ui/nx-monorepo/packages/landing/.eslintrc.yaml
  boundaries/ui/nx-monorepo/packages/landing/app/layout.tsx
  boundaries/ui/nx-monorepo/packages/landing/eslint.config.js
  boundaries/ui/nx-monorepo/packages/landing/next.config.js
  boundaries/ui/nx-monorepo/packages/landing/package.json
  boundaries/ui/nx-monorepo/packages/landing/tailwind.config.js
  boundaries/ui/nx-monorepo/packages/next/.eslintignore
  boundaries/ui/nx-monorepo/packages/next/.eslintrc.yaml
  boundaries/ui/nx-monorepo/packages/next/app/auth/registration/page.tsx
  boundaries/ui/nx-monorepo/packages/next/app/layout.tsx
  boundaries/ui/nx-monorepo/packages/next/components/Header/Header.tsx
  boundaries/ui/nx-monorepo/packages/next/components/Header/listItems.tsx
  boundaries/ui/nx-monorepo/packages/next/components/ui/NodeInputButton.tsx
  boundaries/ui/nx-monorepo/packages/next/components/ui/NodeInputDefault.tsx
  boundaries/ui/nx-monorepo/packages/next/eslint.config.js
  boundaries/ui/nx-monorepo/packages/next/next.config.js
  boundaries/ui/nx-monorepo/packages/next/package.json
  boundaries/ui/nx-monorepo/packages/next/store/api/Api.ts
  boundaries/ui/nx-monorepo/packages/next/tailwind.config.js
  boundaries/ui/nx-monorepo/packages/ui-kit/.eslintignore
  boundaries/ui/nx-monorepo/packages/ui-kit/.eslintrc.yaml
  boundaries/ui/nx-monorepo/packages/ui-kit/eslint.config.js
  boundaries/ui/nx-monorepo/packages/ui-kit/package.json
  boundaries/ui/nx-monorepo/packages/ui-kit/rollup.config.js
  boundaries/ui/nx-monorepo/packages/ui-kit/src/effect/Spotlight/Spotlight.tsx
  boundaries/ui/nx-monorepo/packages/ui-kit/src/ui/Table/CreateNewItemModal/CreateNewItemModal.tsx
  boundaries/ui/nx-monorepo/packages/ui-kit/src/ui/Table/Table.tsx
  boundaries/ui/nx-monorepo/packages/ui-kit/tailwind.config.js
  boundaries/ui/nx-monorepo/pnpm-lock.yaml
Due: backend, frontend
