Repository shortlink-org/shortlink: changes, and which Codecov flags are due for each by the changed paths.
All: backend, shortlink, frontend

shortlink-shop-admin: setting
  ops/Helm/shortlink-shop/admin/values.yaml
Due: none

argocd: setting
  ops/argocd/shortlink-billing/billing/application.yaml
  ops/argocd/shortlink-billing/common/application.yaml
  ops/argocd/shortlink-link/bff/shortlink-bff-web.yaml
  ops/argocd/shortlink-link/common/application.yaml
  ops/argocd/shortlink-link/link/application.yaml
  ops/argocd/shortlink-link/metadata/application.yaml
  ops/argocd/shortlink-link/proxy/application.yaml
Due: none

setting limits for cache
  ops/Helm/addons/argo/argocd/redis.values.yaml
  ops/Helm/shortlink-shop/admin/cache.values.yaml
Due: none

dragonfly: doungrade to v1.15.1
  ops/Helm/addons/argo/argocd/redis.values.yaml
  ops/Helm/shortlink-shop/admin/cache.values.yaml
  ops/argocd/_draft/dragonfly/application.yaml
Due: none

dragonfly: setting
  ops/Helm/shortlink-shop/admin/cache.values.yaml
Due: none

dragonfly: setting
  ops/Helm/addons/argo/argocd/redis.values.yaml
Due: none

dragonfly: setting
  ops/Helm/addons/argo/argocd/redis.values.yaml
  ops/Helm/shortlink-shop/admin/cache.values.yaml
Due: none

argocd: use redis
  ops/Helm/addons/argo/argocd/Chart.lock
  ops/Helm/addons/argo/argocd/Chart.yaml
  ops/Helm/addons/argo/argocd/charts/dragonfly-v1.16.0.tgz
  ops/Helm/addons/argo/argocd/charts/redis-19.0.2.tgz
  ops/Helm/addons/argo/argocd/redis.values.yaml
Due: none

shortlink-admin-shop: use redis
  ops/Helm/shortlink-shop/admin/Chart.lock
  ops/Helm/shortlink-shop/admin/Chart.yaml
  ops/Helm/shortlink-shop/admin/cache.values.yaml
  ops/Helm/shortlink-shop/admin/charts/dragonfly-v1.16.0.tgz
  ops/Helm/shortlink-shop/admin/charts/redis-19.0.2.tgz
  ops/Helm/shortlink-shop/admin/charts/shortlink-template-0.8.17.tgz
  ops/Helm/shortlink-shop/admin/values.yaml
Due: none

argocd: setting
  ops/Helm/addons/argo/argocd/values.yaml
Due: none

shortlink-shop: refactoring
  ops/Helm/addons/store/dragonfly/Chart.lock
  ops/Helm/addons/store/dragonfly/Chart.yaml
  ops/Helm/addons/store/dragonfly/README.md
  ops/Helm/addons/store/dragonfly/charts/dragonfly-v1.16.0.tgz
  ops/Helm/addons/store/dragonfly/templates/NOTES.txt
  ops/Helm/addons/store/dragonfly/templates/limit_range.yaml
  ops/Helm/addons/store/dragonfly/values.yaml
  ops/Helm/shortlink-shop/admin/Chart.lock
  ops/Helm/shortlink-shop/admin/Chart.yaml
  ops/Helm/shortlink-shop/admin/charts/shortlink-template-0.8.17.tgz
  ops/Helm/shortlink-shop/common/Chart.lock
  ops/Helm/shortlink-shop/common/Chart.yaml
  ops/Helm/shortlink-shop/common/charts/redis-19.0.2.tgz
  ops/Helm/shortlink-shop/common/charts/shortlink-template-0.8.17.tgz
  ops/Helm/shortlink-shop/common/redis.values.yaml
  ops/argocd/shortlink-shop/admin/application.yaml
  ops/argocd/shortlink-shop/common/application.yaml
  ops/docs/ADR/decisions/0002-cache-system.md
Due: none

shortlink-shop: setting
  ops/Helm/shortlink-shop/admin/Chart.yaml
  ops/Helm/shortlink-shop/admin/values.yaml
Due: none

argocd: setting
  ops/Helm/shortlink-billing/common/templates/priority-class/standart.yaml
  ops/Helm/shortlink-link/common/templates/priority-class/standart.yaml
Due: none

argocd: setting
  ops/argocd/shortlink-billing/billing/application.yaml
Due: none

shortlink-shop: setting
  ops/Helm/shortlink-shop/admin/values.yaml
Due: none

landscape: dix link to repositories
  boundaries/platform/landscape/data.yml
  boundaries/ui-monorepo/package.json
  boundaries/ui-monorepo/pnpm-lock.yaml
Due: backend, frontend

ui: upd deps
  boundaries/ui-monorepo/Makefile
  boundaries/ui-monorepo/package.json
  boundaries/ui-monorepo/packages/landing/components/TabContent/index.tsx
  boundaries/ui-monorepo/packages/landing/package.json
  boundaries/ui-monorepo/packages/next/app/user/addUrl/page.tsx
  boundaries/ui-monorepo/packages/next/components/Header/Header.tsx
  boundaries/ui-monorepo/packages/next/components/PriceTable/PriceTable.tsx
  boundaries/ui-monorepo/packages/next/components/ui/NodeAnchor.tsx
  boundaries/ui-monorepo/packages/next/components/ui/NodeInputButton.tsx
  boundaries/ui-monorepo/packages/next/components/ui/NodeInputSubmit.tsx
  boundaries/ui-monorepo/packages/next/package.json
  boundaries/ui-monorepo/packages/ui-kit/rollup.config.js
  boundaries/ui-monorepo/packages/ui-kit/src/page/PriceTable/PriceTable.tsx
  boundaries/ui-monorepo/packages/ui-kit/src/theme/theme.ts
  boundaries/ui-monorepo/packages/ui-kit/src/ui/Button/Button.stories.tsx
  boundaries/ui-monorepo/packages/ui-kit/src/ui/Table/Table.tsx
  boundaries/ui-monorepo/pnpm-lock.yaml
Due: backend, frontend

ui: refactoring
  boundaries/ui-monorepo/packages/landing/app/providers.tsx
  boundaries/ui-monorepo/packages/next/app/layout.tsx
  boundaries/ui-monorepo/packages/next/app/providers.tsx
  boundaries/ui-monorepo/packages/next/components/Layout.tsx
  boundaries/ui-monorepo/packages/next/components/Page/Header.tsx
  boundaries/ui-monorepo/packages/next/components/PushNotificationLayout.tsx
  boundaries/ui-monorepo/packages/next/public/workbox-9564d7f6.js
  boundaries/ui-monorepo/packages/next/public/workbox-9564d7f6.js.map
Due: backend, frontend

loki: setting
  ops/Helm/addons/observability/grafana-loki/charts/loki-5.47.2.tgz
  ops/Helm/addons/observability/grafana-loki/charts/loki-6.0.0.tgz
  ops/Helm/addons/observability/grafana-loki/values.yaml
Due: none

ui: upd deps
  boundaries/link/proxy/pnpm-lock.yaml
  boundaries/ui-monorepo/packages/landing/package.json
  boundaries/ui-monorepo/packages/ui-kit/package.json
  boundaries/ui-monorepo/pnpm-lock.yaml
Due: backend, shortlink, frontend

upd deps
  boundaries/api/api-gateway/go.mod
  boundaries/api/api-gateway/go.sum
  boundaries/link/bff-link/go.mod
  boundaries/link/bff-link/go.sum
  boundaries/marketing/report/go.mod
  boundaries/marketing/report/go.sum
  boundaries/platform/csi/go.mod
  boundaries/platform/csi/go.sum
  boundaries/shortdb/shortdb-operator/go.sum
  go.sum
  ops/Helm/addons/gateway/istio-gateway/charts/gateway-1.21.0.tgz
  ops/Helm/addons/gateway/istio-gateway/charts/gateway-1.21.1.tgz
  ops/Helm/addons/gateway/istio/charts/base-1.21.0.tgz
  ops/Helm/addons/gateway/istio/charts/base-1.21.1.tgz
  ops/Helm/addons/gateway/istio/charts/istiod-1.21.0.tgz
  ops/Helm/addons/gateway/istio/charts/istiod-1.21.1.tgz
Due: backend, shortlink

loki: setting
  ops/Helm/addons/observability/grafana-loki/values.yaml
Due: none

istio: add wasm plugin
  boundaries/platform/istio-extension/.gitignore
  boundaries/platform/istio-extension/Makefile
  boundaries/platform/istio-extension/README.md
  boundaries/platform/istio-extension/go.mod
  boundaries/platform/istio-extension/go.sum
  boundaries/platform/istio-extension/shortlink/internal/internal.go
  boundaries/platform/istio-extension/shortlink/main.go
  go.work
  ops/argocd/infrastructure/network/istio/istio-plugins.yaml
  ops/argocd/kustomize/istio-plugins/kustomization.yaml
  ops/argocd/kustomize/istio-plugins/shortlink.yaml
  ops/dockerfile/boundary_platform/go_wasm.Dockerfile
  ops/dockerfile/boundary_platform/go_wasm.Dockerfile.dockerignore
Due: backend

helm: upd deps
  ops/Helm/shortlink-api/shortlink-api-cloudevents/README.md
  ops/Helm/shortlink-api/shortlink-api-cloudevents/values.yaml
  ops/Helm/shortlink-api/shortlink-api-graphql/README.md
  ops/Helm/shortlink-api/shortlink-api-graphql/values.yaml
  ops/Helm/shortlink-api/shortlink-api-grpc-web/README.md
  ops/Helm/shortlink-api/shortlink-api-grpc-web/values.yaml
  ops/Helm/shortlink-api/shortlink-api-ws/README.md
  ops/Helm/shortlink-api/shortlink-api-ws/values.yaml
  ops/Helm/shortlink-auth/README.md
  ops/Helm/shortlink-auth/values.yaml
  ops/Helm/shortlink-billing/shortlink-billing/README.md
  ops/Helm/shortlink-billing/shortlink-billing/values.yaml
  ops/Helm/shortlink-bot/README.md
  ops/Helm/shortlink-landing/README.md
  ops/Helm/shortlink-landing/values.yaml
  ops/Helm/shortlink-link/link/README.md
  ops/Helm/shortlink-link/link/draft/kargo/stage.yaml
  ops/Helm/shortlink-link/link/values.yaml
  ops/Helm/shortlink-link/metadata/README.md
  ops/Helm/shortlink-link/metadata/values.yaml
  ops/Helm/shortlink-link/proxy/README.md
  ops/Helm/shortlink-link/proxy/values.yaml
  ops/Helm/shortlink-link/shortlink-bff-link/README.md
  ops/Helm/shortlink-link/shortlink-bff-link/values.yaml
  ops/Helm/shortlink-next/README.md
  ops/Helm/shortlink-next/values.yaml
  ops/Helm/shortlink-notify/README.md
  ops/Helm/shortlink-notify/values.yaml
  ops/Helm/shortlink-platform/backstage/README.md
  ops/Helm/shortlink-platform/landscape/README.md
  ops/Helm/shortlink-platform/shortlink-logger/README.md
  ops/Helm/shortlink-platform/shortlink-logger/values.yaml
  ops/Helm/shortlink-referral/README.md
  ops/Helm/shortlink-referral/values.yaml
  ops/Helm/shortlink-shop/admin/README.md
  ops/Helm/shortlink-shop/admin/values.yaml
  ops/Helm/shortlink-support/README.md
  ops/Helm/shortlink-support/values.yaml
  ops/Helm/ui-kit/README.md
  ops/Helm/ui-kit/values.yaml
Due: none

gitlab: add istio-plugin-shortlink and improve code style
  ops/argocd/kustomize/istio-plugins/shortlink.yaml
  ops/gitlab/workflows/matrix_build_base.yml
  ops/gitlab/workflows/matrix_build_helm.yml
  ops/gitlab/workflows/matrix_build_ui.yml
Due: none

istio-plugin-shortlink: setting
  ops/argocd/kustomize/istio-plugins/shortlink.yaml
Due: none

ui: upd deps
  boundaries/ui-monorepo/package.json
  boundaries/ui-monorepo/pnpm-lock.yaml
Due: backend, frontend

istio: setting
  ops/Helm/addons/gateway/istio/values.yaml
Due: none

docs: improve logo
  boundaries/platform/istio-extension/README.md
  boundaries/platform/istio-extension/docs/public/logo.svg
  boundaries/platform/istio-extension/docs/public/logo.webp
  boundaries/platform/landscape/data.yml
  boundaries/platform/landscape/logos/admin.svg
  boundaries/platform/landscape/logos/cart.svg
  boundaries/platform/landscape/logos/istio-extension.svg
  boundaries/shop/admin/docs/public/logo.svg
  boundaries/shop/admin/docs/public/logo.webp
  boundaries/shop/cart/docs/public/logo.svg
  boundaries/shop/cart/docs/public/logo.webp
Due: backend

ui: upd deps
  boundaries/ui-monorepo/package.json
  boundaries/ui-monorepo/packages/landing/package.json
  boundaries/ui-monorepo/packages/ui-kit/package.json
  boundaries/ui-monorepo/pnpm-lock.yaml
Due: backend, frontend

ui: upd deps
  boundaries/ui-monorepo/pnpm-lock.yaml
Due: backend, frontend

shortlink-common: setting
  ops/argocd/shortlink/common/application.yaml
Due: none

Path conditions:
  backend: any of: internal/, pkg/, boundaries/
  shortlink: any of: boundaries/link
  frontend: any of: boundaries/ui
