Repository shortlink-org/shortlink: changes, and which Codecov flags are due for each by the changed paths.
All: backend, shortlink, frontend

raft: improve domain
  pkg/raft/Makefile
  pkg/raft/domain/raft/v1/error.go
  pkg/raft/domain/raft/v1/raft.go
  pkg/raft/domain/raft/v1/raft.proto
  pkg/raft/domain/raft/v1/raft_builder.go
  pkg/raft/domain/raft/v1/raft_builder_test.go
  pkg/raft/ops/Makefile/proto.mk
  pkg/raft/ops/proto/domain.buf.gen.yaml
Due: backend

raft: add rpc
  pkg/raft/README.md
  pkg/raft/domain/raft/v1/raft.go
  pkg/raft/domain/raft/v1/raft_builder.go
  pkg/raft/ops/Makefile/proto.mk
  pkg/raft/ops/proto/rpc.buf.gen.yaml
  pkg/raft/raft_test.go
  pkg/raft/rpc/v1/rpc.pb.go
  pkg/raft/rpc/v1/rpc.proto
  pkg/raft/rpc/v1/rpc_grpc.pb.go
  pkg/raft/type.go
Due: backend

raft: step by step
  pkg/raft/domain/raft/v1/raft.pb.go
  pkg/raft/ops/Makefile/proto.mk
  pkg/raft/ops/proto/proto-lock.json
  pkg/raft/raft.go
  pkg/raft/raft_test.go
  pkg/raft/rpc/v1/appendEntries.go
  pkg/raft/rpc/v1/requestVotes.go
  pkg/raft/rpc/v1/rpc.go
  pkg/raft/rpc/v1/rpc.pb.go
  pkg/raft/rpc/v1/rpc.proto
  pkg/raft/server/option.go
  pkg/raft/server/server.go
  pkg/raft/server/server_test.go
  pkg/raft/v1/error.go
  pkg/raft/v1/raft.go
  pkg/raft/v1/raft.proto
  pkg/raft/v1/raft_builder.go
  pkg/raft/v1/raft_builder_test.go
  pkg/raft/v1/status.go
  pkg/rpc/server.go
Due: backend

raft: step by step
  pkg/raft/README.md
  pkg/raft/v1/raft.pb.go
Due: backend

ui: upd deps
  boundaries/ui-monorepo/package.json
  boundaries/ui-monorepo/pnpm-lock.yaml
Due: backend, frontend

go: upd deps
  boundaries/link/link/go.mod
  boundaries/link/link/go.sum
  docs/ADR/decisions/proof/ADR-0007/go.sum
  go.sum
Due: backend, shortlink

opentelemetry-operator: setting
  ops/Helm/addons/observability/opentelemetry-operator/values.yaml
Due: none

ct: setting path to helm charts
  ct.yaml
Due: none

ui: upd deps
  boundaries/ui-monorepo/package.json
  boundaries/ui-monorepo/packages/landing/app/providers.tsx
  boundaries/ui-monorepo/packages/landing/components/TabContent/index.tsx
  boundaries/ui-monorepo/packages/next/app/providers.tsx
  boundaries/ui-monorepo/packages/next/package.json
  boundaries/ui-monorepo/packages/ui-kit/package.json
  boundaries/ui-monorepo/packages/ui-kit/src/card/GithubRepository/GithubRepository.stories.tsx
  boundaries/ui-monorepo/packages/ui-kit/src/ui/Button/Button.stories.tsx
  boundaries/ui-monorepo/pnpm-lock.yaml
Due: backend, frontend

argocd: refactoring path to helm charts
  ops/Helm/boundaries/delivery/.gitkeep
  ops/Helm/boundaries/delivery/support/.helmignore
  ops/Helm/boundaries/delivery/support/Chart.lock
  ops/Helm/boundaries/delivery/support/Chart.yaml
  ops/Helm/boundaries/delivery/support/README.md
  ops/Helm/boundaries/delivery/support/charts/shortlink-template-0.8.17.tgz
  ops/Helm/boundaries/delivery/support/templates/NOTES.txt
  ops/Helm/boundaries/delivery/support/templates/base.yaml
  ops/Helm/boundaries/delivery/support/values.yaml
  ops/argocd/boundaries/api/application-cloudevents.yaml
  ops/argocd/boundaries/api/application-graphql.yaml
  ops/argocd/boundaries/api/application-grpc-web.yaml
  ops/argocd/boundaries/api/application-ws.yaml
  ops/argocd/boundaries/auth/shortlink-auth.yaml
  ops/argocd/boundaries/billing/common/application.yaml
  ops/argocd/boundaries/delivery/support/application.yaml
  ops/argocd/boundaries/link/bff/shortlink-bff-web.yaml
  ops/argocd/boundaries/link/common/application.yaml
  ops/argocd/boundaries/link/link/application.yaml
  ops/argocd/boundaries/link/metadata/application.yaml
  ops/argocd/boundaries/link/next/application.yaml
  ops/argocd/boundaries/link/proxy/application.yaml
  ops/argocd/boundaries/marketing/referral/application.yaml
  ops/argocd/boundaries/notification/notify/application.yaml
  ops/argocd/boundaries/platfrom/backstage/application.yaml
  ops/argocd/boundaries/platfrom/landscape/application.yaml
  ops/argocd/boundaries/platfrom/logger/application.yaml
  ops/argocd/boundaries/platfrom/ui-kit/application.yaml
  ops/argocd/boundaries/shop/admin/application.yaml
  ops/argocd/boundaries/shop/common/application.yaml
Due: none

argocd: refactoring namespaces
  ops/argocd/boundaries/api/application-cloudevents.yaml
  ops/argocd/boundaries/api/application-graphql.yaml
  ops/argocd/boundaries/api/application-grpc-web.yaml
  ops/argocd/boundaries/api/application-ws.yaml
  ops/argocd/boundaries/auth/shortlink-auth.yaml
  ops/argocd/boundaries/delivery/support/application.yaml
  ops/argocd/boundaries/link/next/application.yaml
  ops/argocd/boundaries/marketing/referral/application.yaml
  ops/argocd/boundaries/notification/notify/application.yaml
  ops/argocd/boundaries/platfrom/ui-kit/application.yaml
Due: none

grafana: 11.0.0
  ops/Helm/addons/observability/grafana/values.yaml
Due: none

link boundary: improve dashboard
  ops/Helm/boundaries/link/common/Chart.yaml
  ops/Helm/boundaries/link/common/files/grafana/dashboard/about-boundary.json
  ops/Helm/boundaries/link/common/files/grafana/dashboard/postgres.json
  ops/Helm/boundaries/link/common/templates/observability/grafana/shortlink-dashboard.yaml
Due: none

ops: refactoring
  ops/Helm/addons/argo/argocd-shortlink/templates/boundaries/common.yaml
  ops/Helm/shortlink-common/.helmignore
  ops/Helm/shortlink-common/Chart.lock
  ops/Helm/shortlink-common/Chart.yaml
  ops/Helm/shortlink-common/DOCS.md
  ops/Helm/shortlink-common/README.md
  ops/Helm/shortlink-common/charts/shortlink-template-0.8.17.tgz
  ops/Helm/shortlink-common/templates/NOTES.txt
  ops/Helm/shortlink-common/templates/limit_range.yaml
  ops/Helm/shortlink-common/templates/network/sidecar.yaml
  ops/Helm/shortlink-common/templates/priority-class/standart.yaml
  ops/Helm/shortlink-common/values.yaml
  ops/argocd/boundaries/common/application.yaml
  ops/argocd/boundaries/link/bff/shortlink-bff-web.yaml
  ops/argocd/boundaries/link/link/application.yaml
  ops/argocd/boundaries/link/metadata/application.yaml
  ops/argocd/boundaries/link/ui/application.yaml
  ops/argocd/boundaries/marketing/referral/application.yaml
  ops/argocd/boundaries/notification/notify/application.yaml
Due: none

proxy: init grafana dashboard
  boundaries/link/proxy/README.md
  ops/Helm/boundaries/link/proxy/files/grafana/dashboard/about-service.json
  ops/Helm/boundaries/link/proxy/templates/observability/grafana-dashboard.yaml
Due: backend, shortlink

proxy: use standart name for argocd - shortlink-link-proxy
  ops/argocd/boundaries/link/proxy/application.yaml
Due: none

argocd: fix path to charts
  ops/argocd/boundaries/api/application-cloudevents.yaml
  ops/argocd/boundaries/api/application-graphql.yaml
  ops/argocd/boundaries/api/application-grpc-web.yaml
  ops/argocd/boundaries/api/application-ws.yaml
  ops/argocd/boundaries/auth/shortlink-auth.yaml
  ops/argocd/boundaries/billing/billing/application.yaml
  ops/argocd/boundaries/billing/common/application.yaml
  ops/argocd/boundaries/delivery/support/application.yaml
  ops/argocd/boundaries/link/bff/shortlink-bff-web.yaml
  ops/argocd/boundaries/link/common/application.yaml
  ops/argocd/boundaries/link/link/application.yaml
  ops/argocd/boundaries/link/metadata/application.yaml
  ops/argocd/boundaries/link/proxy/application.yaml
  ops/argocd/boundaries/link/ui/application.yaml
  ops/argocd/boundaries/marketing/referral/application.yaml
  ops/argocd/boundaries/notification/notify/application.yaml
  ops/argocd/boundaries/platfrom/backstage/application.yaml
  ops/argocd/boundaries/platfrom/landscape/application.yaml
  ops/argocd/boundaries/platfrom/logger/application.yaml
  ops/argocd/boundaries/platfrom/ui-kit/application.yaml
  ops/argocd/boundaries/shop/admin/application.yaml
  ops/argocd/boundaries/shop/common/application.yaml
Due: none

metadata: init grafana dashboard
  ops/Helm/boundaries/link/metadata/files/grafana/dashboard/about-service.json
  ops/Helm/boundaries/link/metadata/templates/observability/grafana-dashboard.yaml
Due: none

link: improve grafana dashboard
  ops/Helm/boundaries/link/common/files/grafana/dashboard/about-boundary.json
Due: none

argocd: fix shortlink-delivery-support
  ops/argocd/boundaries/delivery/support/application.yaml
Due: none

argocd: fix path to platform boundary
  ops/README.md
  ops/argocd/boundaries/platform/backstage/application.yaml
  ops/argocd/boundaries/platform/landscape/application.yaml
  ops/argocd/boundaries/platform/logger/application.yaml
  ops/argocd/boundaries/platform/ui-kit/application.yaml
Due: none

grafana: fix name dashboards
  ops/Helm/boundaries/link/metadata/templates/observability/grafana-dashboard.yaml
  ops/Helm/boundaries/link/proxy/templates/observability/grafana-dashboard.yaml
Due: none

docs: fix broke url
  GOVERNANCE.md
  README.md
  boundaries/auth/README.md
  boundaries/auth/auth/docs/ADR/decisions/0002-permissions.md
  boundaries/chat/speech-to-text/docs/ADR/decisions/0001-init.md
  boundaries/link/README.md
  boundaries/notification/README.md
  boundaries/platform/README.md
  boundaries/search/search/docs/public/logo.svg
  boundaries/search/search/docs/public/logo.webp
  boundaries/shop/email-subscription/usecases/goods/README.md
  boundaries/shop/oms/README.md
  boundaries/shop/oms/docs/ADR/decisions/0001-init.md
  boundaries/ui-monorepo/README.md
  ops/Makefile/docs.mk
  ops/argocd/boundaries/auth/shortlink-auth.yaml
  ops/gitlab/stages/test.yml
  poc/README.md
  poc/cel/README.md
  poc/gatling/README.md
Due: backend, shortlink, frontend

gitlab: setting dependabot
  .gitlab/ci/templates/dependabot-flow.yml
Due: none

gitlab: fix path to config
  .gitlab/ci/pipelines/addons/addons.yml
  .gitlab/ci/pipelines/addons/argocd/argocd.yml
  .gitlab/ci/pipelines/addons/argocd/stages/application.yml
  .gitlab/ci/pipelines/addons/argocd/stages/dependencies.yml
  .gitlab/ci/pipelines/addons/argocd/stages/deploy.yml
  .gitlab/ci/pipelines/helm_additional.yml
  .gitlab/ci/pipelines/ui/stages/build.yml
  .gitlab/ci/stages/.pre.yml
  .gitlab/ci/stages/build.yml
  .gitlab/ci/stages/deploy.yml
  .gitlab/ci/stages/test.yml
  docs/ADR/decisions/0021-microservice-structure.md
  poc/ml-diff/gitlab/ml-diff.yml
  techstack.yml
Due: none

gitlab: setting dependabot
  .gitlab/ci/stages/test.yml
  .gitlab/ci/templates/dependabot-flow.yml
Due: none

link: refactoring crud repository
  boundaries/link/link/internal/domain/link/v1/links.go
  boundaries/link/link/internal/domain/link/v1/links_sort.go
  boundaries/link/link/internal/infrastructure/repository/crud/mock/mock.go
  boundaries/link/link/internal/infrastructure/repository/crud/mongo/mongo.go
  boundaries/link/link/internal/infrastructure/repository/crud/postgres/add.go
  boundaries/link/link/internal/infrastructure/repository/crud/postgres/filter/common_types.orm.go
  boundaries/link/link/internal/infrastructure/repository/crud/postgres/migrations/000005_link_add_domain_link.up.sql
  boundaries/link/link/internal/infrastructure/repository/crud/postgres/postgres.go
  boundaries/link/link/internal/infrastructure/repository/crud/postgres/postgres_test.go
  boundaries/link/link/internal/infrastructure/repository/crud/postgres/type.go
  boundaries/link/link/internal/infrastructure/rpc/link/v1/list.go
Due: backend, shortlink

billing: refactoring migrations
  boundaries/api/api-gateway/go.mod
  boundaries/api/api-gateway/go.sum
  boundaries/billing/billing/internal/infrastructure/repository/account/postgres_test.go
  boundaries/billing/billing/internal/infrastructure/repository/tariff/migrations/000001_billing_schema.up.sql
  boundaries/billing/billing/internal/infrastructure/repository/tariff/migrations/000002_billing_schema_improve.up.sql
  boundaries/billing/billing/internal/infrastructure/repository/tariff/migrations/000003_billing_add_domain_tariff.up.sql
  boundaries/billing/billing/internal/infrastructure/repository/tariff/migrations/000004_billing_material_view_account_balance.up.sql
  boundaries/billing/billing/internal/infrastructure/repository/tariff/postgres_test.go
  boundaries/billing/wallet/go.mod
  boundaries/billing/wallet/go.sum
  boundaries/link/bff/go.mod
  boundaries/link/bff/go.sum
  boundaries/link/link/go.mod
  boundaries/link/link/go.sum
  boundaries/link/link/internal/infrastructure/repository/crud/mock/mock.go
  boundaries/marketing/report/go.mod
  boundaries/marketing/report/go.sum
  boundaries/notification/notify/go.mod
  boundaries/notification/notify/go.sum
  boundaries/platform/csi/go.mod
  boundaries/platform/csi/go.sum
  boundaries/platform/shortctl/go.sum
  go.sum
  go.work.sum
Due: backend, shortlink

upd deps
  boundaries/ui-monorepo/pnpm-lock.yaml
  ops/Helm/addons/observability/grafana/charts/grafana-7.3.11.tgz
  ops/Helm/addons/observability/grafana/charts/grafana-8.0.0.tgz
  ops/Helm/addons/observability/grafana/values.yaml
Due: backend, frontend

ct: fix
  ct.yaml
Due: none

ui: upd deps
  boundaries/ui-monorepo/pnpm-lock.yaml
Due: backend, frontend

temporal: move to shop boundary
  ops/Helm/boundaries/shop/temporal/Chart.lock
  ops/Helm/boundaries/shop/temporal/Chart.yaml
  ops/Helm/boundaries/shop/temporal/README.md
  ops/Helm/boundaries/shop/temporal/charts/temporal-0.39.0.tgz
  ops/Helm/boundaries/shop/temporal/templates/NOTES.txt
  ops/Helm/boundaries/shop/temporal/templates/grafana/temporal-dashboard.yaml
  ops/Helm/boundaries/shop/temporal/templates/limit_range.yaml
  ops/Helm/boundaries/shop/temporal/templates/scylla_cluster.yaml
  ops/Helm/boundaries/shop/temporal/values.yaml
  ops/argocd/boundaries/shop/temporal/application.yaml
Due: none

argocd: enable scylla
  ops/argocd/infrastructure/store/scylla/scylla-manager.yaml
  ops/argocd/infrastructure/store/scylla/scylla.yaml
Due: none

argocd: use only scylla-operator
  ops/argocd/infrastructure/store/scylla/scylla-manager.yaml
  ops/argocd/infrastructure/store/scylla/scylla.yaml
Due: none

Path conditions:
  backend: any of: internal/, pkg/, boundaries/
  shortlink: any of: boundaries/link
  frontend: any of: boundaries/ui
