Repository shortlink-org/shortlink: changes, and which Codecov flags are due for each by the changed paths.
All: backend, shortlink, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "40...100"

  status:
    project: yes
    patch: yes
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: no

flags:
  # filter the folder(s) you wish to measure by that flag
  backend:
    paths:
      - internal/
      - pkg/
      - boundaries/

  shortlink:
    paths:
      - boundaries/link

  frontend:
    paths:
      - boundaries/ui

upd deps
  ops/Helm/shortlink-next/values.yaml
  ops/Makefile/docker.mk
Due: none

upd deps
  ops/Helm/shortlink-api/shortlink-api-ws/values.yaml
  ops/Helm/shortlink-metadata/values.yaml
  ops/Helm/shortlink-next/values.yaml
  ops/Helm/shortlink-notify/values.yaml
  ops/Helm/shortlink-proxy/values.yaml
  ops/Helm/shortlink-referral/values.yaml
  ops/Helm/shortlink-support/values.yaml
  ops/Helm/ui-kit/values.yaml
Due: none

upd deps
  boundaries/api/api-gateway/go.mod
  boundaries/api/api-gateway/go.sum
  boundaries/api/bff-web/go.mod
  boundaries/api/bff-web/go.sum
  boundaries/billing/wallet/go.mod
  boundaries/billing/wallet/go.sum
  boundaries/marketing/report/go.mod
  boundaries/marketing/report/go.sum
  boundaries/platform/csi/go.mod
  boundaries/platform/csi/go.sum
  boundaries/shortdb/shortdb-operator/go.mod
  boundaries/shortdb/shortdb-operator/go.sum
  go.mod
  go.sum
  go.work.sum
Due: backend

refactoring
  boundaries/ui/nx-monorepo/packages/next/.prettierrc
  boundaries/ui/nx-monorepo/packages/next/next.config.js
  ops/Makefile/docker.mk
Due: backend, frontend

gitlab: add env files for UI
  go.work.sum
  ops/dockerfile/boundary_ui/landing.Dockerfile
  ops/dockerfile/boundary_ui/landing.Dockerfile.dockerignore
  ops/dockerfile/boundary_ui/storybook.Dockerfile
  ops/dockerfile/boundary_ui/storybook.Dockerfile.dockerignore
  ops/dockerfile/boundary_ui/ui-next.Dockerfile
  ops/dockerfile/boundary_ui/ui-next.Dockerfile.dockerignore
  ops/gitlab/templates/build.yml
Due: none

upd deps
  boundaries/link/proxy/pnpm-lock.yaml
  boundaries/ui/nx-monorepo/pnpm-lock.yaml
Due: backend, shortlink, frontend

gitlab: improve work with ENV
  ops/dockerfile/boundary_ui/landing.Dockerfile
  ops/dockerfile/boundary_ui/landing.Dockerfile.dockerignore
  ops/dockerfile/boundary_ui/storybook.Dockerfile
  ops/dockerfile/boundary_ui/storybook.Dockerfile.dockerignore
  ops/dockerfile/boundary_ui/ui-next.Dockerfile
  ops/dockerfile/boundary_ui/ui-next.Dockerfile.dockerignore
  ops/gitlab/templates/build.yml
Due: none

upd deps
  ops/Helm/shortlink-api/shortlink-api-ws/values.yaml
  ops/Helm/shortlink-auth/values.yaml
  ops/Helm/shortlink-bff-web/values.yaml
  ops/Helm/shortlink-billing/values.yaml
  ops/Helm/shortlink-bot/values.yaml
  ops/Helm/shortlink-link/values.yaml
  ops/Helm/shortlink-logger/values.yaml
  ops/Helm/shortlink-metadata/values.yaml
  ops/Helm/shortlink-next/values.yaml
  ops/Helm/shortlink-notify/values.yaml
  ops/Helm/shortlink-proxy/values.yaml
  ops/Helm/shortlink-referral/values.yaml
  ops/Helm/shortlink-support/values.yaml
  ops/Helm/ui-kit/values.yaml
Due: none

upd deps
  boundaries/ui/nx-monorepo/pnpm-lock.yaml
Due: backend, frontend

ui: add CI ENV
  ops/dockerfile/boundary_ui/landing.Dockerfile
  ops/dockerfile/boundary_ui/storybook.Dockerfile
  ops/dockerfile/boundary_ui/ui-next.Dockerfile
Due: none

upd deps
  boundaries/api/api-gateway/go.mod
  boundaries/api/api-gateway/go.sum
  boundaries/api/bff-web/go.mod
  boundaries/api/bff-web/go.sum
  boundaries/billing/wallet/go.mod
  boundaries/billing/wallet/go.sum
  boundaries/marketing/report/go.mod
  boundaries/marketing/report/go.sum
  boundaries/platform/csi/go.mod
  boundaries/platform/csi/go.sum
  boundaries/platform/shortctl/go.mod
  boundaries/platform/shortctl/go.sum
  boundaries/shortdb/shortdb-operator/go.mod
  boundaries/shortdb/shortdb-operator/go.sum
  go.mod
  go.sum
  go.work.sum
Due: backend

upd deps
  ops/Helm/shortlink-api/shortlink-api-ws/values.yaml
  ops/Helm/shortlink-link/values.yaml
  ops/Helm/shortlink-logger/values.yaml
  ops/Helm/shortlink-metadata/values.yaml
  ops/Helm/shortlink-next/values.yaml
  ops/Helm/shortlink-notify/values.yaml
  ops/Helm/shortlink-proxy/values.yaml
  ops/Helm/shortlink-referral/values.yaml
  ops/Helm/shortlink-support/values.yaml
  ops/Helm/ui-kit/values.yaml
Due: none

gitlab: debug problem with ENV
  ops/dockerfile/boundary_ui/landing.Dockerfile
Due: none

gitlab: fix problem with ENV
  ops/dockerfile/boundary_ui/landing.Dockerfile
  ops/dockerfile/boundary_ui/storybook.Dockerfile
  ops/dockerfile/boundary_ui/ui-next.Dockerfile
Due: none

upd deps
  ops/Helm/shortlink-api/shortlink-api-ws/values.yaml
  ops/Helm/shortlink-bff-web/values.yaml
  ops/Helm/shortlink-billing/values.yaml
  ops/Helm/shortlink-bot/values.yaml
  ops/Helm/shortlink-link/values.yaml
  ops/Helm/shortlink-logger/values.yaml
  ops/Helm/shortlink-metadata/values.yaml
  ops/Helm/shortlink-next/values.yaml
  ops/Helm/shortlink-notify/values.yaml
  ops/Helm/shortlink-proxy/values.yaml
  ops/Helm/shortlink-referral/values.yaml
  ops/Helm/shortlink-support/values.yaml
  ops/Helm/ui-kit/values.yaml
Due: none

upd deps
  boundaries/api/api-gateway/go.mod
  boundaries/api/api-gateway/go.sum
  boundaries/api/bff-web/go.mod
  boundaries/api/bff-web/go.sum
  boundaries/link/proxy/pnpm-lock.yaml
  boundaries/marketing/report/go.mod
  boundaries/marketing/report/go.sum
  boundaries/platform/csi/go.mod
  boundaries/platform/csi/go.sum
  boundaries/ui/nx-monorepo/pnpm-lock.yaml
  go.mod
  go.sum
Due: backend, shortlink, frontend

upd deps
  ops/Helm/addons/observability/opentelemetry-operator/Chart.lock
  ops/Helm/addons/observability/opentelemetry-operator/Chart.yaml
  ops/Helm/addons/observability/opentelemetry-operator/charts/opentelemetry-operator-0.51.3.tgz
  ops/Helm/addons/observability/opentelemetry-operator/charts/opentelemetry-operator-0.52.0.tgz
Due: none

upd deps
  ops/docker-compose/tooling/observability/grafana/grafana-beyla.yaml
Due: none

gitlab: setting .gitattributes
  .gitattributes
Due: none

upd deps
  ops/Helm/shortlink-api/shortlink-api-cloudevents/values.yaml
  ops/Helm/shortlink-api/shortlink-api-graphql/values.yaml
  ops/Helm/shortlink-api/shortlink-api-grpc-web/values.yaml
  ops/Helm/shortlink-api/shortlink-api-ws/values.yaml
  ops/Helm/shortlink-auth/values.yaml
  ops/Helm/shortlink-bff-web/values.yaml
  ops/Helm/shortlink-billing/values.yaml
  ops/Helm/shortlink-bot/values.yaml
  ops/Helm/shortlink-link/values.yaml
  ops/Helm/shortlink-logger/values.yaml
  ops/Helm/shortlink-metadata/values.yaml
  ops/Helm/shortlink-next/values.yaml
  ops/Helm/shortlink-notify/values.yaml
  ops/Helm/shortlink-proxy/values.yaml
  ops/Helm/shortlink-referral/values.yaml
  ops/Helm/shortlink-support/values.yaml
  ops/Helm/ui-kit/values.yaml
Due: none

ui: fix problem with time for link list
  .run/bff-web.run.xml
  boundaries/api/bff-web/infrastructure/http/controllers/link/dto/add.go
  boundaries/api/bff-web/infrastructure/http/controllers/link/link.go
  boundaries/link/link/usecases/link/link.go
  boundaries/ui/nx-monorepo/packages/next/app/providers.tsx
  boundaries/ui/nx-monorepo/packages/next/components/Page/user/linksTable.tsx
  boundaries/ui/nx-monorepo/packages/next/components/ui/NodeInputDefault.tsx
  ops/docker-compose/database/redis/redis.yaml
  ops/docker-compose/tooling/saas/novu/novu.yaml
  pkg/pattern/saga/saga.go
Due: backend, shortlink, frontend

upd deps
  ops/Helm/shortlink-referral/values.yaml
  ops/Helm/shortlink-support/values.yaml
Due: none

open-feature-operator: enable
  ops/argocd/infrastructure/open-feature-operator/application.yaml
Due: none

Revert "open-feature-operator: enable"
  ops/argocd/_draft/open-feature-operator/application.yaml
Due: none

shop: setting admin service
  boundaries/shop/admin/.gitignore
  boundaries/shop/admin/Makefile
  boundaries/shop/admin/admin/settings.py
  boundaries/shop/admin/admin/urls.py
  boundaries/shop/admin/admin/views.py
  boundaries/shop/admin/domain/goods/admin.py
  boundaries/shop/admin/domain/goods/migrations/0001_initial.py
  boundaries/shop/admin/domain/goods/migrations/__init__.py
  boundaries/shop/admin/domain/goods/models.py
  boundaries/shop/admin/pyproject.toml
  boundaries/shop/admin/requirements.txt
Due: backend

shop: use tailwindcss for admin
  boundaries/shop/admin/admin/settings.py
  boundaries/shop/admin/pyproject.toml
  boundaries/shop/admin/requirements.txt
Due: backend

shop: add opentelemetry
  boundaries/shop/admin/admin/views.py
  boundaries/shop/admin/admin/wsgi.py
  boundaries/shop/admin/manage.py
Due: backend

shop: setting logger
  boundaries/shop/admin/admin/settings.py
Due: backend

shop: add prometheus
  boundaries/shop/admin/admin/settings.py
  boundaries/shop/admin/admin/urls.py
Due: backend

shop: setting opentelemetry
  boundaries/shop/admin/admin/settings.py
  boundaries/shop/admin/manage.py
Due: backend

shop: improve gitignore
  boundaries/shop/admin/.gitignore
Due: backend

shop: improve logs
  boundaries/shop/admin/admin/asgi.py
  boundaries/shop/admin/admin/json_log_middleware.py
  boundaries/shop/admin/admin/otel_logging.py
  boundaries/shop/admin/admin/settings.py
  boundaries/shop/admin/admin/wsgi.py
  boundaries/shop/admin/manage.py
Due: backend

shop: add debug toolbar
  boundaries/shop/admin/admin/settings.py
  boundaries/shop/admin/admin/urls.py
Due: backend

shop: add integration with kratos
  boundaries/shop/admin/admin/settings.py
  boundaries/shop/admin/admin/urls.py
  boundaries/shop/admin/templates/base.html
Due: backend

referral: refactoring docs
  boundaries/marketing/referral/CONTRIBUTING.md
  boundaries/marketing/referral/README.md
Due: backend

shop: refactoring
  boundaries/shop/admin/CONTRIBUTING.md
  boundaries/shop/admin/Makefile
  boundaries/shop/admin/README.md
  boundaries/shop/admin/admin/settings.py
  boundaries/shop/admin/docs/ADR/decisions/0002-auth-mode.md
  boundaries/shop/admin/domain/goods/__init__.py
  boundaries/shop/admin/domain/goods/admin.py
  boundaries/shop/admin/domain/goods/migrations/0001_initial.py
  boundaries/shop/admin/domain/goods/migrations/__init__.py
  boundaries/shop/admin/infrastructure/grpc/__init__.py
  boundaries/shop/admin/infrastructure/repositories/__init__.py
  boundaries/shop/admin/pyproject.toml
  boundaries/shop/admin/src/admin/__init__.py
  boundaries/shop/admin/src/admin/asgi.py
  boundaries/shop/admin/src/admin/json_log_middleware.py
  boundaries/shop/admin/src/admin/otel_logging.py
  boundaries/shop/admin/src/admin/settings.py
  boundaries/shop/admin/src/admin/urls.py
  boundaries/shop/admin/src/admin/views.py
  boundaries/shop/admin/src/admin/wsgi.py
  boundaries/shop/admin/src/domain/__init__.py
  boundaries/shop/admin/src/domain/goods/__init__.py
  boundaries/shop/admin/src/domain/goods/admin.py
  boundaries/shop/admin/src/domain/goods/migrations/0001_initial.py
  boundaries/shop/admin/src/domain/goods/migrations/__init__.py
  boundaries/shop/admin/src/domain/goods/models.py
  boundaries/shop/admin/src/infrastructure/__init__.py
  boundaries/shop/admin/src/infrastructure/grpc/__init__.py
  boundaries/shop/admin/src/infrastructure/repositories/__init__.py
  boundaries/shop/admin/src/manage.py
  boundaries/shop/admin/src/templates/base.html
  boundaries/shop/admin/src/usecases/__init__.py
  boundaries/shop/admin/src/usecases/manage_goods/README.md
  boundaries/shop/admin/usecases/__init__.py
  ops/docker-compose/application/auth/kratos/conf/kratos.yml
Due: backend

shop: use tailwindcss for base template
  boundaries/shop/admin/src/templates/base.html
Due: backend
