Repository shortlink-org/shortlink: changes, and which Codecov flags are due for each by the changed paths.
All: backend, shortlink, frontend

shop-admin: use postgres
  boundaries/shop/admin/CONTRIBUTING.md
  boundaries/shop/admin/Makefile
  boundaries/shop/admin/pyproject.toml
  boundaries/shop/admin/requirements.txt
  boundaries/shop/admin/src/admin/settings.py
Due: backend

shop-admin: disable django-ory-auth
  boundaries/shop/admin/Makefile
  boundaries/shop/admin/README.md
  boundaries/shop/admin/docs/ADR/decisions/0002-auth-mode.md
  boundaries/shop/admin/pyproject.toml
  boundaries/shop/admin/requirements.txt
  boundaries/shop/admin/src/admin/settings.py
Due: backend

shop-admin: add cache
  boundaries/shop/admin/CONTRIBUTING.md
  boundaries/shop/admin/pyproject.toml
  boundaries/shop/admin/requirements.txt
  boundaries/shop/admin/src/admin/settings.py
  ops/Helm/shortlink-shop/admin/Chart.lock
  ops/Helm/shortlink-shop/admin/Chart.yaml
  ops/Helm/shortlink-shop/admin/charts/dragonfly-v1.15.1.tgz
  ops/Helm/shortlink-shop/admin/charts/shortlink-template-0.8.13.tgz
  ops/Helm/shortlink-shop/admin/redis.values.yaml
  ops/Helm/shortlink-shop/admin/values.yaml
  ops/Makefile/docker.mk
  ops/argocd/shortlink-shop/admin/application.yaml
  ops/dockerfile/boundary_shop/admin.Dockerfile
Due: backend

shop-admin: add postgres setting
  ops/Helm/shortlink-common/templates/store/postgres.yaml
  ops/Helm/shortlink-shop/admin/templates/postgres.yaml
  ops/Helm/shortlink-shop/admin/values.yaml
Due: none

shop-admin: add grafana dashboard
  ops/Helm/shortlink-shop/admin/templates/grafana/django-dasboard.yaml
Due: none

shop-admin: add prometheus rules
  ops/Helm/shortlink-shop/admin/templates/prometheus-rules.yaml
Due: none

shop-admin: setting prometheus
  boundaries/shop/admin/src/admin/settings.py
  boundaries/shop/admin/src/admin/urls.py
  boundaries/shop/admin/src/manage.py
Due: backend

shop-admin: setting prometheus
  ops/Helm/shortlink-shop/admin/values.yaml
Due: none

shop-admin: add prometheus for models
  boundaries/shop/admin/src/domain/goods/models.py
Due: backend

ui: upd deps
  boundaries/ui/nx-monorepo/pnpm-lock.yaml
Due: backend, frontend

Revert "shop-admin: disable django-ory-auth"
  boundaries/shop/admin/Makefile
  boundaries/shop/admin/README.md
  boundaries/shop/admin/docs/ADR/decisions/0002-auth-mode.md
  boundaries/shop/admin/pyproject.toml
  boundaries/shop/admin/requirements.txt
  boundaries/shop/admin/src/admin/settings.py
Due: backend

shop-admin: setting auth
  boundaries/shop/admin/CONTRIBUTING.md
  boundaries/shop/admin/src/admin/settings.py
  ops/Helm/shortlink-shop/admin/values.yaml
  ops/dockerfile/boundary_shop/admin.Dockerfile
Due: backend

upd deps
  boundaries/ui/nx-monorepo/package.json
  boundaries/ui/nx-monorepo/pnpm-lock.yaml
Due: backend, frontend

upd deps
  boundaries/ui/nx-monorepo/pnpm-lock.yaml
Due: backend, frontend

shop-admin: upd deps
  boundaries/shop/admin/requirements.txt
Due: backend

falco: disable webui
  ops/Helm/addons/security/falco/values.yaml
Due: none

referral: upd deps
  boundaries/marketing/referral/pyproject.toml
  boundaries/marketing/referral/requirements.txt
Due: backend

helm: upd deps
  ops/Helm/shortlink-api/shortlink-api-cloudevents/README.md
  ops/Helm/shortlink-api/shortlink-api-graphql/README.md
  ops/Helm/shortlink-api/shortlink-api-grpc-web/README.md
  ops/Helm/shortlink-api/shortlink-api-ws/README.md
  ops/Helm/shortlink-api/shortlink-api-ws/values.yaml
  ops/Helm/shortlink-auth/README.md
  ops/Helm/shortlink-auth/values.yaml
  ops/Helm/shortlink-bff-link/README.md
  ops/Helm/shortlink-bff-link/values.yaml
  ops/Helm/shortlink-billing/README.md
  ops/Helm/shortlink-billing/values.yaml
  ops/Helm/shortlink-bot/README.md
  ops/Helm/shortlink-bot/values.yaml
  ops/Helm/shortlink-link/README.md
  ops/Helm/shortlink-link/values.yaml
  ops/Helm/shortlink-logger/README.md
  ops/Helm/shortlink-logger/values.yaml
  ops/Helm/shortlink-metadata/README.md
  ops/Helm/shortlink-metadata/values.yaml
  ops/Helm/shortlink-next/README.md
  ops/Helm/shortlink-next/values.yaml
  ops/Helm/shortlink-notify/README.md
  ops/Helm/shortlink-notify/values.yaml
  ops/Helm/shortlink-proxy/README.md
  ops/Helm/shortlink-proxy/values.yaml
  ops/Helm/shortlink-referral/README.md
  ops/Helm/shortlink-referral/values.yaml
  ops/Helm/shortlink-shop/admin/README.md
  ops/Helm/shortlink-shop/admin/values.yaml
  ops/Helm/shortlink-support/README.md
  ops/Helm/shortlink-support/values.yaml
  ops/Helm/ui-kit/README.md
  ops/Helm/ui-kit/values.yaml
Due: none

shop-admin: setting
  ops/Helm/shortlink-shop/admin/values.yaml
Due: none

kubescape: setting
  ops/Helm/addons/security/kubescape/Chart.yaml
Due: none

upd deps
  ops/Helm/addons/cni/cilium/Chart.yaml
  ops/Helm/shortlink-api/shortlink-api-cloudevents/README.md
  ops/Helm/shortlink-api/shortlink-api-cloudevents/values.yaml
  ops/Helm/shortlink-api/shortlink-api-graphql/README.md
  ops/Helm/shortlink-api/shortlink-api-graphql/values.yaml
  ops/Helm/shortlink-api/shortlink-api-grpc-web/README.md
  ops/Helm/shortlink-api/shortlink-api-grpc-web/values.yaml
  ops/Helm/shortlink-api/shortlink-api-ws/README.md
  ops/Helm/shortlink-api/shortlink-api-ws/values.yaml
  ops/Helm/shortlink-auth/README.md
  ops/Helm/shortlink-auth/values.yaml
  ops/Helm/shortlink-bff-link/README.md
  ops/Helm/shortlink-bff-link/values.yaml
  ops/Helm/shortlink-billing/README.md
  ops/Helm/shortlink-billing/values.yaml
  ops/Helm/shortlink-bot/README.md
  ops/Helm/shortlink-bot/values.yaml
  ops/Helm/shortlink-link/README.md
  ops/Helm/shortlink-link/values.yaml
  ops/Helm/shortlink-logger/README.md
  ops/Helm/shortlink-logger/values.yaml
  ops/Helm/shortlink-metadata/README.md
  ops/Helm/shortlink-metadata/values.yaml
  ops/Helm/shortlink-next/README.md
  ops/Helm/shortlink-next/values.yaml
  ops/Helm/shortlink-notify/README.md
  ops/Helm/shortlink-notify/values.yaml
  ops/Helm/shortlink-proxy/README.md
  ops/Helm/shortlink-proxy/values.yaml
  ops/Helm/shortlink-referral/README.md
  ops/Helm/shortlink-referral/values.yaml
  ops/Helm/shortlink-shop/admin/README.md
  ops/Helm/shortlink-shop/admin/values.yaml
  ops/Helm/shortlink-support/README.md
  ops/Helm/shortlink-support/values.yaml
  ops/Helm/ui-kit/README.md
  ops/Helm/ui-kit/values.yaml
Due: none

nginx-ingress: update setting
  ops/Helm/addons/gateway/nginx-ingress/values.yaml
Due: none

vector: add to argocd and init helm chart
  ops/Helm/addons/observability/grafana-loki/promtail.values.yaml
  ops/Helm/addons/observability/vector/Chart.lock
  ops/Helm/addons/observability/vector/Chart.yaml
  ops/Helm/addons/observability/vector/charts/vector-0.32.0.tgz
  ops/Helm/addons/observability/vector/templates/NOTES.txt
  ops/Helm/addons/observability/vector/templates/limit_range.yaml
  ops/Helm/addons/observability/vector/values.yaml
  ops/argocd/observability/vector/application.yaml
Due: none

shop-admin: setting prometheus
  boundaries/shop/admin/src/admin/settings.py
Due: backend

vector: add transforms
  ops/Helm/addons/observability/vector/values.yaml
Due: none

vector: setting
  ops/Helm/addons/observability/vector/values.yaml
Due: none

upd deps
  ops/Helm/shortlink-api/shortlink-api-cloudevents/README.md
  ops/Helm/shortlink-api/shortlink-api-cloudevents/values.yaml
  ops/Helm/shortlink-api/shortlink-api-graphql/README.md
  ops/Helm/shortlink-api/shortlink-api-graphql/values.yaml
  ops/Helm/shortlink-api/shortlink-api-grpc-web/README.md
  ops/Helm/shortlink-api/shortlink-api-grpc-web/values.yaml
  ops/Helm/shortlink-api/shortlink-api-ws/README.md
  ops/Helm/shortlink-api/shortlink-api-ws/values.yaml
  ops/Helm/shortlink-auth/README.md
  ops/Helm/shortlink-bff-link/README.md
  ops/Helm/shortlink-bff-link/values.yaml
  ops/Helm/shortlink-billing/README.md
  ops/Helm/shortlink-bot/README.md
  ops/Helm/shortlink-bot/values.yaml
  ops/Helm/shortlink-link/README.md
  ops/Helm/shortlink-link/values.yaml
  ops/Helm/shortlink-logger/README.md
  ops/Helm/shortlink-logger/values.yaml
  ops/Helm/shortlink-metadata/README.md
  ops/Helm/shortlink-metadata/values.yaml
  ops/Helm/shortlink-next/README.md
  ops/Helm/shortlink-next/values.yaml
  ops/Helm/shortlink-notify/README.md
  ops/Helm/shortlink-notify/values.yaml
  ops/Helm/shortlink-proxy/README.md
  ops/Helm/shortlink-proxy/values.yaml
  ops/Helm/shortlink-referral/README.md
  ops/Helm/shortlink-referral/values.yaml
  ops/Helm/shortlink-shop/admin/README.md
  ops/Helm/shortlink-shop/admin/values.yaml
  ops/Helm/shortlink-support/README.md
  ops/Helm/shortlink-support/values.yaml
  ops/Helm/ui-kit/README.md
  ops/Helm/ui-kit/values.yaml
Due: none

Path conditions:
  backend: any of: internal/, pkg/, boundaries/
  shortlink: any of: boundaries/link
  frontend: any of: boundaries/ui
